<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.webapi.dao.BjjlDao">

	<select id="get" resultType="com.smart119.webapi.domain.BjjlDO">
		select `XFJYJG_TYWYSBM`,``BJ_TYWYSBM`,`THJL_TYWYSBM`,`XZQHDM`,`BJFSLBDM`,`BJDH`,`RQSJ`,`DZMC`,`DQJD`,`DQWD`,`XFRY_TYWYSBM`,`cdate`,`cperson`,`status` from jqxx_bjjl where BJ_TYWYSBM = #{value}
	</select>

	<select id="list" resultType="com.smart119.webapi.domain.BjjlDO">
		select 	`XFJYJG_TYWYSBM`,
		`BJ_TYWYSBM`,
		`THJL_TYWYSBM`,
		`XZQHDM`,
		`BJFSLBDM`,
		`BJDH`,
		`RQSJ`,
		`DZMC`,
		`DQJD`,
		`DQWD`,
		`XFRY_TYWYSBM`,
		`cdate`,
		`cperson`,
		`STATUS`  from jqxx_bjjl
     <where>
		  		  <if test="bjTywysbm != null and bjTywysbm != ''"> and BJ_TYWYSBM = #{bjTywysbm} </if>
		  		  <if test="thjlTywysbm != null and thjlTywysbm != ''"> and THJL_TYWYSBM = #{thjlTywysbm} </if>
		  		  <if test="xzqhdm != null and xzqhdm != ''"> and XZQHDM = #{xzqhdm} </if>
		  		  <if test="bjfslbdm != null and bjfslbdm != ''"> and BJFSLBDM = #{bjfslbdm} </if>
		  		  <if test="bjdh != null and bjdh != ''"> and BJDH = #{bjdh} </if>
		  		  <if test="rqsj != null and rqsj != ''"> and RQSJ = #{rqsj} </if>
		  		  <if test="dzmc != null and dzmc != ''"> and DZMC = #{dzmc} </if>
		  		  <if test="dqjd != null and dqjd != ''"> and DQJD = #{dqjd} </if>
		  		  <if test="dqwd != null and dqwd != ''"> and DQWD = #{dqwd} </if>
		  		  <if test="xfryTywysbm != null and xfryTywysbm != ''"> and XFRY_TYWYSBM = #{xfryTywysbm} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
			      <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by cdate desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

 	<select id="count" resultType="int">
		select count(*) from jqxx_bjjl
		 <where>
		  		  <if test="bjTywysbm != null and bjTywysbm != ''"> and BJ_TYWYSBM = #{bjTywysbm} </if>
		  		  <if test="thjlTywysbm != null and thjlTywysbm != ''"> and THJL_TYWYSBM = #{thjlTywysbm} </if>
		  		  <if test="xzqhdm != null and xzqhdm != ''"> and XZQHDM = #{xzqhdm} </if>
		  		  <if test="bjfslbdm != null and bjfslbdm != ''"> and BJFSLBDM = #{bjfslbdm} </if>
		  		  <if test="bjdh != null and bjdh != ''"> and BJDH = #{bjdh} </if>
		  		  <if test="rqsj != null and rqsj != ''"> and RQSJ = #{rqsj} </if>
		  		  <if test="dzmc != null and dzmc != ''"> and DZMC = #{dzmc} </if>
		  		  <if test="dqjd != null and dqjd != ''"> and DQJD = #{dqjd} </if>
		  		  <if test="dqwd != null and dqwd != ''"> and DQWD = #{dqwd} </if>
		  		  <if test="xfryTywysbm != null and xfryTywysbm != ''"> and XFRY_TYWYSBM = #{xfryTywysbm} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
			     <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
		 </where>
	</select>

	<select id="countByDate" resultType="int">
		SELECT COUNT(*) FROM jqxx_bjjl WHERE cdate BETWEEN DATE_FORMAT(CURDATE(),'%Y-%m-%d %H:%i:%s') AND NOW() ORDER BY cdate
	</select>

	<insert id="save" parameterType="com.smart119.webapi.domain.BjjlDO">
		insert into jqxx_bjjl
		(
			`BJ_TYWYSBM`,
			`THJL_TYWYSBM`,
			`XZQHDM`,
			`BJFSLBDM`,
			`BJDH`,
			`RQSJ`,
			`DZMC`,
			`DQJD`,
			`DQWD`,
			`XFRY_TYWYSBM`,
			`cdate`,
			`cperson`,
			`status`,
		`XFJYJG_TYWYSBM`
		)
		values
		(
			#{bjTywysbm},
			#{thjlTywysbm},
			#{xzqhdm},
			#{bjfslbdm},
			#{bjdh},
			#{rqsj},
			#{dzmc},
			#{dqjd},
			#{dqwd},
			#{xfryTywysbm},
			#{cdate},
			#{cperson},
			#{status},
		#{xfjyjgTywysbm}
		)
	</insert>

	<update id="update" parameterType="com.smart119.webapi.domain.BjjlDO">
		update jqxx_bjjl
		<set>
			<if test="thjlTywysbm != null">`THJL_TYWYSBM` = #{thjlTywysbm}, </if>
			<if test="xzqhdm != null">`XZQHDM` = #{xzqhdm}, </if>
			<if test="bjfslbdm != null">`BJFSLBDM` = #{bjfslbdm}, </if>
			<if test="bjdh != null">`BJDH` = #{bjdh}, </if>
			<if test="rqsj != null">`RQSJ` = #{rqsj}, </if>
			<if test="dzmc != null">`DZMC` = #{dzmc}, </if>
			<if test="dqjd != null">`DQJD` = #{dqjd}, </if>
			<if test="dqwd != null">`DQWD` = #{dqwd}, </if>
			<if test="xfryTywysbm != null">`XFRY_TYWYSBM` = #{xfryTywysbm}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="xfjyjgTywysbm != null">`xfjyjgTywysbm` = #{XFJYJG_TYWYSBM}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where BJ_TYWYSBM = #{bjTywysbm}
	</update>

	<delete id="remove">
		delete from jqxx_bjjl where BJ_TYWYSBM = #{value}
	</delete>

	<delete id="batchRemove">
		delete from jqxx_bjjl where BJ_TYWYSBM in
		<foreach item="bjTywysbm" collection="array" open="(" separator="," close=")">
			#{bjTywysbm}
		</foreach>
	</delete>

	<select id="bjQuery" resultType="com.smart119.webapi.domain.BjjlDO">
		select b.*,j.JQ_TYWYSBM,j.JQZT_LBDM from jqxx_bjjl b , jqxx_jbxx j
		<where>
			j.BJ_TYWYSBM=b.BJ_TYWYSBM
			<if test="bjTywysbm != null and bjTywysbm != ''"> and b.BJ_TYWYSBM = #{bjTywysbm} </if>
			<if test="thjlTywysbm != null and thjlTywysbm != ''"> and b.THJL_TYWYSBM = #{thjlTywysbm} </if>
			<if test="xzqhdm != null and xzqhdm != ''"> and b.XZQHDM = #{xzqhdm} </if>
			<if test="bjfslbdm != null and bjfslbdm != ''"> and b.BJFSLBDM = #{bjfslbdm} </if>
			<if test="bjdh != null and bjdh != ''"> and b.BJDH = #{bjdh} </if>
			<if test="rqsj != null and rqsj != ''"> and b.RQSJ = #{rqsj} </if>
			<if test="dzmc != null and dzmc != ''"> and b.DZMC = #{dzmc} </if>
			<if test="dqjd != null and dqjd != ''"> and b.DQJD = #{dqjd} </if>
			<if test="dqwd != null and dqwd != ''"> and b.DQWD = #{dqwd} </if>
			<if test="xfryTywysbm != null and xfryTywysbm != ''"> and b.XFRY_TYWYSBM = #{xfryTywysbm} </if>
			<if test="cdate != null and cdate != ''"> and b.cdate = #{cdate} </if>
			<if test="cperson != null and cperson != ''"> and b.cperson = #{cperson} </if>
			<if test="status != null and status != ''"> and b.status = #{status} </if>
			<if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and b.XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by b.cdate desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
    </select>
	<select id="bjcount" resultType="int">
		select count(*) from jqxx_bjjl b , jqxx_jbxx j
		<where>
			j.BJ_TYWYSBM=b.BJ_TYWYSBM
			<if test="bjTywysbm != null and bjTywysbm != ''"> and b.BJ_TYWYSBM = #{bjTywysbm} </if>
			<if test="thjlTywysbm != null and thjlTywysbm != ''"> and b.THJL_TYWYSBM = #{thjlTywysbm} </if>
			<if test="xzqhdm != null and xzqhdm != ''"> and b.XZQHDM = #{xzqhdm} </if>
			<if test="bjfslbdm != null and bjfslbdm != ''"> and b.BJFSLBDM = #{bjfslbdm} </if>
			<if test="bjdh != null and bjdh != ''"> and b.BJDH = #{bjdh} </if>
			<if test="rqsj != null and rqsj != ''"> and b.RQSJ = #{rqsj} </if>
			<if test="dzmc != null and dzmc != ''"> and b.DZMC = #{dzmc} </if>
			<if test="dqjd != null and dqjd != ''"> and b.DQJD = #{dqjd} </if>
			<if test="dqwd != null and dqwd != ''"> and b.DQWD = #{dqwd} </if>
			<if test="xfryTywysbm != null and xfryTywysbm != ''"> and b.XFRY_TYWYSBM = #{xfryTywysbm} </if>
			<if test="cdate != null and cdate != ''"> and b.cdate = #{cdate} </if>
			<if test="cperson != null and cperson != ''"> and b.cperson = #{cperson} </if>
			<if test="status != null and status != ''"> and b.status = #{status} </if>
			<if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and b.XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
		</where>
	</select>
</mapper>
