<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.webapi.dao.DtsxDao">

	<select id="get" resultType="com.smart119.webapi.domain.DtsxDO">
		select `DTSX_TYWYSBM`,`ZHCS_ID`,`SXM`,`NULL_FLAG`,`cdate`,`cperson`,`status` from jqxx_dtsx where DTSX_TYWYSBM = #{value}
	</select>

	<select id="list" resultType="com.smart119.webapi.domain.DtsxDO">
		SELECT
		jqxx_dtsx.DTSX_TYWYSBM,
		jqxx_dtsx.ZHCS_ID,
		jqxx_dtsx.SXM,
		jqxx_dtsx.NULL_FLAG,
		jqxx_dtsx.cdate,
		jqxx_dtsx.cperson,
		jqxx_dtsx.`status`
		FROM
		jqxx_dtsx

        <where>
		  		  <if test="dtsxTywysbm != null and dtsxTywysbm != ''"> and DTSX_TYWYSBM = #{dtsxTywysbm} </if>
		  		  <if test="zhcsId != null and zhcsId != ''"> and ZHCS_ID = #{zhcsId} </if>
		  		  <if test="sxm != null and sxm != ''"> and SXM = #{sxm} </if>
		  		  <if test="nullFlag != null and nullFlag != ''"> and NULL_FLAG = #{nullFlag} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by jqxx_dtsx.DTSX_TYWYSBM desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

 	<select id="count" resultType="int">
		select count(*) from jqxx_dtsx 		LEFT JOIN jqxx_dtsxz on jqxx_dtsxz.DTSX_TYWYSBM=jqxx_dtsx.DTSX_TYWYSBM

		<where>
		  		  <if test="dtsxTywysbm != null and dtsxTywysbm != ''"> and DTSX_TYWYSBM = #{dtsxTywysbm} </if>
		  		  <if test="zhcsId != null and zhcsId != ''"> and ZHCS_ID = #{zhcsId} </if>
		  		  <if test="sxm != null and sxm != ''"> and SXM = #{sxm} </if>
		  		  <if test="nullFlag != null and nullFlag != ''"> and NULL_FLAG = #{nullFlag} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>

	<insert id="save" parameterType="com.smart119.webapi.domain.DtsxDO">
		insert into jqxx_dtsx
		(
			`DTSX_TYWYSBM`,
			`ZHCS_ID`,
			`SXM`,
			`NULL_FLAG`,
			`cdate`,
			`cperson`,
			`status`
		)
		values
		(
			#{dtsxTywysbm},
			#{zhcsId},
			#{sxm},
			#{nullFlag},
			#{cdate},
			#{cperson},
			#{status}
		)
	</insert>

	<update id="update" parameterType="com.smart119.webapi.domain.DtsxDO">
		update jqxx_dtsx
		<set>
			<if test="zhcsId != null">`ZHCS_ID` = #{zhcsId}, </if>
			<if test="sxm != null">`SXM` = #{sxm}, </if>
			<if test="nullFlag != null">`NULL_FLAG` = #{nullFlag}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where DTSX_TYWYSBM = #{dtsxTywysbm}
	</update>

	<delete id="remove">
		delete from jqxx_dtsx where DTSX_TYWYSBM = #{value}
	</delete>

	<delete id="batchRemove">
		delete from jqxx_dtsx where DTSX_TYWYSBM in
		<foreach item="dtsxTywysbm" collection="array" open="(" separator="," close=")">
			#{dtsxTywysbm}
		</foreach>
	</delete>

</mapper>
