<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.webapi.dao.JqcjdpYaDao">

	<select id="get" resultType="com.smart119.webapi.domain.JqcjdpYaDO">
		select `JQCJDP_YA_ID`,`YJYA_TYWYSBM`,`JQ_TYWYSBM`,`cdate`,`cperson`,`status` from jqxx_jqcjdp_ya where JQCJDP_YA_ID = #{value}
	</select>

	<select id="list" resultType="com.smart119.webapi.domain.JqcjdpYaDO">
		select `JQCJDP_YA_ID`,`YJYA_TYWYSBM`,`JQ_TYWYSBM`,`cdate`,`cperson`,`status` from jqxx_jqcjdp_ya
        <where>  
		  		  <if test="jqcjdpYaId != null and jqcjdpYaId != ''"> and JQCJDP_YA_ID = #{jqcjdpYaId} </if>
		  		  <if test="yjyaTywysbm != null and yjyaTywysbm != ''"> and YJYA_TYWYSBM = #{yjyaTywysbm} </if>
		  		  <if test="jqTywysbm != null and jqTywysbm != ''"> and JQ_TYWYSBM = #{jqTywysbm} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by JQCJDP_YA_ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jqxx_jqcjdp_ya
		 <where>  
		  		  <if test="jqcjdpYaId != null and jqcjdpYaId != ''"> and JQCJDP_YA_ID = #{jqcjdpYaId} </if>
		  		  <if test="yjyaTywysbm != null and yjyaTywysbm != ''"> and YJYA_TYWYSBM = #{yjyaTywysbm} </if>
		  		  <if test="jqTywysbm != null and jqTywysbm != ''"> and JQ_TYWYSBM = #{jqTywysbm} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.webapi.domain.JqcjdpYaDO">
		insert into jqxx_jqcjdp_ya
		(
			`JQCJDP_YA_ID`, 
			`YJYA_TYWYSBM`, 
			`JQ_TYWYSBM`, 
			`cdate`, 
			`cperson`, 
			`status`
		)
		values
		(
			#{jqcjdpYaId}, 
			#{yjyaTywysbm}, 
			#{jqTywysbm}, 
			#{cdate}, 
			#{cperson}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.webapi.domain.JqcjdpYaDO">
		update jqxx_jqcjdp_ya 
		<set>
			<if test="yjyaTywysbm != null">`YJYA_TYWYSBM` = #{yjyaTywysbm}, </if>
			<if test="jqTywysbm != null">`JQ_TYWYSBM` = #{jqTywysbm}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where JQCJDP_YA_ID = #{jqcjdpYaId}
	</update>
	
	<delete id="remove">
		delete from jqxx_jqcjdp_ya where JQCJDP_YA_ID = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jqxx_jqcjdp_ya where JQCJDP_YA_ID in 
		<foreach item="jqcjdpYaId" collection="array" open="(" separator="," close=")">
			#{jqcjdpYaId}
		</foreach>
	</delete>

</mapper>