<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.webapi.dao.JqcjdpDao">

	<select id="get" resultType="com.smart119.webapi.domain.JqcjdpDO">
		select `JQCJDP_TYWYSBM`,`JLR_TYWYSBM`,`JLR_XM`,`JQCJDP_DPLX`,`JQCJDP_DPSJ`,`JQCJDP_DPYJ`,`JQ_TYWYSBM`,`TQ`,`JQDJ_TYWYSBM`,`JQLB_TYWYSBM`,`JQLX_TYWYSBM`,`DPXS`,`FJSY`,`FJSXT`,`JQCJDP_RQSJ`,`JQCJDP_XGYY`,`JQCJDPTJFA_TYWYSBM`,`JQCJDPZTLBDM`,`status`,`cperson`,`cdate` from jqxx_jqcjdp where JQCJDP_TYWYSBM = #{value}
	</select>

	<select id="list" resultType="com.smart119.webapi.domain.JqcjdpDO">
		select `JQCJDP_TYWYSBM`,`JLR_TYWYSBM`,`JLR_XM`,`JQCJDP_DPLX`,`JQCJDP_DPSJ`,`JQCJDP_DPYJ`,`JQ_TYWYSBM`,`TQ`,`JQDJ_TYWYSBM`,`JQLB_TYWYSBM`,`JQLX_TYWYSBM`,`DPXS`,`FJSY`,`FJSXT`,`JQCJDP_RQSJ`,`JQCJDP_XGYY`,`JQCJDPTJFA_TYWYSBM`,`JQCJDPZTLBDM`,`status`,`cperson`,`cdate` from jqxx_jqcjdp
        <where>  
		  		  <if test="jqcjdpTywysbm != null and jqcjdpTywysbm != ''"> and JQCJDP_TYWYSBM = #{jqcjdpTywysbm} </if>
		  		  <if test="jlrTywysbm != null and jlrTywysbm != ''"> and JLR_TYWYSBM = #{jlrTywysbm} </if>
		  		  <if test="jlrXm != null and jlrXm != ''"> and JLR_XM = #{jlrXm} </if>
		  		  <if test="jqcjdpDplx != null and jqcjdpDplx != ''"> and JQCJDP_DPLX = #{jqcjdpDplx} </if>
		  		  <if test="jqcjdpDpsj != null and jqcjdpDpsj != ''"> and JQCJDP_DPSJ = #{jqcjdpDpsj} </if>
		  		  <if test="jqcjdpDpyj != null and jqcjdpDpyj != ''"> and JQCJDP_DPYJ = #{jqcjdpDpyj} </if>
		  		  <if test="jqTywysbm != null and jqTywysbm != ''"> and JQ_TYWYSBM = #{jqTywysbm} </if>
		  		  <if test="tq != null and tq != ''"> and TQ = #{tq} </if>
		  		  <if test="jqdjTywysbm != null and jqdjTywysbm != ''"> and JQDJ_TYWYSBM = #{jqdjTywysbm} </if>
		  		  <if test="jqlbTywysbm != null and jqlbTywysbm != ''"> and JQLB_TYWYSBM = #{jqlbTywysbm} </if>
		  		  <if test="jqlxTywysbm != null and jqlxTywysbm != ''"> and JQLX_TYWYSBM = #{jqlxTywysbm} </if>
		  		  <if test="dpxs != null and dpxs != ''"> and DPXS = #{dpxs} </if>
		  		  <if test="fjsy != null and fjsy != ''"> and FJSY = #{fjsy} </if>
		  		  <if test="fjsxt != null and fjsxt != ''"> and FJSXT = #{fjsxt} </if>
		  		  <if test="jqcjdpRqsj != null and jqcjdpRqsj != ''"> and JQCJDP_RQSJ = #{jqcjdpRqsj} </if>
		  		  <if test="jqcjdpXgyy != null and jqcjdpXgyy != ''"> and JQCJDP_XGYY = #{jqcjdpXgyy} </if>
		  		  <if test="jqcjdptjfaTywysbm != null and jqcjdptjfaTywysbm != ''"> and JQCJDPTJFA_TYWYSBM = #{jqcjdptjfaTywysbm} </if>
		  		  <if test="jqcjdpztlbdm != null and jqcjdpztlbdm != ''"> and JQCJDPZTLBDM = #{jqcjdpztlbdm} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by JQCJDP_TYWYSBM desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jqxx_jqcjdp
		 <where>  
		  		  <if test="jqcjdpTywysbm != null and jqcjdpTywysbm != ''"> and JQCJDP_TYWYSBM = #{jqcjdpTywysbm} </if>
		  		  <if test="jlrTywysbm != null and jlrTywysbm != ''"> and JLR_TYWYSBM = #{jlrTywysbm} </if>
		  		  <if test="jlrXm != null and jlrXm != ''"> and JLR_XM = #{jlrXm} </if>
		  		  <if test="jqcjdpDplx != null and jqcjdpDplx != ''"> and JQCJDP_DPLX = #{jqcjdpDplx} </if>
		  		  <if test="jqcjdpDpsj != null and jqcjdpDpsj != ''"> and JQCJDP_DPSJ = #{jqcjdpDpsj} </if>
		  		  <if test="jqcjdpDpyj != null and jqcjdpDpyj != ''"> and JQCJDP_DPYJ = #{jqcjdpDpyj} </if>
		  		  <if test="jqTywysbm != null and jqTywysbm != ''"> and JQ_TYWYSBM = #{jqTywysbm} </if>
		  		  <if test="tq != null and tq != ''"> and TQ = #{tq} </if>
		  		  <if test="jqdjTywysbm != null and jqdjTywysbm != ''"> and JQDJ_TYWYSBM = #{jqdjTywysbm} </if>
		  		  <if test="jqlbTywysbm != null and jqlbTywysbm != ''"> and JQLB_TYWYSBM = #{jqlbTywysbm} </if>
		  		  <if test="jqlxTywysbm != null and jqlxTywysbm != ''"> and JQLX_TYWYSBM = #{jqlxTywysbm} </if>
		  		  <if test="dpxs != null and dpxs != ''"> and DPXS = #{dpxs} </if>
		  		  <if test="fjsy != null and fjsy != ''"> and FJSY = #{fjsy} </if>
		  		  <if test="fjsxt != null and fjsxt != ''"> and FJSXT = #{fjsxt} </if>
		  		  <if test="jqcjdpRqsj != null and jqcjdpRqsj != ''"> and JQCJDP_RQSJ = #{jqcjdpRqsj} </if>
		  		  <if test="jqcjdpXgyy != null and jqcjdpXgyy != ''"> and JQCJDP_XGYY = #{jqcjdpXgyy} </if>
		  		  <if test="jqcjdptjfaTywysbm != null and jqcjdptjfaTywysbm != ''"> and JQCJDPTJFA_TYWYSBM = #{jqcjdptjfaTywysbm} </if>
		  		  <if test="jqcjdpztlbdm != null and jqcjdpztlbdm != ''"> and JQCJDPZTLBDM = #{jqcjdpztlbdm} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.webapi.domain.JqcjdpDO">
		insert into jqxx_jqcjdp
		(
			`JQCJDP_TYWYSBM`, 
			`JLR_TYWYSBM`, 
			`JLR_XM`, 
			`JQCJDP_DPLX`, 
			`JQCJDP_DPSJ`, 
			`JQCJDP_DPYJ`, 
			`JQ_TYWYSBM`, 
			`TQ`, 
			`JQDJ_TYWYSBM`, 
			`JQLB_TYWYSBM`, 
			`JQLX_TYWYSBM`, 
			`DPXS`, 
			`FJSY`, 
			`FJSXT`, 
			`JQCJDP_RQSJ`, 
			`JQCJDP_XGYY`, 
			`JQCJDPTJFA_TYWYSBM`, 
			`JQCJDPZTLBDM`, 
			`status`, 
			`cperson`, 
			`cdate`
		)
		values
		(
			#{jqcjdpTywysbm}, 
			#{jlrTywysbm}, 
			#{jlrXm}, 
			#{jqcjdpDplx}, 
			#{jqcjdpDpsj}, 
			#{jqcjdpDpyj}, 
			#{jqTywysbm}, 
			#{tq}, 
			#{jqdjTywysbm}, 
			#{jqlbTywysbm}, 
			#{jqlxTywysbm}, 
			#{dpxs}, 
			#{fjsy}, 
			#{fjsxt}, 
			#{jqcjdpRqsj}, 
			#{jqcjdpXgyy}, 
			#{jqcjdptjfaTywysbm}, 
			#{jqcjdpztlbdm}, 
			#{status}, 
			#{cperson}, 
			#{cdate}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.webapi.domain.JqcjdpDO">
		update jqxx_jqcjdp 
		<set>
			<if test="jlrTywysbm != null">`JLR_TYWYSBM` = #{jlrTywysbm}, </if>
			<if test="jlrXm != null">`JLR_XM` = #{jlrXm}, </if>
			<if test="jqcjdpDplx != null">`JQCJDP_DPLX` = #{jqcjdpDplx}, </if>
			<if test="jqcjdpDpsj != null">`JQCJDP_DPSJ` = #{jqcjdpDpsj}, </if>
			<if test="jqcjdpDpyj != null">`JQCJDP_DPYJ` = #{jqcjdpDpyj}, </if>
			<if test="jqTywysbm != null">`JQ_TYWYSBM` = #{jqTywysbm}, </if>
			<if test="tq != null">`TQ` = #{tq}, </if>
			<if test="jqdjTywysbm != null">`JQDJ_TYWYSBM` = #{jqdjTywysbm}, </if>
			<if test="jqlbTywysbm != null">`JQLB_TYWYSBM` = #{jqlbTywysbm}, </if>
			<if test="jqlxTywysbm != null">`JQLX_TYWYSBM` = #{jqlxTywysbm}, </if>
			<if test="dpxs != null">`DPXS` = #{dpxs}, </if>
			<if test="fjsy != null">`FJSY` = #{fjsy}, </if>
			<if test="fjsxt != null">`FJSXT` = #{fjsxt}, </if>
			<if test="jqcjdpRqsj != null">`JQCJDP_RQSJ` = #{jqcjdpRqsj}, </if>
			<if test="jqcjdpXgyy != null">`JQCJDP_XGYY` = #{jqcjdpXgyy}, </if>
			<if test="jqcjdptjfaTywysbm != null">`JQCJDPTJFA_TYWYSBM` = #{jqcjdptjfaTywysbm}, </if>
			<if test="jqcjdpztlbdm != null">`JQCJDPZTLBDM` = #{jqcjdpztlbdm}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="cdate != null">`cdate` = #{cdate}</if>
		</set>
		where JQCJDP_TYWYSBM = #{jqcjdpTywysbm}
	</update>
	
	<delete id="remove">
		delete from jqxx_jqcjdp where JQCJDP_TYWYSBM = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jqxx_jqcjdp where JQCJDP_TYWYSBM in 
		<foreach item="jqcjdpTywysbm" collection="array" open="(" separator="," close=")">
			#{jqcjdpTywysbm}
		</foreach>
	</delete>

	<select id="findXfjgcdByJqBm" resultType="com.smart119.webapi.domain.XfjgcdxxDO">
		select XFJG_CDDM,XFJYJG_TYWYSBM from `jqxx_xfjgcdxx`
		where JQ_TYWYSBM = #{jqTywysbm}
		and XFJYJG_TYWYSBM = #{xfjyjgTywysbm}
	</select>


</mapper>