<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.webapi.dao.JqcjdpBcbdDao">

	<select id="get" resultType="com.smart119.webapi.domain.JqcjdpBcbdDO">
		select `JQCJDP_BCBD_ID`,`BCBD_ID`,`JQ_TYWYSBM`,`cdate`,`cperson`,`status` from jqxx_jqcjdp_bcbd where JQCJDP_BCBD_ID = #{value}
	</select>

	<select id="list" resultType="com.smart119.webapi.domain.JqcjdpBcbdDO">
		select `JQCJDP_BCBD_ID`,`BCBD_ID`,`JQ_TYWYSBM`,`cdate`,`cperson`,`status` from jqxx_jqcjdp_bcbd
        <where>  
		  		  <if test="jqcjdpBcbdId != null and jqcjdpBcbdId != ''"> and JQCJDP_BCBD_ID = #{jqcjdpBcbdId} </if>
		  		  <if test="bcbdId != null and bcbdId != ''"> and BCBD_ID = #{bcbdId} </if>
		  		  <if test="jqTywysbm != null and jqTywysbm != ''"> and JQ_TYWYSBM = #{jqTywysbm} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by JQCJDP_BCBD_ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jqxx_jqcjdp_bcbd
		 <where>  
		  		  <if test="jqcjdpBcbdId != null and jqcjdpBcbdId != ''"> and JQCJDP_BCBD_ID = #{jqcjdpBcbdId} </if>
		  		  <if test="bcbdId != null and bcbdId != ''"> and BCBD_ID = #{bcbdId} </if>
		  		  <if test="jqTywysbm != null and jqTywysbm != ''"> and JQ_TYWYSBM = #{jqTywysbm} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.webapi.domain.JqcjdpBcbdDO">
		insert into jqxx_jqcjdp_bcbd
		(
			`JQCJDP_BCBD_ID`, 
			`BCBD_ID`, 
			`JQ_TYWYSBM`, 
			`cdate`, 
			`cperson`, 
			`status`
		)
		values
		(
			#{jqcjdpBcbdId}, 
			#{bcbdId}, 
			#{jqTywysbm}, 
			#{cdate}, 
			#{cperson}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.webapi.domain.JqcjdpBcbdDO">
		update jqxx_jqcjdp_bcbd 
		<set>
			<if test="bcbdId != null">`BCBD_ID` = #{bcbdId}, </if>
			<if test="jqTywysbm != null">`JQ_TYWYSBM` = #{jqTywysbm}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where JQCJDP_BCBD_ID = #{jqcjdpBcbdId}
	</update>
	
	<delete id="remove">
		delete from jqxx_jqcjdp_bcbd where JQCJDP_BCBD_ID = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jqxx_jqcjdp_bcbd where JQCJDP_BCBD_ID in 
		<foreach item="jqcjdpBcbdId" collection="array" open="(" separator="," close=")">
			#{jqcjdpBcbdId}
		</foreach>
	</delete>

</mapper>