<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.webapi.dao.JqdtDao">

	<select id="get" resultType="com.smart119.webapi.domain.JqdtDO">
		select `JQDT_ID`,`JQ_TYWYSBM`,`DTSJ`,`BT`,`NR`,`FJ_URL`,`FJ_LX`,`cdate`,`status`,`cperson` from jqxx_jqdt where JQDT_ID = #{value}
	</select>

	<select id="list" resultType="com.smart119.webapi.domain.JqdtDO">
		select `JQDT_ID`,`JQ_TYWYSBM`,`DTSJ`,`BT`,`NR`,`FJ_URL`,`FJ_LX`,`cdate`,`status`,`cperson` from jqxx_jqdt
        <where>  
		  		  <if test="jqdtId != null and jqdtId != ''"> and JQDT_ID = #{jqdtId} </if>
		  		  <if test="jqTywysbm != null and jqTywysbm != ''"> and JQ_TYWYSBM = #{jqTywysbm} </if>
		  		  <if test="dtsj != null and dtsj != ''"> and DTSJ = #{dtsj} </if>
		  		  <if test="bt != null and bt != ''"> and BT = #{bt} </if>
		  		  <if test="nr != null and nr != ''"> and NR = #{nr} </if>
		  		  <if test="fjUrl != null and fjUrl != ''"> and FJ_URL = #{fjUrl} </if>
		  		  <if test="fjLx != null and fjLx != ''"> and FJ_LX = #{fjLx} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by JQDT_ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jqxx_jqdt
		 <where>  
		  		  <if test="jqdtId != null and jqdtId != ''"> and JQDT_ID = #{jqdtId} </if>
		  		  <if test="jqTywysbm != null and jqTywysbm != ''"> and JQ_TYWYSBM = #{jqTywysbm} </if>
		  		  <if test="dtsj != null and dtsj != ''"> and DTSJ = #{dtsj} </if>
		  		  <if test="bt != null and bt != ''"> and BT = #{bt} </if>
		  		  <if test="nr != null and nr != ''"> and NR = #{nr} </if>
		  		  <if test="fjUrl != null and fjUrl != ''"> and FJ_URL = #{fjUrl} </if>
		  		  <if test="fjLx != null and fjLx != ''"> and FJ_LX = #{fjLx} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.webapi.domain.JqdtDO">
		insert into jqxx_jqdt
		(
			`JQDT_ID`, 
			`JQ_TYWYSBM`, 
			`DTSJ`, 
			`BT`, 
			`NR`, 
			`FJ_URL`, 
			`FJ_LX`, 
			`cdate`, 
			`status`, 
			`cperson`
		)
		values
		(
			#{jqdtId}, 
			#{jqTywysbm}, 
			#{dtsj}, 
			#{bt}, 
			#{nr}, 
			#{fjUrl}, 
			#{fjLx}, 
			#{cdate}, 
			#{status}, 
			#{cperson}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.webapi.domain.JqdtDO">
		update jqxx_jqdt 
		<set>
			<if test="jqTywysbm != null">`JQ_TYWYSBM` = #{jqTywysbm}, </if>
			<if test="dtsj != null">`DTSJ` = #{dtsj}, </if>
			<if test="bt != null">`BT` = #{bt}, </if>
			<if test="nr != null">`NR` = #{nr}, </if>
			<if test="fjUrl != null">`FJ_URL` = #{fjUrl}, </if>
			<if test="fjLx != null">`FJ_LX` = #{fjLx}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="cperson != null">`cperson` = #{cperson}</if>
		</set>
		where JQDT_ID = #{jqdtId}
	</update>
	
	<delete id="remove">
		delete from jqxx_jqdt where JQDT_ID = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jqxx_jqdt where JQDT_ID in 
		<foreach item="jqdtId" collection="array" open="(" separator="," close=")">
			#{jqdtId}
		</foreach>
	</delete>

	<select id="getJqdtByJqId" resultType="com.smart119.webapi.domain.JqdtDO">
		select `JQDT_ID`,`JQ_TYWYSBM`,`DTSJ`,`BT`,`NR`,`FJ_URL`,`FJ_LX`,`cdate`,`status`,`cperson` from jqxx_jqdt where JQ_TYWYSBM = #{jqTywysbm}
		order by `DTSJ`
	</select>

</mapper>