<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.webapi.dao.JqwsDao">

	<select id="get" resultType="com.smart119.webapi.domain.JqwsDO">
		select `JQHCWS_TYWYSBM`,`JQWSZLLBDM`,`JQ_TYWYSBM`,`BT_MC`,`WSNR_JYQK`,`JLR_XM`,`JL_RQSJ`,`FKR_XM`,`FKJG`,`FK_RQSJ`,`FJ`,`cdate`,`cperson`,`status` from jczy_jqws where JQHCWS_TYWYSBM = #{value}
	</select>

	<select id="list" resultType="com.smart119.webapi.domain.JqwsDO">
		select `JQHCWS_TYWYSBM`,`JQWSZLLBDM`,`JQ_TYWYSBM`,`BT_MC`,`WSNR_JYQK`,`JLR_XM`,`JL_RQSJ`,`FKR_XM`,`FKJG`,`FK_RQSJ`,`FJ`,`cdate`,`cperson`,`status` from jczy_jqws
        <where>  
		  		  <if test="jqhcwsTywysbm != null and jqhcwsTywysbm != ''"> and JQHCWS_TYWYSBM = #{jqhcwsTywysbm} </if>
		  		  <if test="jqwszllbdm != null and jqwszllbdm != ''"> and JQWSZLLBDM = #{jqwszllbdm} </if>
		  		  <if test="jqTywysbm != null and jqTywysbm != ''"> and JQ_TYWYSBM = #{jqTywysbm} </if>
		  		  <if test="btMc != null and btMc != ''"> and BT_MC = #{btMc} </if>
		  		  <if test="wsnrJyqk != null and wsnrJyqk != ''"> and WSNR_JYQK = #{wsnrJyqk} </if>
		  		  <if test="jlrXm != null and jlrXm != ''"> and JLR_XM = #{jlrXm} </if>
		  		  <if test="jlRqsj != null and jlRqsj != ''"> and JL_RQSJ = #{jlRqsj} </if>
		  		  <if test="fkrXm != null and fkrXm != ''"> and FKR_XM = #{fkrXm} </if>
		  		  <if test="fkjg != null and fkjg != ''"> and FKJG = #{fkjg} </if>
		  		  <if test="fkRqsj != null and fkRqsj != ''"> and FK_RQSJ = #{fkRqsj} </if>
		  		  <if test="fj != null and fj != ''"> and FJ = #{fj} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by JQHCWS_TYWYSBM desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jczy_jqws
		 <where>  
		  		  <if test="jqhcwsTywysbm != null and jqhcwsTywysbm != ''"> and JQHCWS_TYWYSBM = #{jqhcwsTywysbm} </if>
		  		  <if test="jqwszllbdm != null and jqwszllbdm != ''"> and JQWSZLLBDM = #{jqwszllbdm} </if>
		  		  <if test="jqTywysbm != null and jqTywysbm != ''"> and JQ_TYWYSBM = #{jqTywysbm} </if>
		  		  <if test="btMc != null and btMc != ''"> and BT_MC = #{btMc} </if>
		  		  <if test="wsnrJyqk != null and wsnrJyqk != ''"> and WSNR_JYQK = #{wsnrJyqk} </if>
		  		  <if test="jlrXm != null and jlrXm != ''"> and JLR_XM = #{jlrXm} </if>
		  		  <if test="jlRqsj != null and jlRqsj != ''"> and JL_RQSJ = #{jlRqsj} </if>
		  		  <if test="fkrXm != null and fkrXm != ''"> and FKR_XM = #{fkrXm} </if>
		  		  <if test="fkjg != null and fkjg != ''"> and FKJG = #{fkjg} </if>
		  		  <if test="fkRqsj != null and fkRqsj != ''"> and FK_RQSJ = #{fkRqsj} </if>
		  		  <if test="fj != null and fj != ''"> and FJ = #{fj} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.webapi.domain.JqwsDO">
		insert into jczy_jqws
		(
			`JQHCWS_TYWYSBM`, 
			`JQWSZLLBDM`, 
			`JQ_TYWYSBM`, 
			`BT_MC`, 
			`WSNR_JYQK`, 
			`JLR_XM`, 
			`JL_RQSJ`, 
			`FKR_XM`, 
			`FKJG`, 
			`FK_RQSJ`, 
			`FJ`, 
			`cdate`, 
			`cperson`, 
			`status`
		)
		values
		(
			#{jqhcwsTywysbm}, 
			#{jqwszllbdm}, 
			#{jqTywysbm}, 
			#{btMc}, 
			#{wsnrJyqk}, 
			#{jlrXm}, 
			#{jlRqsj}, 
			#{fkrXm}, 
			#{fkjg}, 
			#{fkRqsj}, 
			#{fj}, 
			#{cdate}, 
			#{cperson}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.webapi.domain.JqwsDO">
		update jczy_jqws 
		<set>
			<if test="jqwszllbdm != null">`JQWSZLLBDM` = #{jqwszllbdm}, </if>
			<if test="jqTywysbm != null">`JQ_TYWYSBM` = #{jqTywysbm}, </if>
			<if test="btMc != null">`BT_MC` = #{btMc}, </if>
			<if test="wsnrJyqk != null">`WSNR_JYQK` = #{wsnrJyqk}, </if>
			<if test="jlrXm != null">`JLR_XM` = #{jlrXm}, </if>
			<if test="jlRqsj != null">`JL_RQSJ` = #{jlRqsj}, </if>
			<if test="fkrXm != null">`FKR_XM` = #{fkrXm}, </if>
			<if test="fkjg != null">`FKJG` = #{fkjg}, </if>
			<if test="fkRqsj != null">`FK_RQSJ` = #{fkRqsj}, </if>
			<if test="fj != null">`FJ` = #{fj}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where JQHCWS_TYWYSBM = #{jqhcwsTywysbm}
	</update>
	
	<delete id="remove">
		delete from jczy_jqws where JQHCWS_TYWYSBM = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jczy_jqws where JQHCWS_TYWYSBM in 
		<foreach item="jqhcwsTywysbm" collection="array" open="(" separator="," close=")">
			#{jqhcwsTywysbm}
		</foreach>
	</delete>

</mapper>