<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.webapi.dao.SeatsDao">

	<select id="get" resultType="com.smart119.webapi.domain.SeatsDO">
		select `seatsId`,`seatsName`,`seatsPhone`,`seatStatus`,`seatsDept`,`creaTime`,`ceeaUser` from phone_seats where seatsId = #{value}
	</select>

	<select id="list" resultType="com.smart119.webapi.domain.SeatsDO">
		select
			`seatsId`,`seatsName`,`seatsPhone`,
			 `seatsDept`,
			  dept.`DWMC` as seatsdeptname,
			 `seatsstatusout`,
			  dict.`name` as seatsstatusoutname,
			`creaTime`,`ceeaUser`
		 from phone_seats
		 left join sys_dept dept on phone_seats.seatsDept=dept.XFJYJG_TYWYSBM
		 left join sys_dict dict on phone_seats.seatsstatusout=dict.value and dict.type='ZXZTDM'
        <where>  
		  		  <if test="seatsid != null and seatsid != ''"> and seatsId = #{seatsid} </if>
		  		  <if test="seatsname != null and seatsname != ''"> and seatsName = #{seatsname} </if>
		  		  <if test="seatsphone != null and seatsphone != ''"> and seatsPhone = #{seatsphone} </if>
		  		  <if test="seatstatus != null and seatstatus != ''"> and seatStatus = #{seatstatus} </if>
		  		  <if test="seatsdept != null and seatsdept != ''"> and seatsDept = #{seatsdept} </if>
		  		  <if test="creatime != null and creatime != ''"> and creaTime = #{creatime} </if>
		  		  <if test="ceeauser != null and ceeauser != ''"> and ceeaUser = #{ceeauser} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by seatsId desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from phone_seats
		 <where>  
		  		  <if test="seatsid != null and seatsid != ''"> and seatsId = #{seatsid} </if>
		  		  <if test="seatsname != null and seatsname != ''"> and seatsName = #{seatsname} </if>
		  		  <if test="seatsphone != null and seatsphone != ''"> and seatsPhone = #{seatsphone} </if>
		  		  <if test="seatstatus != null and seatstatus != ''"> and seatStatus = #{seatstatus} </if>
		  		  <if test="seatsdept != null and seatsdept != ''"> and seatsDept = #{seatsdept} </if>
		  		  <if test="creatime != null and creatime != ''"> and creaTime = #{creatime} </if>
		  		  <if test="ceeauser != null and ceeauser != ''"> and ceeaUser = #{ceeauser} </if>
		  		</where>
	</select>
	<select id="getfileMap" parameterType="java.lang.String" resultType="java.util.Map" >
     select  IFNULL(`name`,'') `name`,  IFNULL(`f_type`,'') f_type,  IFNULL(`creatime`,'') creatime , IFNULL(`path`,'') path from sys_attachment where fid=#{id} AND status='0'
	</select>
	<select id="getJqGdList" parameterType="java.lang.String" resultType="java.util.Map" >
		SELECT
						IFNULL(jb.JQ_TYWYSBM,'') JQ_TYWYSBM,
			IFNULL(jb.JQ_JYQK,'') JQ_JYQK,
			IFNULL(( SELECT sys_dict.NAME FROM sys_dict WHERE value = jb.RSWDM and type='RSWDM' ) ,'') RSWDM,
			IFNULL(( SELECT sys_dict.NAME FROM sys_dict WHERE value = jb.ZHCSDM and type='ZHCSDM' ) ,'') ZHCSDM,
			IFNULL(( SELECT sys_dict.NAME FROM sys_dict WHERE value = jb.YWQKDM and type='YWQKDM' ) ,'')YWQKDM,
			IFNULL(jb.BJSJ,'') BJSJ,
			IFNULL(jb.LASJ,'') LASJ,
			IFNULL(jb.JASJ,'') JASJ,
			IFNULL(jb.JSMLSJ,'') JSMLSJ,
			IFNULL(jb.CDSJ,'') CDSJ,
			IFNULL(jb.DCSJ,'') DCSJ,
			IFNULL(jb.ZDZKSJ,'') ZDZKSJ,
			IFNULL(jb.CSSJ,'') CSSJ,
			IFNULL(jb.HSKZSJ,'') HSKZSJ,
			IFNULL(jb.JBPMSJ,'') JBPMSJ,

			IFNULL(jb.TSSJ,'') TSSJ,
			IFNULL(jb.GDSJ,'') GDSJ,
			IFNULL(jb.ZTFHSJ,'') ZTFHSJ,
			IFNULL(gd.JQGDJL_TYWYSBM,'') JQGDJL_TYWYSBM,
			IFNULL(gd.DCRY_RS,'') DCRY_RS,
			IFNULL(gd.CDCL_SL,'') CDCL_SL,
			IFNULL(gd.BKRY_RS,'') BKRY_RS,
			IFNULL(gd.QZSS_RS,'') QZSS_RS,
			IFNULL(gd.QZSW_RS,'') QZSW_RS,
			IFNULL(gd.QZSL_RS,'') QZSL_RS,
			IFNULL(gd.DWSS_RS,'') DWSS_RS ,
			IFNULL(gd.DWSW_RS,'') DWSW_RS,
			IFNULL(gd.DWSL_RS,'') DWSL_RS,
			IFNULL(gd.CCSS_JYQK,'') CCSS_JYQK,
			IFNULL(gd.ZHYY_JYQK,'') ZHYY_JYQK,
			IFNULL(gd.RS_MJ,'') RS_MJ
		FROM
			jqxx_jbxx jb
			LEFT JOIN jczy_jqgd gd ON jb.JQ_TYWYSBM = gd.JQ_TYWYSBM
			where jb.JQ_TYWYSBM=#{id}

			</select>
	<insert id="save" parameterType="com.smart119.webapi.domain.SeatsDO">
		insert into phone_seats
		(
			`seatsId`, 
			`seatsName`, 
			`seatsPhone`, 
			`seatStatus`, 
			`seatsDept`, 
			`creaTime`, 
			`ceeaUser`
		)
		values
		(
			#{seatsid}, 
			#{seatsname}, 
			#{seatsphone}, 
			#{seatstatus}, 
			#{seatsdept}, 
			#{creatime}, 
			#{ceeauser}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.webapi.domain.SeatsDO">
		update phone_seats 
		<set>
			<if test="seatsname != null">`seatsName` = #{seatsname}, </if>
			<if test="seatsphone != null">`seatsPhone` = #{seatsphone}, </if>
			<if test="seatstatus != null">`seatStatus` = #{seatstatus}, </if>
			<if test="seatsdept != null">`seatsDept` = #{seatsdept}, </if>
			<if test="creatime != null">`creaTime` = #{creatime}, </if>
			<if test="ceeauser != null">`ceeaUser` = #{ceeauser}</if>
		</set>
		where seatsId = #{seatsid}
	</update>
	
	<delete id="remove">
		delete from phone_seats where seatsId = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from phone_seats where seatsId in 
		<foreach item="seatsid" collection="array" open="(" separator="," close=")">
			#{seatsid}
		</foreach>
	</delete>

</mapper>