<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.webapi.dao.ThjlZywzDao">

	<select id="get" resultType="com.smart119.webapi.domain.ThjlZywzDO">
		select `id`,`BJ_TYWYSBM`,`thdxlx`,`zywz`,`zysj`,`cdate`,`cperson`,`status` from jqxx_thjl_zywz where id = #{value}
	</select>

	<select id="list" resultType="com.smart119.webapi.domain.ThjlZywzDO">
		select `id`,`BJ_TYWYSBM`,`thdxlx`,`zywz`,`zysj`,`cdate`,`cperson`,`status` from jqxx_thjl_zywz
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="bjTywysbm != null and bjTywysbm != ''"> and BJ_TYWYSBM = #{bjTywysbm} </if>
		  		  <if test="thdxlx != null and thdxlx != ''"> and thdxlx = #{thdxlx} </if>
		  		  <if test="zywz != null and zywz != ''"> and zywz = #{zywz} </if>
		  		  <if test="zysj != null and zysj != ''"> and zysj = #{zysj} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jqxx_thjl_zywz
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="bjTywysbm != null and bjTywysbm != ''"> and BJ_TYWYSBM = #{bjTywysbm} </if>
		  		  <if test="thdxlx != null and thdxlx != ''"> and thdxlx = #{thdxlx} </if>
		  		  <if test="zywz != null and zywz != ''"> and zywz = #{zywz} </if>
		  		  <if test="zysj != null and zysj != ''"> and zysj = #{zysj} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.webapi.domain.ThjlZywzDO">
		insert into jqxx_thjl_zywz
		(
			`id`, 
			`BJ_TYWYSBM`,
			`thdxlx`, 
			`zywz`, 
			`zysj`, 
			`cdate`, 
			`cperson`, 
			`status`
		)
		values
		(
			#{id}, 
			#{bjTywysbm},
			#{thdxlx}, 
			#{zywz}, 
			#{zysj}, 
			#{cdate}, 
			#{cperson}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.webapi.domain.ThjlZywzDO">
		update jqxx_thjl_zywz 
		<set>
			<if test="bjTywysbm != null">`BJ_TYWYSBM` = #{bjTywysbm}, </if>
			<if test="thdxlx != null">`thdxlx` = #{thdxlx}, </if>
			<if test="zywz != null">`zywz` = #{zywz}, </if>
			<if test="zysj != null">`zysj` = #{zysj}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from jqxx_thjl_zywz where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jqxx_thjl_zywz where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>