<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.webapi.dao.XfclcdxxDao">

	<select id="get" resultType="com.smart119.webapi.domain.XfclcdxxDO">
		select `XFCL_CDDM`,`XFJG_CDDM`,`XFCL_TYWYSBM`,`XFJYRY_TYWYSBM`,`XM`,`created_dt`,`parent_id`,`detachment_id` from jqxx_xfclcdxx where XFCL_CDDM = #{value}
	</select>

	<select id="list" resultType="com.smart119.webapi.domain.XfclcdxxDO">
		select `XFCL_CDDM`,`XFJG_CDDM`,`XFCL_TYWYSBM`,`XFJYRY_TYWYSBM`,`XM`,`created_dt`,`parent_id`,`detachment_id` from jqxx_xfclcdxx
        <where>  
		  		  <if test="xfclCddm != null and xfclCddm != ''"> and XFCL_CDDM = #{xfclCddm} </if>
		  		  <if test="xfjgCddm != null and xfjgCddm != ''"> and XFJG_CDDM = #{xfjgCddm} </if>
		  		  <if test="xfclTywysbm != null and xfclTywysbm != ''"> and XFCL_TYWYSBM = #{xfclTywysbm} </if>
		  		  <if test="xfjyryTywysbm != null and xfjyryTywysbm != ''"> and XFJYRY_TYWYSBM = #{xfjyryTywysbm} </if>
		  		  <if test="xm != null and xm != ''"> and XM = #{xm} </if>
		  		  <if test="createdDt != null and createdDt != ''"> and created_dt = #{createdDt} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="detachmentId != null and detachmentId != ''"> and detachment_id = #{detachmentId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by XFCL_CDDM desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jqxx_xfclcdxx
		 <where>  
		  		  <if test="xfclCddm != null and xfclCddm != ''"> and XFCL_CDDM = #{xfclCddm} </if>
		  		  <if test="xfjgCddm != null and xfjgCddm != ''"> and XFJG_CDDM = #{xfjgCddm} </if>
		  		  <if test="xfclTywysbm != null and xfclTywysbm != ''"> and XFCL_TYWYSBM = #{xfclTywysbm} </if>
		  		  <if test="xfjyryTywysbm != null and xfjyryTywysbm != ''"> and XFJYRY_TYWYSBM = #{xfjyryTywysbm} </if>
		  		  <if test="xm != null and xm != ''"> and XM = #{xm} </if>
		  		  <if test="createdDt != null and createdDt != ''"> and created_dt = #{createdDt} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="detachmentId != null and detachmentId != ''"> and detachment_id = #{detachmentId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.webapi.domain.XfclcdxxDO">
		insert into jqxx_xfclcdxx
		(
			`XFCL_CDDM`, 
			`XFJG_CDDM`, 
			`XFCL_TYWYSBM`, 
			`XFJYRY_TYWYSBM`, 
			`XM`, 
			`created_dt`, 
			`parent_id`, 
			`detachment_id`
		)
		values
		(
			#{xfclCddm}, 
			#{xfjgCddm}, 
			#{xfclTywysbm}, 
			#{xfjyryTywysbm}, 
			#{xm}, 
			#{createdDt}, 
			#{parentId}, 
			#{detachmentId}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.webapi.domain.XfclcdxxDO">
		update jqxx_xfclcdxx 
		<set>
			<if test="xfjgCddm != null">`XFJG_CDDM` = #{xfjgCddm}, </if>
			<if test="xfclTywysbm != null">`XFCL_TYWYSBM` = #{xfclTywysbm}, </if>
			<if test="xfjyryTywysbm != null">`XFJYRY_TYWYSBM` = #{xfjyryTywysbm}, </if>
			<if test="xm != null">`XM` = #{xm}, </if>
			<if test="createdDt != null">`created_dt` = #{createdDt}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="detachmentId != null">`detachment_id` = #{detachmentId}</if>
		</set>
		where XFCL_CDDM = #{xfclCddm}
	</update>
	
	<delete id="remove">
		delete from jqxx_xfclcdxx where XFCL_CDDM = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jqxx_xfclcdxx where XFCL_CDDM in 
		<foreach item="xfclCddm" collection="array" open="(" separator="," close=")">
			#{xfclCddm}
		</foreach>
	</delete>


	<!--根据消防车辆id查询出消防车辆信息-->
	<select id="xfclById" resultType="java.util.HashMap">
		SELECT XFCL_TYWYSBM,JDCHPHM,dict.name
		FROM jczy_xfcl xfcl
		LEFT JOIN sys_dict dict
		on dict.value=xfcl.XFZBLXDM and dict.type='XFZBLXDM'
		where XFCL_TYWYSBM=#{value}
	</select>

	<!--根据车辆id 查询出消防车辆的属性信息和属性值-->
	<select id="xfclSxxx" resultType="java.util.HashMap">
		SELECT sx.clsx,sxz.sxz,sx.dw
		from jczy_xfcl_sx sx
		LEFT JOIN jczy_xfcl_sxz sxz
		on sx.id = sxz.xfcl_sx_id
		LEFT JOIN jczy_xfcl xfcl
		on xfcl.XFZBLXDM = sx.cllx
		where xfcl.XFCL_TYWYSBM=#{value}
	</select>

	<!--根据警情id 和消防救援车id 查询出对应车辆的人员出动情况-->
	<select id="cdryByJqCl" resultType="java.util.HashMap">
		SELECT xfjyry.XM,cdry.RYLB as rylb,cdry.XFJYRY_TYWYSBM
		from jqxx_xfrycdxx cdry
		LEFT JOIN jqxx_xfjgcdxx cdjg
		on cdjg.XFJG_CDDM = cdry.XFJG_CDDM
		left join jczy_xfjyry xfjyry
		on xfjyry.XFJYRY_TYWYSBM = cdry.XFJYRY_TYWYSBM
		where cdjg.JQ_TYWYSBM=#{jqTywysbm}
		and cdry.XFCL_TYWYSBM=#{xfclTywysbm}
	</select>

	<!--查询消防救援机构下所有的人员 标清楚是否可调派 是否已派到本警情-->
	<select id="xfjyryByJgAll" resultType="java.util.HashMap">
		SELECT
		xfjyry.XFJYRY_TYWYSBM,
		xfjyry.XM,
		xfjyry.sfcd,
		xfjyry.rylb_jh as rylb,
		case when
		(
			select
			 rycd.XFRY_CDDM
			from jqxx_xfrycdxx rycd
			LEFT JOIN jqxx_xfjgcdxx jgcd
			on rycd.XFJG_CDDM = jgcd.XFJG_CDDM
			where jgcd.JQ_TYWYSBM=#{jqTywysbm}
			and rycd.XFJYRY_TYWYSBM = xfjyry.XFJYRY_TYWYSBM
		) is not null then '1' else '0' end  as sfbjq
		from jczy_xfjyry xfjyry
		where xfjyry.SJSZJG_TYWYSBM=#{xfjyjgTywysbm}
	</select>

	<!--用警情id和消防机构id 查询出车辆信息名称、车辆id、调派人员数量-->
	<select id="cldphx" resultType="java.util.HashMap">
		SELECT
		dict.`name` as xfzblx,xfcl.JDCHPHM as cdsbdh,
		xfcl.XFCL_TYWYSBM as xfclTywysbm,
		(
			SELECT count(*) from jqxx_xfrycdxx rycd
			where rycd.XFJG_CDDM = jgcd.XFJG_CDDM
			and rycd.XFCL_TYWYSBM = clcd.XFCL_TYWYSBM
		) as rysl
		from jqxx_xfclcdxx clcd
		LEFT JOIN jqxx_xfjgcdxx jgcd
		on jgcd.XFJG_CDDM = clcd.XFJG_CDDM
		LEFT JOIN jczy_xfcl xfcl
		on xfcl.XFCL_TYWYSBM = clcd.XFCL_TYWYSBM
		LEFT JOIN sys_dict dict
		on dict.`value` = xfcl.XFZBLXDM and dict.type='XFZBLXDM'
		where xfcl.XFJYJG_TYWYSBM=#{xfjyjgTywysbm}
		and jgcd.JQ_TYWYSBM=#{jqTywysbm}

	</select>

    <!--从新出动人员的时候  将之前派送的人员状态恢复成待命-->
	<select id="findCdry" resultType="java.util.HashMap">
		select rycd.XFJYRY_TYWYSBM
            from jqxx_xfrycdxx rycd
            LEFT JOIN jqxx_xfjgcdxx jgcd
            on jgcd.XFJG_CDDM = rycd.XFJG_CDDM
            where jgcd.XFJYJG_TYWYSBM=#{xfjyjgTywysbm}
            and jgcd.JQ_TYWYSBM=#{jqTywysbm}
	</select>
	<update id="rycthf"  >
        update jczy_xfjyry
        set sfcd = "0"
        where XFJYRY_TYWYSBM = #{value}

    </update>

    <!--删除指定警情、指定机构下的出动人员信息-->
	<select id="findRycdxx" resultType="java.util.HashMap">
		select rycd.XFRY_CDDM
        from jqxx_xfrycdxx rycd
        LEFT JOIN jqxx_xfjgcdxx jgcd
        on jgcd.XFJG_CDDM = rycd.XFJG_CDDM
        where jgcd.XFJYJG_TYWYSBM=#{xfjyjgTywysbm}
        and jgcd.JQ_TYWYSBM=#{jqTywysbm}
	</select>
    <delete id="removeCdry">
        DELETE from jqxx_xfrycdxx
        where XFRY_CDDM = #{value}
    </delete>

    <!--从新出动车辆的时候  将之前派送的车辆状态恢复成待命-->
	<select id="findCdcl" resultType="java.util.HashMap">
		SELECT clcd.XFCL_TYWYSBM from jqxx_xfclcdxx clcd
        LEFT JOIN jqxx_xfjgcdxx jgcd
        on clcd.XFJG_CDDM = jgcd.XFJG_CDDM
        where jgcd.XFJYJG_TYWYSBM=#{xfjyjgTywysbm}
        and jgcd.JQ_TYWYSBM=#{jqTywysbm}
	</select>
    <update id="clcdhf"  >
        update jczy_xfcl
        set CLQWZTLBDM = "200"
        where XFCL_TYWYSBM = #{value}
    </update>

    <!--删除指定警情、指定机构下的出动车辆信息-->
	<select id="findClcdxx" resultType="java.util.HashMap">
		SELECT clcd.XFCL_CDDM from jqxx_xfclcdxx clcd
        LEFT JOIN jqxx_xfjgcdxx jgcd
        on clcd.XFJG_CDDM = jgcd.XFJG_CDDM
        where jgcd.XFJYJG_TYWYSBM=#{xfjyjgTywysbm}
        and jgcd.JQ_TYWYSBM=#{jqTywysbm}
	</select>
    <delete id="removeCdcl">
        DELETE from jqxx_xfclcdxx
        where XFCL_CDDM = #{value}
    </delete>


    <select id="xfjgcdxxByJqJg" resultType="com.smart119.webapi.domain.XfjgcdxxDO">
        SELECT * FROM jqxx_xfjgcdxx WHERE JQ_TYWYSBM=#{jqTywysbm} and XFJYJG_TYWYSBM=#{xfjyjgTywysbm}
    </select>

    <!--将出动的车辆变为 出动状态-->
    <update id="clcd">
        update jczy_xfcl
        set CLQWZTLBDM = "301"
        where XFCL_TYWYSBM = #{value}
    </update>


    <!--将出动的人员编成出动状态-->
    <update id="rycd">
        update jczy_xfjyry
        set sfcd = "1"
        where XFJYRY_TYWYSBM = #{value}
    </update>


</mapper>