<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.webapi.dao.XfjgcdxxDao">

	<select id="get" resultType="com.smart119.webapi.domain.XfjgcdxxDO">
		select `XFJG_CDDM`,`JQ_TYWYSBM`,`XFJYJG_TYWYSBM`,`CDSJ`,`created_dt`,`parent_id`,`detachment_id`,`cperson`,`cdate`,`status` from jqxx_xfjgcdxx where XFJG_CDDM = #{value}
	</select>

	<select id="list" resultType="com.smart119.webapi.domain.XfjgcdxxDO">
		select `XFJG_CDDM`,`JQ_TYWYSBM`,`XFJYJG_TYWYSBM`,`CDSJ`,`created_dt`,`parent_id`,`detachment_id`,`cperson`,`cdate`,`status` from jqxx_xfjgcdxx
        <where>  
		  		  <if test="xfjgCddm != null and xfjgCddm != ''"> and XFJG_CDDM = #{xfjgCddm} </if>
		  		  <if test="jqTywysbm != null and jqTywysbm != ''"> and JQ_TYWYSBM = #{jqTywysbm} </if>
		  		  <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
		  		  <if test="cdsj != null and cdsj != ''"> and CDSJ = #{cdsj} </if>
		  		  <if test="createdDt != null and createdDt != ''"> and created_dt = #{createdDt} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="detachmentId != null and detachmentId != ''"> and detachment_id = #{detachmentId} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by XFJG_CDDM desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jqxx_xfjgcdxx
		 <where>  
		  		  <if test="xfjgCddm != null and xfjgCddm != ''"> and XFJG_CDDM = #{xfjgCddm} </if>
		  		  <if test="jqTywysbm != null and jqTywysbm != ''"> and JQ_TYWYSBM = #{jqTywysbm} </if>
		  		  <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
		  		  <if test="cdsj != null and cdsj != ''"> and CDSJ = #{cdsj} </if>
		  		  <if test="createdDt != null and createdDt != ''"> and created_dt = #{createdDt} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="detachmentId != null and detachmentId != ''"> and detachment_id = #{detachmentId} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.webapi.domain.XfjgcdxxDO">
		insert into jqxx_xfjgcdxx
		(
			`XFJG_CDDM`, 
			`JQ_TYWYSBM`, 
			`XFJYJG_TYWYSBM`, 
			`CDSJ`, 
			`created_dt`, 
			`parent_id`, 
			`detachment_id`, 
			`cperson`, 
			`cdate`, 
			`status`
		)
		values
		(
			#{xfjgCddm}, 
			#{jqTywysbm}, 
			#{xfjyjgTywysbm}, 
			#{cdsj}, 
			#{createdDt}, 
			#{parentId}, 
			#{detachmentId}, 
			#{cperson}, 
			#{cdate}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.webapi.domain.XfjgcdxxDO">
		update jqxx_xfjgcdxx 
		<set>
			<if test="jqTywysbm != null">`JQ_TYWYSBM` = #{jqTywysbm}, </if>
			<if test="xfjyjgTywysbm != null">`XFJYJG_TYWYSBM` = #{xfjyjgTywysbm}, </if>
			<if test="cdsj != null">`CDSJ` = #{cdsj}, </if>
			<if test="createdDt != null">`created_dt` = #{createdDt}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="detachmentId != null">`detachment_id` = #{detachmentId}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where XFJG_CDDM = #{xfjgCddm}
	</update>
	
	<delete id="remove">
		delete from jqxx_xfjgcdxx where XFJG_CDDM = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jqxx_xfjgcdxx where XFJG_CDDM in 
		<foreach item="xfjgCddm" collection="array" open="(" separator="," close=")">
			#{xfjgCddm}
		</foreach>
	</delete>

</mapper>