<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${videoChannel.id}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">通道：</label>
                            <div class="col-sm-8">
                                <input id="videoChannel" name="videoChannel" th:value="${videoChannel.videoChannel}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称：</label>
                            <div class="col-sm-8">
                                <input id="name" name="name" th:value="${videoChannel.name}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">通道类型：</label>

                            <label class="radio-inline"> <input type="radio"
                                                                name="channelType" value="1" th:checked="${videoChannel.channelType==1}"/> 营区监控
                            </label>
                            <label class="radio-inline"> <input type="radio"
                                                                name="channelType" value="2" th:checked="${videoChannel.channelType==2}" /> 指挥中心
                            </label>
                            <label class="radio-inline"> <input type="radio"
                                                                name="channelType" value="3" th:checked="${videoChannel.channelType==3}"/> 单兵布控球
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">消防救援机构：</label>
                            <div class="col-sm-8">
								<input id="xfjyjgTywysbm" name="xfjyjgTywysbm" class="hidden"
									   th:value="${videoChannel.xfjyjgTywysbm}">
								<input id="deptName" name="deptName" class="form-control" type="text"
									   th:value="${videoChannel.xfjyjgTywysbmname}"
									   style="cursor: pointer;" onclick="openDept()"
									   readonly="readonly" placeholder="请选择消防救援机构" title="请选择消防救援机构" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/jczy/videoChannel/edit.js">
</script>
</body>
</html>
