<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox ibox-body">
					<div class="ibox-title">
						<h5>选择部门</h5>
					</div>
					<div class="ibox-content">
						<div id="jstree"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="ibox">
					<div class="ibox-body">
						<div class="fixed-table-toolbar">
							<div class="columns pull-left">
								<button shiro:hasPermission="jczy:xhs:add" type="button" class="btn  btn-primary" onclick="add()">
									<i class="fa fa-plus" aria-hidden="true"></i>添加
								</button>
								<button shiro:hasPermission="jczy:xhs:batchRemove" type="button" class="btn  btn-danger"
										onclick="batchRemove()">
									<i class="fa fa-trash" aria-hidden="true"></i>删除
								</button>
							</div>
							<div class="columns pull-right">
								<button class="btn btn-success" onclick="reLoad()">查询</button>
							</div>

							<div class="columns pull-right col-md-2">
								<select class="form-control" id="xhslbdm" name="xhslbdm">
									<option value="">按消火栓类别查询</option>
								</select>
							</div>
							<div class="columns pull-right col-md-2">
								<input id="dzmc" type="text" class="form-control"
									   placeholder="按消火栓地址查询">
							</div>
							<div class="columns pull-right col-md-2">
								<input id="mc" type="text" class="form-control"
									   placeholder="按消火栓名称查询">
							</div>
							<div class="columns pull-right col-md-2">
								<select class="form-control" id="status">
									<option value="" selected>全部</option>
									<option value="0" >否</option>
									<option value="1" >是</option>
								</select>
							</div>
							<div class="columns pull-right nopadding">
								是否删除：
							</div>
						</div>
						<table id="exampleTable" data-mobile-responsive="true">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="jczy:xhs:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="jczy:xhs:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="jczy:xhs:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/jczy/xhs/xhs.js"></script>
</body>
</html>
