<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm" enctype="multipart/form-data">
						<input id="wblxrId" name="wblxrId" th:value="${wblxr.wblxrId}"  type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">姓名：</label>
								<div class="col-sm-8">
									<input id="xm" name="xm" th:value="${wblxr.xm}" class="form-control" type="text" required>
								</div>
							</div>
														<div class="form-group">
								<label class="col-sm-3 control-label">电话：</label>
								<div class="col-sm-8">
									<input id="dh" name="dh" th:value="${wblxr.dh}" class="form-control" type="text" required>
								</div>
							</div>
														<div class="form-group">
								<label class="col-sm-3 control-label">地址：</label>
								<div class="col-sm-8">
									<input id="dz" name="dz" th:value="${wblxr.dz}" class="form-control" type="text">
								</div>
							</div>
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">生日：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="sr" name="sr" th:value="${wblxr.sr}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
							<div class="form-group">
								<label class="col-sm-3 control-label">生日：</label>
							<div class="col-sm-8">
								<input type="text" class="laydate-icon layer-date form-control" id="sr" name="sr"  placeholder="请选择出生日期"
									   onclick="laydate({format: 'YYYY-MM-DD'})" style="background-color: #fff;max-width: 100%;" readonly="readonly" th:value="${wblxr.sr}==null?null:${#dates.format(wblxr.sr,'yyyy-MM-dd')}"/>
							</div>
							</div>
														<div class="form-group">
								<label class="col-sm-3 control-label">邮箱：</label>
								<div class="col-sm-8">
									<input id="yx" name="yx" th:value="${wblxr.yx}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<textarea id="bz" name="bz" th:text="${wblxr.bz}" class="form-control" type="text"></textarea>
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-3 control-label">照片：</label>
								<div class="col-sm-8">
									<input id='input-id' multiple type="file" name="file" data-show-caption="true"/>
								</div>
							</div>

														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">消防救援人员_通用唯一识别码：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="xfjyryTywysbm" name="xfjyryTywysbm" th:value="${wblxr.xfjyryTywysbm}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->

																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/jczy/wblxr/edit.js">
	</script>
	<script th:inline="javascript">
        var attachmentDOList = [[${attachmentDOList}]];
	</script>
</body>
</html>
