<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="jczy:wblxr:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="jczy:wblxr:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
							<button class="btn btn-danger"  type="button" data-toggle="modal" data-target="#myModal">
								导入与模板
							</button>
							<!-- 模态框（Modal） -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button shiro:hasPermission="jczy:wblxr:downExcel" type="button" class="btn  btn-primary" onclick="downExcel()">
												<i class="fa fa-plus" aria-hidden="true"></i>下载Excel模板
											</button>
											<input type="file" name="FileUpload" id="FileUpload">
										</div>
										<div class="modal-footer">
											<button shiro:hasPermission="jczy:wblxr:insertUserExcel" type="button" class="btn  btn-primary" onclick="insertExcel()">
												<i class="fa fa-plus" aria-hidden="true"></i>导入
											</button>
											<button type="button" class="btn btn-default"
													data-dismiss="modal">关闭
											</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
							<button shiro:hasPermission="jczy:wblxr:wblxrExcel" type="button" class="btn  btn-primary" onclick="Excel()">
								<i class="fa fa-plus" aria-hidden="true"></i>导出
							</button>



						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>

						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								   placeholder="按人员姓名查询">
						</div>

					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="jczy:wblxr:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="jczy:wblxr:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="jczy:wblxr:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/jczy/wblxr/wblxr.js"></script>
</body>


</html>