<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="jczy:wblxr:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="jczy:wblxr:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
							<button shiro:hasPermission="jczy:wblxr:wblxrExcel" type="button" class="btn  btn-primary" onclick="Excel()">
								<i class="fa fa-plus" aria-hidden="true"></i>导出
							</button>
							<button shiro:hasPermission="jczy:wblxr:downExcel" type="button" class="btn  btn-primary" onclick="downExcel()">
								<i class="fa fa-plus" aria-hidden="true"></i>下载Excel模板
							</button>

							<button shiro:hasPermission="jczy:wblxr:insertUserExcel" type="button" class="btn  btn-primary" onclick="insertExcel()">
								<i class="fa fa-plus" aria-hidden="true"></i>导入信息
							</button>

							<input type="file" name="logoFile"  id="logoFile"  ref = "wf" onchange="setImg(this);" class="selectedLogoImgId" > 上传excel表格前,请先下载excel模板
							<div class="columns pull-right">
								<input type="hidden" name="excelUrl"  id="excelUrl"/>

								<input type="hidden" name="excelUrlShow" id="excelUrlShow" style="width: 315px;">
							</div>

						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>

						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								   placeholder="按人员姓名查询">
						</div>

					</div>
					<!--<div class="fixed-table-toolbar">-->

						<!--&lt;!&ndash;导入excel&ndash;&gt;-->
						<!--<div class="columns pull-left">-->
							<!--<br><span class="personattr" style="display: inline;">批量导入用户信息：</span>-->
							<!--<input type="hidden" name="excelUrl"  id="excelUrl"/>-->
							<!--<a href="javascript:void(0);" class="btn_addPic">-->
								<!--<span id="imgTitle" style="color: red ">上传excel表格前,请先下载excel模板</span>-->
								<!--<input type="file" name="logoFile"  id="logoFile"  ref = "wf" onchange="setImg(this);" class="selectedLogoImgId" >-->
							<!--</a>-->
							<!--<input type="hidden" name="excelUrlShow" id="excelUrlShow" style="width: 315px;">-->
						<!--</div>-->
					<!--</div>-->

					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="jczy:wblxr:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="jczy:wblxr:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="jczy:wblxr:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/jczy/wblxr/wblxr.js"></script>
</body>


</html>