<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.common.dao.DictDao">

	<select id="get" resultType="com.smart119.common.domain.DictDO">
		select
		`id`,`name`,`value`,`type`,`description`,`sort`,`parent_id`,`create_by`,`create_date`,`update_by`,`update_date`,`remarks`,`del_flag`
		from sys_dict where id = #{value}
	</select>

	<select id="list" resultType="com.smart119.common.domain.DictDO">
		select
		`id`,`name`,`value`,`type`,`description`,`sort`,`parent_id`,`create_by`,`create_date`,`update_by`,`update_date`,`remarks`,`del_flag`
		,(SELECT count(bb.id) from sys_dict as bb where bb.parent_id=aa.id) as `childNum`
		from sys_dict as aa
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="name != null and name != ''"> and name like '%${name}%' </if>
			<if test="value != null and value != ''"> and value = #{value} </if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="description != null and description != ''"> and description = #{description} </if>
			<if test="sort != null and sort != ''"> and sort = #{sort} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
			<if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
			and parent_id='0'
		</where>
		<choose>
 			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from sys_dict
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="value != null and value != ''"> and value = #{value} </if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="description != null and description != ''"> and description = #{description} </if>
			<if test="sort != null and sort != ''"> and sort = #{sort} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
			<if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
			and parent_id='0'
		</where>
	</select>

	<insert id="save" parameterType="com.smart119.common.domain.DictDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_dict
		(
		`name`,
		`value`,
		`type`,
		`description`,
		`sort`,
		`parent_id`,
		`create_by`,
		`create_date`,
		`update_by`,
		`update_date`,
		`remarks`,
		`del_flag`
		)
		values
		(
		#{name},
		#{value},
		#{type},
		#{description},
		#{sort},
		#{parentId},
		#{createBy},
		#{createDate},
		#{updateBy},
		#{updateDate},
		#{remarks},
		#{delFlag}
		)
	</insert>

	<update id="update" parameterType="com.smart119.common.domain.DictDO">
		update sys_dict
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="value != null">`value` = #{value}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="description != null">`description` = #{description}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}, </if>
			<if test="remarks != null">`remarks` = #{remarks}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from sys_dict where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from sys_dict where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<select id="listType" resultType="com.smart119.common.domain.DictDO">
		select distinct `type` , name from sys_dict where parent_id='0'
	</select>

	<select id="listParentId" resultType="com.smart119.common.domain.DictDO">
		select
		`id`,`name`,`value`,`type`,`description`,`sort`,`parent_id`,`create_by`,`create_date`,`update_by`,`update_date`,`remarks`,`del_flag`
		from sys_dict
		<where>
			and parent_id = #{value}
		</where>
			order by id
	</select>


	<select id="getChild" resultType="com.smart119.common.domain.DictDO">
		select
		`id`,`name`,`value`,`type`,`description`,`sort`,`parent_id`,`create_by`,`create_date`,`update_by`,`update_date`,`remarks`,`del_flag`
		,(SELECT count(bb.id) from sys_dict as bb where bb.parent_id=aa.id) as `childNum`
		from sys_dict as aa
		<where>
			and parent_id=#{parentId}
		</where>
		order by id desc
	</select>

	<select id="listByParentId" resultType="com.smart119.common.domain.DictDO">
		SELECT `id`,`name`,`value` FROM `sys_dict` where parent_id=#{value}
	</select>

	<select id="listByParentType" resultType="com.smart119.common.domain.DictDO">
		SELECT `id`,`name`,`value` FROM `sys_dict` where parent_id=(SELECT `id` from `sys_dict` where type=#{value} and parent_id='0')
	</select>

	<select id="listByParentValue" resultType="com.smart119.common.domain.DictDO">
		SELECT `id`,`name`,`value` FROM `sys_dict` where parent_id=(SELECT `id` from `sys_dict` where value=#{value})
	</select>

	<select id="findParentValue" resultType="String">
		SELECT `value` FROM `sys_dict` where id=(SELECT parent_id FROM `sys_dict` where `value`=#{value})
	</select>

	<select id="getDictListByType" resultType="com.smart119.common.domain.DictDO">
		select * from sys_dict t where t.description=(select d1.description from sys_dict d1 where d1.type = #{type}  and d1.parent_id = '0') order by t.id asc
	</select>


	<select id="findDictName" resultType="String">
		select `name` from sys_dict where `value`=#{value} and description=#{description}
	</select>

	<select id="findDictType" resultType="String">
		select `name` from sys_dict where `value`=#{value} and type=#{type}
	</select>

	<select id="getDictListClzByType" resultType="String">
SELECT GROUP_CONCAT(y.`value`) as value  FROM (
select i.`value` from  `sys_dict` i where i.type='JQZTLBDM' and i.parent_id!='0'
ORDER BY i.sort ASC LIMIT 1,11    -- 处理中
) y
	</select>

	<select id="getDictListWclByType" resultType="String">
		SELECT GROUP_CONCAT(y.`value`) as value  FROM (
select i.`value` from  `sys_dict` i where i.type='JQZTLBDM' and i.parent_id!='0'
ORDER BY i.sort ASC LIMIT 0,1    -- 未处理
) y
	</select>
	<select id="getDictListYjaByType" resultType="String">
		SELECT GROUP_CONCAT(y.`value`) as value  FROM (
select i.`value` from  `sys_dict` i where i.type='JQZTLBDM' and i.parent_id!='0'
ORDER BY i.sort ASC LIMIT 12,12    -- 未处理
) y
	</select>


	<select id="findDictByTypeVal" resultType="com.smart119.common.domain.DictDO">
		select
		`id`,`name`,`value`,`type`,`description`,`sort`,`parent_id`,`create_by`,`create_date`,`update_by`,`update_date`,`remarks`,`del_flag`
		from sys_dict as aa
		<where>
			and value = #{value}
			and type = #{type}
		</where>
	</select>

	<select id="getSelectByXfgwType" resultType="com.smart119.common.domain.DictDO">
		SELECT `id`,`name`,`value` FROM `sys_dict` where  type='XFGWFLYDM' and parent_id !='0'
	</select>
</mapper>


