<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style type="text/css">
	.dropdown-submenu {
		position: relative;
	}

	.dropdown-submenu > .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
		-webkit-border-radius: 0 6px 6px 6px;
		-moz-border-radius: 0 6px 6px;
		border-radius: 0 6px 6px 6px;
	}

	.dropdown-submenu:hover > .dropdown-menu {
		display: block;
	}

	.dropdown-submenu > a:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-left-color: #ccc;
		margin-top: 5px;
		margin-right: -10px;
	}

	.dropdown-submenu:hover > a:after {
		border-left-color: #fff;
	}

	.dropdown-submenu.pull-left {
		float: none;
	}

	.dropdown-submenu.pull-left > .dropdown-menu {
		left: -100%;
		margin-left: 10px;
		-webkit-border-radius: 6px 0 6px 6px;
		-moz-border-radius: 6px 0 6px 6px;
		border-radius: 6px 0 6px 6px;
	}
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="signupForm" enctype="multipart/form-data">
						<div class="form-group">
							<label class="col-sm-2 control-label">微信号：</label>
							<div class="col-sm-4">
								<input name="wxNumber" type="text" class="form-control" required  placeholder="请输入微信号"/>
							</div>
							<label class="col-sm-2 control-label">手机：</label>
							<div class="col-sm-4">
								<input id="phone" name="phone" class="form-control" type="text" placeholder="请输入手机号"  required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">昵称：</label>
							<div class="col-sm-4">
								<input id="nickname" name="nickname" class="form-control" type="text"   placeholder="请输入昵称"  required>
							</div>

							<label class="col-sm-2 control-label">性别：</label>
							<div class="col-sm-4">
								<select name="sex" class="form-control">
									 <option value="男" selected>男</option>
									<option value="女">女</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">身高：</label>
							<div class="col-sm-4">
								<input id="height" name="height" class="form-control" type="text"   placeholder="请输入身高"  >
							</div>

							<label class="col-sm-2 control-label">体重：</label>
							<div class="col-sm-4">
								<input name="weight" type="weight" class="form-control"   placeholder="请输入体重"  />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">所在地区：</label>
							<div class="col-sm-3">
								<input type="text" name="province" class="form-control"  placeholder="请输入所在省/直辖市"  required/>
							</div>
							<div class="col-sm-3" >
								<input type="text" name="city" class="form-control"  placeholder="请输入所在市/直辖市"  required/>
							</div>
							<div class="col-sm-3" >
								<input type="text" name="region" class="form-control"  placeholder="请输入所在市的区或县"  required/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">出生日期：</label>
							<div class="col-sm-4">
								<!--<input id="csrq" name="csrq" class="form-control" type="text">-->
								<input type="text" class="form-control" name="birthday" placeholder="请输入出生日期,格式如1989-03-03"  />
							</div>
							<label class="col-sm-2 control-label">学历：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" name="education" id="education" placeholder="请输入学历"  />
							</div>
						</div>


						<div class="form-group">
							<label class="col-sm-2 control-label">职业：</label>
							<div class="col-sm-4">
								<input id="occupation" name="occupation" class="form-control" type="text" placeholder="请输入职业"  required>
							</div>
							<label class="col-sm-2 control-label">月薪：</label>
							<div class="col-sm-4">
								<input id="remuneration" name="remuneration" class="form-control" type="text"
									   placeholder="请输入月薪"  >
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">个人介绍：</label>
							<div class="col-sm-4">
								<textarea rows="5" cols="117"  name="personProfile"></textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">择偶要求：</label>
							<div class="col-sm-4">
								<textarea rows="5" cols="117" name="matingRequirement"></textarea>
							</div>
						</div>


						<div class="form-group">
							<label class="col-sm-2 control-label">照片：</label>
							<div class="col-sm-10">
								<input id='input-id' multiple type="file" name="file"  data-show-caption="true"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">是否征婚：</label>
							<div class="col-sm-4">
								<input type="radio" name="marriageSeekingFlag" value="0" checked>是</input>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="radio" name="marriageSeekingFlag"  value="1" >否</input>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">审核是否通过：</label>
							<div class="col-sm-4">
								<input type="radio" name="approve" value="通过"  checked>通过</input>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="radio" name="approve"  value="不通过" >不通过</input>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-10 col-sm-offset-2">
								<button type="submit" class="btn btn-primary">提交</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/jczy/xfjyry/add.js">
</script>
<script th:inline="javascript">
	var attachmentDOList = [[${attachmentDOList}]];
</script>

</body>
</html>
