<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm" enctype="multipart/form-data">
                        <input id="lqbzdwTywysbm" name="lqbzdwTywysbm" th:value="${lqbzdw.lqbzdwTywysbm}" type="hidden">
                        <input type="hidden" id="cityVal" th:value="${city}"/>
                        <input type="hidden" id="provinceVal" th:value="${province}"/>
                        <input type="hidden" id="xzqhdmVal" th:value="${lqbzdw.xzqhdm}"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">单位名称：</label>
                            <div class="col-sm-4">
                                <input id="dwmc" name="dwmc" class="form-control" type="text" th:value="${lqbzdw.dwmc}">
                            </div>
                            <label class="col-sm-2 control-label">联勤保障类别：</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="lqbzlbdm" name="lqbzlbdm" title="请选择联勤保障类别" required>
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">消防救援机构：</label>
                            <div class="col-sm-4">
                                <input id="xfjyjgTywysbm" name="xfjyjgTywysbm" class="hidden" th:value="${lqbzdw.xfjyjgTywysbm}"> <input
                                    id="deptName" name="deptName" class="form-control" type="text"
                                    style="cursor: pointer;" onclick="openDept()"
                                    readonly="readonly" placeholder="请选择消防救援机构" th:value="${lqbzdw.xfjyjg}" title="请选择消防救援机构" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">联系人：</label>
                            <div class="col-sm-4">
                                <input id="lxrXm" name="lxrXm" class="form-control" type="text" th:value="${lqbzdw.lxrXm}">
                            </div>
                            <label class="col-sm-2 control-label">联系电话：</label>
                            <div class="col-sm-4">
                                <input id="lxrLxdh" name="lxrLxdh" class="form-control" type="text" th:value="${lqbzdw.lxrLxdh}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">单位地址：</label>
                            <div class="col-sm-10">
                                <input id="dzmc" name="dzmc" class="form-control" type="text" th:value="${lqbzdw.dzmc}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">地球经度：</label>
                            <div class="col-sm-4">
                                <input id="dqjd" name="dqjd" class="form-control" type="text" th:value="${lqbzdw.dqjd}" style="cursor: pointer;" onclick="openMap()"
                                       readonly="readonly" placeholder="请选择" required>
                            </div>
                            <label class="col-sm-2 control-label">地球纬度：</label>
                            <div class="col-sm-4">
                                <input id="dqwd" name="dqwd" class="form-control" type="text" th:value="${lqbzdw.dqwd}" style="cursor: pointer;" onclick="openMap()"
                                       readonly="readonly" placeholder="请选择" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">行政区划：</label>
                            <div class="col-sm-4">
                                <select data-placeholder="省/直辖市" name="province" title="省/直辖市"
                                        class="form-control chosen-select" tabindex="2">
                                    <option value="">山东省</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select data-placeholder="市/直辖县" name="city" title="市/直辖县" id="city" onchange="getXzqhdm(this,'xzqhdm')"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="">--选择类别--</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select data-placeholder="区/县" name="xzqhdm" title="区/县" id="xzqhdm"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">保障能力_简要情况：</label>
                            <div class="col-sm-10">
                                <textarea id="bznlJyqk" name="bznlJyqk" class="form-control" th:text="${lqbzdw.bznlJyqk}" required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">单位_简要情况：</label>
                            <div class="col-sm-10">
                                <textarea id="dwJyqk" name="dwJyqk" class="form-control" th:text="${lqbzdw.dwJyqk}"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">保障概述_简要情况：</label>
                            <div class="col-sm-10">
                                <textarea id="bzgsJyqk" name="bzgsJyqk" class="form-control" th:text="${lqbzdw.bzgsJyqk}"></textarea>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-2 control-label">传真号码：</label>
                            <div class="col-sm-4">
                                <input id="czhm" name="czhm" class="form-control" type="text" th:value="${lqbzdw.czhm}">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">单位概况图：</label>
                            <div class="col-sm-10">
                                <input id='input-id' multiple type="file" name="file" data-show-caption="true"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var lqbzlbdm = [[${lqbzdw.lqbzlbdm}]];
    var attachmentDOList = [[${attachmentDOList}]];
</script>
<script type="text/javascript" src="/js/appjs/jczy/lqbzdw/edit.js">
</script>
</body>
</html>
