<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <div id="selectDiv">已选择：</div>
                        <input type="hidden" id="selectValues">
                    </div>
                    <!--前端树状表格不支持检索后的数据，暂时屏蔽检索-->
                    <!--<div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>

                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="searchName" type="text" class="form-control"
                               placeholder="按机构名称查找">
                    </div>-->
                </div>
                <div style="clear: both">

                </div>
                <div style="height: 300px;overflow-y: scroll">
                    <table id="exampleTable" data-mobile-responsive="true">
                    </table>
                </div>

                <div class="columns pull-right">
                    <button  type="button" class="btn  btn-primary"
                             onclick="qdjqfl()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var dictDOList=[[${dictDOList}]];
</script>
<script type="text/javascript" src="/js/appjs/jczy/zzdy/jqfl.js"></script>
</body>
</html>