<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
    <link rel="stylesheet" href="/js/plugins/editor/dist/css/wangEditor.min.css">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="xwZxId" name="xwZxId" th:value="${xwZx.xwZxId}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">资讯标题：</label>
                            <div class="col-sm-9">
                                <input id="bt" name="bt" th:value="${xwZx.bt}" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">咨询内容：</label>
                            <div class="col-sm-9">
                                <div id="editor" class="textContainer"><p th:utext="${xwZx.zxNr}"></p></div>
                                <input id="zxNr" class="form-control" name="zxNr" type="hidden" required th:value="${xwZx.zxNr}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">缩略图：</label>
                            <div class="col-sm-4">
                                <input id='input-id' multiple type="file" name="file" data-show-caption="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态：</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="zt" name="zt">
                                    <option value="0" th:selected="${xwZx.zt=='0'}">显示</option>
                                    <option value="1" th:selected="${xwZx.zt=='1'}">隐藏</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var attachmentDOList = [[${attachmentDOList}]];
</script>
<script src="/js/plugins/editor/dist/js/wangEditor.min.js"></script>
<script type="text/javascript" src="/js/appjs/xwzx/xwZx/edit.js">
</script>
</body>
</html>
