<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jqxx.dao.TaskManageDao">

	<select id="getByDpdzTywysbm" resultType="com.smart119.jqxx.vo.JqcjdpDzVo">
		SELECT
			a.DPDZ_TYWYSBM AS 'dpdzTywysbm',
			a.CDDH AS 'cddh',
			a.CDZT AS 'cdzt',
			a.CDSJ AS 'cdsj',
			(select DWMC from sys_dept WHERE XFJYJG_TYWYSBM = a.XFJYJG_TYWYSBM) AS 'dpdzName',


			b.JQCJDP_DPLX AS 'jqcjdpDplx',
			(select `name` from sys_dict where type = "dplxdm" AND `value` = b.JQCJDP_DPLX) AS 'jqcjdpDplxLabel',

			c.DDMC AS 'ddmc',
			c.JQDJDM AS 'jqdjdm',
			(select `name` from sys_dict where type = "JQDJDM" AND `value` = c.JQDJDM) AS 'jqdjLabel',
			c.JQZT_LBDM AS 'jqztLbdm',
			(select `name` from sys_dict where type = "JQZTLBDM" AND `value` = c.JQZT_LBDM) AS 'jqztLabel',
			c.JQBH AS 'jqbh',
			c.JQBSLBDM AS 'jqbslbdm',
			(select `name` from sys_dict where type = "JQBSLBDM" AND `value` = c.JQBSLBDM) AS 'jqbsLabel',
			c.BJFSLBDM AS 'bjfslbdm',
			(select `name` from sys_dict where type = "BJFSLBDM" AND `value` = c.BJFSLBDM) AS 'bjfsLabel',
			c.BJDH AS 'bjdh',
			c.BJSJ AS 'bjsj',
			c.LXDH AS 'lxdh',
			c.JQFLYDM AS 'jqflydm',
			(select `name` from sys_dict where type = "JQFLYDM" AND `value` = c.JQFLYDM) AS 'jqflLabel',
			c.RSWDM AS 'rswdm',
			(select `name` from sys_dict where type = "RSWDM" AND `value` = c.RSWDM) AS 'rswLabel',
			c.ZHCSDM AS 'zhcsdm',
			(select `name` from sys_dict where type = "ZHCS" AND `value` = c.ZHCSDM) AS 'zhcsLabel',
			c.JQDX_MC AS 'jqdxMc',
			c.JJDZ AS 'jjdz',
			(select DWMC from sys_dept WHERE XFJYJG_TYWYSBM = c.JJDZ) AS 'jjdzName',
			c.XQDZ AS 'xqdz',
			(select DWMC from sys_dept WHERE XFJYJG_TYWYSBM = c.XQDZ) AS 'xqdzName',
			c.JQ_JYQK AS 'jqJyqk',


			d.XFRY_TYWYSBM AS 'jieJingYuanTywysbm',
			(select XM from jczy_xfjyry where XFJYRY_TYWYSBM = d.XFRY_TYWYSBM) AS 'jieJingYuanName'

		FROM
			jqxx_jqcjdp_dz a
		LEFT JOIN jqxx_jqcjdp b ON a.DP_TYWYSBM = b.JQCJDP_TYWYSBM
		LEFT JOIN jqxx_jbxx c ON b.JQ_TYWYSBM = c.JQ_TYWYSBM
		LEFT JOIN jqxx_bjjl d ON d.BJ_TYWYSBM = c.BJ_TYWYSBM
		WHERE
			a.DPDZ_TYWYSBM = #{dpdzTywysbm}
	</select>

	<select id="selectPageVo" resultType="com.smart119.jqxx.vo.JqcjdpDzVo">
		SELECT
			a.DPDZ_TYWYSBM AS 'dpdzTywysbm',
			a.CDDH AS 'cddh',
			a.CDZT AS 'cdzt',
			a.CDSJ AS 'cdsj',
			(select DWMC from sys_dept WHERE XFJYJG_TYWYSBM = a.XFJYJG_TYWYSBM) AS 'dpdzName',


			b.JQCJDP_DPLX AS 'jqcjdpDplx',
			(select `name` from sys_dict where type = "dplxdm" AND `value` = b.JQCJDP_DPLX) AS 'jqcjdpDplxLabel',


			c.DDMC AS 'ddmc',
			c.JQDJDM AS 'jqdjdm',
			(select `name` from sys_dict where type = "JQDJDM" AND `value` = c.JQDJDM) AS 'jqdjLabel',
			c.JQZT_LBDM AS 'jqztLbdm',
			(select `name` from sys_dict where type = "JQZTLBDM" AND `value` = c.JQZT_LBDM) AS 'jqztLabel',
			c.JQBH AS 'jqbh',
			c.JQBSLBDM AS 'jqbslbdm',
			(select `name` from sys_dict where type = "JQBSLBDM" AND `value` = c.JQBSLBDM) AS 'jqbsLabel',
			c.BJFSLBDM AS 'bjfslbdm',
			(select `name` from sys_dict where type = "BJFSLBDM" AND `value` = c.BJFSLBDM) AS 'bjfsLabel',
			c.BJDH AS 'bjdh',
			c.BJSJ AS 'bjsj',
			c.LXDH AS 'lxdh',
			c.JQFLYDM AS 'jqflydm',
			(select  CONCAT( IF(b.`name` is null,'',CONCAT(b.`name`,'-')),a.`name`) from sys_dict a LEFT JOIN sys_dict b ON a.parent_id = b.id AND b.parent_id != 0 where a.type = "JQFLYDM" AND a.parent_id != 0 AND a.`value` = c.JQFLYDM) AS 'jqflLabel',
			c.RSWDM AS 'rswdm',
			(select  CONCAT( IF(b.`name` is null,'',CONCAT(b.`name`,'-')),a.`name`) from sys_dict a LEFT JOIN sys_dict b ON a.parent_id = b.id AND b.parent_id != 0 where a.type = "RSWDM" AND a.parent_id != 0 AND a.`value` = c.RSWDM) AS 'rswLabel',
			c.ZHCSDM AS 'zhcsdm',
			(select `name` from sys_dict where type = "ZHCS" AND `value` = c.ZHCSDM) AS 'zhcsLabel',
			c.JQDX_MC AS 'jqdxMc',
			c.JJDZ AS 'jjdz',
			(select DWMC from sys_dept WHERE XFJYJG_TYWYSBM = c.JJDZ) AS 'jjdzName',
			c.XQDZ AS 'xqdz',
			(select DWMC from sys_dept WHERE XFJYJG_TYWYSBM = c.XQDZ) AS 'xqdzName',
			c.JQ_JYQK AS 'jqJyqk',


			d.XFRY_TYWYSBM AS 'jieJingYuanTywysbm',
			(select XM from jczy_xfjyry where XFJYRY_TYWYSBM = d.XFRY_TYWYSBM) AS 'jieJingYuanName'

		FROM
			jqxx_jqcjdp_dz a
		LEFT JOIN jqxx_jqcjdp b ON a.DP_TYWYSBM = b.JQCJDP_TYWYSBM
		LEFT JOIN jqxx_jbxx c ON b.JQ_TYWYSBM = c.JQ_TYWYSBM
		LEFT JOIN jqxx_bjjl d ON d.BJ_TYWYSBM = c.BJ_TYWYSBM
		WHERE
			a.XFJYJG_TYWYSBM IN
			<foreach collection="params.deptList" item="dept" open="(" separator="," close=")">
				#{dept.xfjyjgTywysbm}
			</foreach>
	</select>
	

</mapper>