<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart119.browse.dao.WxPersonalBrowseDao">
  <resultMap id="BaseResultMap" type="com.smart119.browse.domain.WxPersonalBrowse">
    <!--@mbg.generated-->
    <!--@Table wx_personal_browse-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="login_open_id" jdbcType="VARCHAR" property="loginOpenId" />
    <result column="browsing_openid" jdbcType="VARCHAR" property="browsingOpenid" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, login_open_id, browsing_openid, trade_no, create_time
  </sql>
</mapper>
