<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.BcbdZzdyDao">

	<select id="get" resultType="com.smart119.jczy.domain.BcbdZzdyDO">
		select `BCBD_ZZDY_ID`,`BCBD_ID`,`ZZDY_TYWYBS` from jczy_bcbd_zzdy where BCBD_ZZDY_ID = #{value}
	</select>


	<select id="getzzdyid" resultType="com.smart119.jczy.domain.BcbdZzdyDO">
        SELECT CONCAT(t.ZZDYMC,'-',dept.DWMC)AS zzdytywybs
        FROM jczy_bcbd_zzdy zz LEFT JOIN jczy_zzdy  t
        ON zz.`ZZDY_TYWYBS` = t.`ZZDY_TYWYBS`
        LEFT JOIN sys_dept dept
        ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM where zz.BCBD_ID = #{bcbdId}
	</select>

	<select id="list" resultType="com.smart119.jczy.domain.BcbdZzdyDO">
		select `BCBD_ZZDY_ID`,`BCBD_ID`,`ZZDY_TYWYBS`from jczy_bcbd_zzdy
        <where>  
		  		  <if test="bcbdZzdyId != null and bcbdZzdyId != ''"> and BCBD_ZZDY_ID = #{bcbdZzdyId} </if>
		  		  <if test="bcbdId != null and bcbdId != ''"> and BCBD_ID = #{bcbdId} </if>
		  		  <if test="zzdytywybs != null and zzdytywybs != ''"> and ZZDY_TYWYBS = #{zzdytywybs} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by BCBD_ZZDY_ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jczy_bcbd_zzdy
		 <where>  
		  		  <if test="bcbdZzdyId != null and bcbdZzdyId != ''"> and BCBD_ZZDY_ID = #{bcbdZzdyId} </if>
		  		  <if test="bcbdId != null and bcbdId != ''"> and BCBD_ID = #{bcbdId} </if>
		  		  <if test="zzdytywybs != null and zzdytywybs != ''"> and ZZDY_TYWYBS = #{zzdytywybs} </if>

		  		</where>
	</select>


	<insert id="save" parameterType="com.smart119.jczy.domain.BcbdZzdyDO">
		insert into jczy_bcbd_zzdy
		(
			`BCBD_ZZDY_ID`, 
			`BCBD_ID`, 
			`ZZDY_TYWYBS`
		)
		values
		(
			#{bcbdZzdyId}, 
			#{bcbdId}, 
			#{zzdytywybs}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.jczy.domain.BcbdZzdyDO">
		update jczy_bcbd_zzdy 
		<set>
			<if test="bcbdId != null">`BCBD_ID` = #{bcbdId}, </if>
			<if test="zzdytywybs != null">`ZZDY_TYWYBS` = #{zzdytywybs} </if>

		</set>
		where BCBD_ZZDY_ID = #{bcbdZzdyId}
	</update>
	
	<delete id="remove">
		delete from jczy_bcbd_zzdy where BCBD_ZZDY_ID = #{value}
	</delete>

	<delete id="removeByBcbdId">
		delete from jczy_bcbd_zzdy where BCBD_ID = #{bcbdId}
	</delete>

	<delete id="batchRemove">
		delete from jczy_bcbd_zzdy where BCBD_ZZDY_ID in 
		<foreach item="bcbdZzdyId" collection="array" open="(" separator="," close=")">
			#{bcbdZzdyId}
		</foreach>
	</delete>

</mapper>