<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.BrqyDao">

	<select id="get" resultType="com.smart119.jczy.domain.BrqyDO">
		select `id`,`type`,`coordinates_baidu`,`coordinates_gaode`,`remarks`,`cdate`,`status`,`cperson` from jczy_brqy where id = #{value}
	</select>

	<select id="list" resultType="com.smart119.jczy.domain.BrqyDO">
		select
		brqy.`id`,
		dict.`name` as `type`,
		brqy.`coordinates_baidu`,
		brqy.`coordinates_gaode`,
		brqy.`remarks`,
		brqy.`cdate`,
		CASE brqy.`status`
		WHEN '0' THEN '启用'
		WHEN '1' THEN '失效'
		END as `status`,
		brqy.`cperson`

		from jczy_brqy brqy
		LEFT JOIN sys_dict dict
		on brqy.type = dict.`value` and dict.type='ghljbrqylb'
        <where>  
		  		  <if test="id != null and id != ''"> and brqy.id = #{id} </if>
		  		  <if test="type != null and type != ''"> and brqy.type = #{type} </if>
		  		  <if test="coordinatesBaidu != null and coordinatesBaidu != ''"> and brqy.coordinates_baidu = #{coordinatesBaidu} </if>
		  		  <if test="coordinatesGaode != null and coordinatesGaode != ''"> and brqy.coordinates_gaode = #{coordinatesGaode} </if>
		  		  <if test="remarks != null and remarks != ''"> and brqy.remarks = #{remarks} </if>
		  		  <if test="cdate != null and cdate != ''"> and brqy.cdate = #{cdate} </if>
		  		  <if test="status != null and status != ''"> and brqy.status = #{status} </if>
		  		  <if test="cperson != null and cperson != ''"> and brqy.cperson = #{cperson} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jczy_brqy
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="coordinatesBaidu != null and coordinatesBaidu != ''"> and coordinates_baidu = #{coordinatesBaidu} </if>
		  		  <if test="coordinatesGaode != null and coordinatesGaode != ''"> and coordinates_gaode = #{coordinatesGaode} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.jczy.domain.BrqyDO">
		insert into jczy_brqy
		(
			`id`, 
			`type`, 
			`coordinates_baidu`, 
			`coordinates_gaode`, 
			`remarks`, 
			`cdate`, 
			`status`, 
			`cperson`
		)
		values
		(
			#{id}, 
			#{type}, 
			#{coordinatesBaidu}, 
			#{coordinatesGaode}, 
			#{remarks}, 
			#{cdate}, 
			#{status}, 
			#{cperson}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.jczy.domain.BrqyDO">
		update jczy_brqy 
		<set>
			<if test="type != null">`type` = #{type}, </if>
			<if test="coordinatesBaidu != null">`coordinates_baidu` = #{coordinatesBaidu}, </if>
			<if test="coordinatesGaode != null">`coordinates_gaode` = #{coordinatesGaode}, </if>
			<if test="remarks != null">`remarks` = #{remarks}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="cperson != null">`cperson` = #{cperson}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from jczy_brqy where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jczy_brqy where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>