<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.JjbDao">

	<select id="get" resultType="com.smart119.jczy.domain.JjbDO">
		select `jjb_tybsbm`,`jiaobryid`,`jiaobrymc`,`jiaobbmid`,`jiaobbmmc`,`jiebryid`,`jiebrymc`,`jiebbmid`,`jiebbmmc`,`jjbsj`,`jjbnr`,`cdate`,`cperson`,`status` from jczy_jjb where jjb_tybsbm = #{value}
	</select>

	<select id="getByUserId" resultType="com.smart119.jczy.domain.JjbDO">
		select `jjb_tybsbm`,`jiaobryid`,`jiaobrymc`,`jiaobbmid`,`jiaobbmmc`,`jiebryid`,`jiebrymc`,`jiebbmid`,`jiebbmmc`,`jjbsj`,`jjbnr`,`cdate`,`cperson`,`status`
		from jczy_jjb where jiebryid = #{jiebryid} order by cdate desc limit 1
	</select>


	<select id="list" resultType="com.smart119.jczy.domain.JjbDO">
		select `jjb_tybsbm`,`jiaobryid`,`jiaobrymc`,`jiaobbmid`,`jiaobbmmc`,`jiebryid`,`jiebrymc`,`jiebbmid`,`jiebbmmc`,`jjbsj`,`jjbnr`,`cdate`,`cperson`,`status` from jczy_jjb
        <where>  
		  		  <if test="jjbTybsbm != null and jjbTybsbm != ''"> and jjb_tybsbm = #{jjbTybsbm} </if>
		  		  <if test="jiaobryid != null and jiaobryid != ''"> and jiaobryid = #{jiaobryid} </if>
		  		  <if test="jiaobrymc != null and jiaobrymc != ''"> and jiaobrymc = #{jiaobrymc} </if>
		  		  <if test="jiaobbmid != null and jiaobbmid != ''"> and jiaobbmid = #{jiaobbmid} </if>
		  		  <if test="jiaobbmmc != null and jiaobbmmc != ''"> and jiaobbmmc = #{jiaobbmmc} </if>
		  		  <if test="jiebryid != null and jiebryid != ''"> and jiebryid = #{jiebryid} </if>
		  		  <if test="jiebrymc != null and jiebrymc != ''"> and jiebrymc = #{jiebrymc} </if>
		  		  <if test="jiebbmid != null and jiebbmid != ''"> and jiebbmid = #{jiebbmid} </if>
		  		  <if test="jiebbmmc != null and jiebbmmc != ''"> and jiebbmmc = #{jiebbmmc} </if>
		  		  <if test="jjbsj != null and jjbsj != ''"> and jjbsj = #{jjbsj} </if>
		  		  <if test="jjbnr != null and jjbnr != ''"> and jjbnr = #{jjbnr} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by jjb_tybsbm desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jczy_jjb
		 <where>  
		  		  <if test="jjbTybsbm != null and jjbTybsbm != ''"> and jjb_tybsbm = #{jjbTybsbm} </if>
		  		  <if test="jiaobryid != null and jiaobryid != ''"> and jiaobryid = #{jiaobryid} </if>
		  		  <if test="jiaobrymc != null and jiaobrymc != ''"> and jiaobrymc = #{jiaobrymc} </if>
		  		  <if test="jiaobbmid != null and jiaobbmid != ''"> and jiaobbmid = #{jiaobbmid} </if>
		  		  <if test="jiaobbmmc != null and jiaobbmmc != ''"> and jiaobbmmc = #{jiaobbmmc} </if>
		  		  <if test="jiebryid != null and jiebryid != ''"> and jiebryid = #{jiebryid} </if>
		  		  <if test="jiebrymc != null and jiebrymc != ''"> and jiebrymc = #{jiebrymc} </if>
		  		  <if test="jiebbmid != null and jiebbmid != ''"> and jiebbmid = #{jiebbmid} </if>
		  		  <if test="jiebbmmc != null and jiebbmmc != ''"> and jiebbmmc = #{jiebbmmc} </if>
		  		  <if test="jjbsj != null and jjbsj != ''"> and jjbsj = #{jjbsj} </if>
		  		  <if test="jjbnr != null and jjbnr != ''"> and jjbnr = #{jjbnr} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.jczy.domain.JjbDO">
		insert into jczy_jjb
		(
			`jjb_tybsbm`, 
			`jiaobryid`, 
			`jiaobrymc`, 
			`jiaobbmid`, 
			`jiaobbmmc`, 
			`jiebryid`, 
			`jiebrymc`, 
			`jiebbmid`, 
			`jiebbmmc`, 
			`jjbsj`, 
			`jjbnr`, 
			`cdate`, 
			`cperson`, 
			`status`
		)
		values
		(
			#{jjbTybsbm}, 
			#{jiaobryid}, 
			#{jiaobrymc}, 
			#{jiaobbmid}, 
			#{jiaobbmmc}, 
			#{jiebryid}, 
			#{jiebrymc}, 
			#{jiebbmid}, 
			#{jiebbmmc}, 
			#{jjbsj}, 
			#{jjbnr}, 
			#{cdate}, 
			#{cperson}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.jczy.domain.JjbDO">
		update jczy_jjb 
		<set>
			<if test="jiaobryid != null">`jiaobryid` = #{jiaobryid}, </if>
			<if test="jiaobrymc != null">`jiaobrymc` = #{jiaobrymc}, </if>
			<if test="jiaobbmid != null">`jiaobbmid` = #{jiaobbmid}, </if>
			<if test="jiaobbmmc != null">`jiaobbmmc` = #{jiaobbmmc}, </if>
			<if test="jiebryid != null">`jiebryid` = #{jiebryid}, </if>
			<if test="jiebrymc != null">`jiebrymc` = #{jiebrymc}, </if>
			<if test="jiebbmid != null">`jiebbmid` = #{jiebbmid}, </if>
			<if test="jiebbmmc != null">`jiebbmmc` = #{jiebbmmc}, </if>
			<if test="jjbsj != null">`jjbsj` = #{jjbsj}, </if>
			<if test="jjbnr != null">`jjbnr` = #{jjbnr}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where jjb_tybsbm = #{jjbTybsbm}
	</update>
	
	<delete id="remove">
		delete from jczy_jjb where jjb_tybsbm = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jczy_jjb where jjb_tybsbm in 
		<foreach item="jjbTybsbm" collection="array" open="(" separator="," close=")">
			#{jjbTybsbm}
		</foreach>
	</delete>

</mapper>