<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.JqtjDao">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.smart119.webapi.domain.JbxxDO" id="jbxxMap">
					<result property="jqTywysbm" column="JQ_TYWYSBM"/>
					<result property="bjTywysbm" column="BJ_TYWYSBM"/>
					<result property="mc" column="MC"/>
					<result property="ddmc" column="DDMC"/>
					<result property="jqflydm" column="JQFLYDM"/>
					<result property="jqdjdm" column="JQDJDM"/>
					<result property="jqztLbdm" column="JQZT_LBDM"/>
					<result property="jqztRqsj" column="JQZT_RQSJ"/>
					<result property="jqdxTywysbm" column="JQDX_TYWYSBM"/>
					<result property="jqdxMc" column="JQDX_MC"/>
					<result property="jqdxJyqk" column="JQDX_JYQK"/>
					<result property="jqJyqk" column="JQ_JYQK"/>
					<result property="jqbslbdm" column="JQBSLBDM"/>
					<result property="lc" column="LC"/>
					<result property="dqjd" column="DQJD"/>
					<result property="dqwd" column="DQWD"/>
					<result property="bjrxm" column="BJRXM"/>
					<result property="bjdh" column="BJDH"/>
					<result property="bjfslbdm" column="BJFSLBDM"/>
					<result property="bjsj" column="BJSJ"/>
					<result property="lasj" column="LASJ"/>
					<result property="jasj" column="JASJ"/>
					<result property="jsmlsj" column="JSMLSJ"/>
					<result property="cdsj" column="CDSJ"/>
					<result property="dcsj" column="DCSJ"/>
					<result property="zdzksj" column="ZDZKSJ"/>
					<result property="cssj" column="CSSJ"/>
					<result property="hskzsj" column="HSKZSJ"/>
					<result property="jbpmsj" column="JBPMSJ"/>
					<result property="tssj" column="TSSJ"/>
					<result property="gdsj" column="GDSJ"/>
					<result property="ztfhsj" column="ZTFHSJ"/>
					<result property="xfjyjgTywysbm" column="XFJYJG_TYWYSBM"/>
					<result property="xzqhdm" column="XZQHDM"/>
					<result property="jzjglxdm" column="JZJGLXDM"/>
					<result property="ywqkdm" column="YWQKDM"/>
					<result property="zhcsdm" column="ZHCSDM"/>
					<result property="rswdm" column="RSWDM"/>
					<result property="bkrs" column="BKRS"/>
					<result property="rysw" column="RYSW"/>
					<result property="cperson" column="cperson"/>
					<result property="cdate" column="cdate"/>
					<result property="status" column="status"/>
			</resultMap>


	<select id="selectPageVo" resultType="com.smart119.webapi.domain.JbxxDO">
		SELECT * from
		jqxx_jbxx
	</select>


</mapper>