<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.JqtjDao">


    <select id="list" resultType="java.util.HashMap">
        SELECT distinct
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '1'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>

        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>


        group by jqxx_jbxx.JQ_TYWYSBM) B) as count,
        '火灾救援' AS mc,
        CONCAT(
        CAST(
        round(
        (
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '1'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>

        group by jqxx_jbxx.JQ_TYWYSBM) B) / (
        select COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>

        group by jqxx_jbxx.JQ_TYWYSBM )A
        )
        ) * 100,
        3
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        jqxx_jqcjdp_dz C
        WHERE
        1=1
        <if test="deptList != null and deptList.size() > 0">and C.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>

        UNION ALL
        SELECT distinct
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '2'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) as count,
        '抢险救援' AS mc,
        CONCAT(
        CAST(
        round(
        (
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '2'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) / (
        select COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM )A
        )
        ) * 100,
        3
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        jqxx_jqcjdp_dz C
        WHERE
        1=1
        <if test="deptList != null and deptList.size() > 0">and C.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        UNION ALL
        SELECT distinct
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '3'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) as count,
        '反恐排爆' AS mc,
        CONCAT(
        CAST(
        round(
        (
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '3'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) / (
        select COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM )A
        )
        ) * 100,
        3
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        jqxx_jqcjdp_dz C
        WHERE
        1=1
        <if test="deptList != null and deptList.size() > 0">and C.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        UNION ALL
        SELECT distinct
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '4'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) as count,
        '公务执勤' AS mc,
        CONCAT(
        CAST(
        round(
        (
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '4'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>

        group by jqxx_jbxx.JQ_TYWYSBM) B) / (
        select COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM )A
        )
        ) * 100,
        3
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        jqxx_jqcjdp_dz C
        WHERE
        1=1
        <if test="deptList != null and deptList.size() > 0">and C.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        UNION ALL
        SELECT distinct
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '5'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) as count,
        '社会救助' AS mc,
        CONCAT(
        CAST(
        round(
        (
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '5'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>

        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) / (
        select COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>

        group by jqxx_jbxx.JQ_TYWYSBM )A
        )
        ) * 100,
        3
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        jqxx_jqcjdp_dz C
        WHERE
        1=1
        <if test="deptList != null and deptList.size() > 0">and C.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        UNION ALL
        SELECT distinct
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND (LEFT (jqxx_jbxx.JQFLYDM, 1) = '6' or jqxx_jbxx.JQFLYDM is null)
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) as count,
        '其他出动' AS mc,
        CONCAT(
        CAST(
        round(
        (
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND (LEFT (jqxx_jbxx.JQFLYDM, 1) = '6' or jqxx_jbxx.JQFLYDM is null)
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) / (
        select COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM )A
        )
        ) * 100,
        3
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        jqxx_jqcjdp_dz C
        WHERE
        1=1
        <if test="deptList != null and deptList.size() > 0">and C.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>


    </select>
    <select id="listExcel" resultType="com.smart119.jczy.domain.JqtjDO">
        SELECT distinct
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '1'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>

        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>


        group by jqxx_jbxx.JQ_TYWYSBM) B) as count,
        '火灾救援' AS mc,
        CONCAT(
        CAST(
        round(
        (
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '1'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>

        group by jqxx_jbxx.JQ_TYWYSBM) B) / (
        select COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>

        group by jqxx_jbxx.JQ_TYWYSBM )A
        )
        ) * 100,
        3
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        jqxx_jqcjdp_dz C
        WHERE
        1=1
        <if test="deptList != null and deptList.size() > 0">and C.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>

        UNION ALL
        SELECT distinct
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '2'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) as count,
        '抢险救援' AS mc,
        CONCAT(
        CAST(
        round(
        (
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '2'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) / (
        select COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM )A
        )
        ) * 100,
        3
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        jqxx_jqcjdp_dz C
        WHERE
        1=1
        <if test="deptList != null and deptList.size() > 0">and C.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        UNION ALL
        SELECT distinct
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '3'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) as count,
        '反恐排爆' AS mc,
        CONCAT(
        CAST(
        round(
        (
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '3'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) / (
        select COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM )A
        )
        ) * 100,
        3
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        jqxx_jqcjdp_dz C
        WHERE
        1=1
        <if test="deptList != null and deptList.size() > 0">and C.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        UNION ALL
        SELECT distinct
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '4'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) as count,
        '公务执勤' AS mc,
        CONCAT(
        CAST(
        round(
        (
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '4'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>

        group by jqxx_jbxx.JQ_TYWYSBM) B) / (
        select COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM )A
        )
        ) * 100,
        3
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        jqxx_jqcjdp_dz C
        WHERE
        1=1
        <if test="deptList != null and deptList.size() > 0">and C.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        UNION ALL
        SELECT distinct
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '5'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) as count,
        '社会救助' AS mc,
        CONCAT(
        CAST(
        round(
        (
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND LEFT (jqxx_jbxx.JQFLYDM, 1) = '5'
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>

        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) / (
        select COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>

        group by jqxx_jbxx.JQ_TYWYSBM )A
        )
        ) * 100,
        3
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        jqxx_jqcjdp_dz C
        WHERE
        1=1
        <if test="deptList != null and deptList.size() > 0">and C.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        UNION ALL
        SELECT distinct
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND (LEFT (jqxx_jbxx.JQFLYDM, 1) = '6' or jqxx_jbxx.JQFLYDM is null)
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) as count,
        '其他出动' AS mc,
        CONCAT(
        CAST(
        round(
        (
        (SELECT COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND (LEFT (jqxx_jbxx.JQFLYDM, 1) = '6' or jqxx_jbxx.JQFLYDM is null)
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM) B) / (
        select COUNT(*) FROM (SELECT
        count(*)
        FROM
        jqxx_jbxx ,
        jqxx_jqcjdp,
        jqxx_jqcjdp_dz
        where 1=1
        AND jqxx_jqcjdp.JQCJDP_TYWYSBM = jqxx_jqcjdp_dz.DP_TYWYSBM
        AND jqxx_jbxx.JQ_TYWYSBM = jqxx_jqcjdp.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and jqxx_jqcjdp_dz.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and jqxx_jqcjdp_dz.cdate   &lt;= #{endDate}
        </if>
        group by jqxx_jbxx.JQ_TYWYSBM )A
        )
        ) * 100,
        3
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        jqxx_jqcjdp_dz C
        WHERE
        1=1
        <if test="deptList != null and deptList.size() > 0">and C.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>


    </select>

    <select id="getListType" resultType="java.util.HashMap">
              SELECT
            count( 1 ) count,
        CASE
                WHEN LEFT ( jbxx.JQFLYDM, 1 ) = 1 THEN
                '火灾扑救'
                WHEN LEFT ( jbxx.JQFLYDM, 1 ) = 2 THEN
                '抢险救援'
                WHEN LEFT ( jbxx.JQFLYDM, 1 ) = 3 THEN
                '反恐排爆'
                WHEN LEFT ( jbxx.JQFLYDM, 1 ) = 4 THEN
                '公务执勤'
                WHEN LEFT ( jbxx.JQFLYDM, 1 ) = 5 THEN
                '社会救助' ELSE '其他行动'
            END type
        FROM
            (
            SELECT
            jqxx_jbxx.JQFLYDM,
            jqxx_jbxx.JQ_TYWYSBM
            FROM
            jqxx_jbxx,
            ( SELECT JQ_TYWYSBM FROM jqxx_xfclcdxx GROUP BY JQ_TYWYSBM ) cdxx
            WHERE

            jqxx_jbxx.JQ_TYWYSBM = cdxx.JQ_TYWYSBM


        <if test="startDate != null and  startDate != '' ">
            and jqxx_jbxx.cdate   &gt;= #{startDate}
        </if>
        <if test="endDate != null and  endDate != '' ">
            and jqxx_jbxx.cdate   &lt;= #{endDate}
        </if>

            GROUP BY
                jqxx_jbxx.JQ_TYWYSBM,
                LEFT ( jqxx_jbxx.JQFLYDM, 1 )
            ) jbxx
        GROUP BY
            LEFT ( jbxx.JQFLYDM, 1 )

    </select>
    <select id="getBJcout" resultType="java.util.HashMap">
        select count(1) count FROM jqxx_bjjl
         where 1=1
        <if test="startDate != null and  startDate != '' ">
            and cdate &gt;= #{startDate}
        </if>
        <if test="endDate != null and  endDate != '' ">
            and   cdate  &lt;= #{endDate}
        </if>

    </select>
    <select id="getBJcout2" resultType="java.util.HashMap">
        select count(1) count FROM jqxx_bjjl
        where 1=1
        <if test="startDate != null and  startDate != '' ">
           and  cdate &gt;= DATE_FORMAT( DATE_SUB(#{startDate}, INTERVAL 1 DAY ), '%Y-%m-%d %H:%i:%S' )
        </if>
        <if test="endDate != null and  endDate != '' ">
            and cdate  &lt;= DATE_FORMAT( DATE_SUB(#{endDate}, INTERVAL 1 DAY ), '%Y-%m-%d %H:%i:%S' )
        </if>
    </select>
    <select id="getCdcout" resultType="java.util.HashMap">
      SELECT
        sum( CASE WHEN cdxx.JQ_TYWYSBM IS NOT NULL THEN 1 ELSE 0 END ) count
     FROM
        jqxx_jbxx jbxx
         JOIN ( SELECT JQ_TYWYSBM FROM jqxx_xfclcdxx GROUP BY JQ_TYWYSBM ) cdxx ON jbxx.JQ_TYWYSBM = cdxx.JQ_TYWYSBM
        where 1=1
        <if test="startDate != null and  startDate != '' ">
            and jbxx.cdate   &gt;= #{startDate}
        </if>
        <if test="endDate != null and  endDate != '' ">
            and jbxx.cdate   &lt;= #{endDate}
        </if>
    </select>

    <select id="hzpuList" resultType="java.util.HashMap">
        SELECT
        a.XZQHDM AS xzqhdm,
        dic.NAME AS qy
        ,count(a.JQ_TYWYSBM ) AS count
        FROM
        jqxx_jbxx a
        LEFT JOIN sys_dict dic ON a.XZQHDM = dic.`value`
        AND dic.type = 'XZQHDM'
        JOIN ( SELECT JQ_TYWYSBM FROM jqxx_xfclcdxx WHERE JQ_TYWYSBM IS NOT NULL GROUP BY JQ_TYWYSBM ) cdxx ON a.JQ_TYWYSBM = cdxx.JQ_TYWYSBM
        where 1=1 and a.XZQHDM != '371300' and a.XZQHDM != '371301' and a.XZQHDM != ''
         and LEFT ( a.JQFLYDM, 1 )=1
        <if test="startDate != null and startDate != '' and  endDate != null and  endDate != ''">
            and ( a.LASJ BETWEEN #{startDate} and #{endDate} )
        </if>
        group by a.XZQHDM order by a.XZQHDM ;
    </select>
    <select id="getHourList" resultType="java.util.HashMap">
      SELECT
          CONVERT(substring(jbxx.cdate,11,3) , SIGNED) hour,
          sum( CASE WHEN jbxx.JQ_TYWYSBM IS NOT NULL THEN 1 ELSE 0 END ) jqcount ,
            sum( CASE WHEN cdxx.JQ_TYWYSBM IS NOT NULL THEN 1 ELSE 0 END ) count ,
            sum( CASE WHEN LEFT ( jbxx.JQFLYDM, 1 ) = 1 THEN 1 ELSE 0 END ) hzcount,
            sum(ifNULL(clxx.count,0) )as clcount,
            sum(ifNULL(clxx.count,0) )as xycount
        FROM
            jqxx_jbxx jbxx
            left JOIN ( SELECT JQ_TYWYSBM FROM jqxx_xfclcdxx GROUP BY JQ_TYWYSBM ) cdxx ON jbxx.JQ_TYWYSBM = cdxx.JQ_TYWYSBM
            left JOIN (SELECT count(1) count,JQ_TYWYSBM FROM jqxx_xfclcdxx WHERE JQ_TYWYSBM IS NOT NULL GROUP BY JQ_TYWYSBM) clxx  ON jbxx.    JQ_TYWYSBM = clxx.JQ_TYWYSBM
            left JOIN (SELECT count(1) count,JQ_TYWYSBM FROM jqxx_xfrycdxx WHERE JQ_TYWYSBM IS NOT NULL GROUP BY JQ_TYWYSBM) xyxx  ON jbxx.    JQ_TYWYSBM = xyxx.JQ_TYWYSBM
        WHERE
            1 =1
        <if test="startDate != null and  startDate != '' ">
            and jbxx.cdate   &gt;= #{startDate}
        </if>
        <if test="endDate != null and  endDate != '' ">
            and jbxx.cdate   &lt;= #{endDate}
        </if>
	   GROUP BY  substring(jbxx.cdate,11,3)
	   ORDER BY  CONVERT( substring(jbxx.cdate,11,3) , SIGNED)  ASC
    </select>
</mapper>