<?mcl version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.JqzhtjDao">


    <select id="list" resultType="com.smart119.webapi.domain.JbxxDO">
        SELECT
         '警情总数' as mc,
        coalesce(cast(count(distinct A.JQ_TYWYSBM) AS int),0) count from 	jqxx_jbxx A ,jqxx_jqcjdp B,jczy_jqgd D
        where
        A.JQ_TYWYSBM = B.JQ_TYWYSBM
        AND  A.JQ_TYWYSBM= D.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and A.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and A.LASJ   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and A.LASJ   &lt;= #{endDate}
        </if>
        UNION ALL

        SELECT
         '出动次数' as mc,
        coalesce(cast(count(distinct B.JQCJDP_TYWYSBM) AS int) ,0) count from 	jqxx_jbxx A ,jqxx_jqcjdp B,jczy_jqgd D
        where
        A.JQ_TYWYSBM = B.JQ_TYWYSBM
        AND  A.JQ_TYWYSBM= D.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and A.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and A.LASJ   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and A.LASJ   &lt;= #{endDate}
        </if>

        UNION ALL

        SELECT
         '调派车辆' as mc,
        coalesce(cast(count(D.DPCL_SL) AS int),0) count from 	jqxx_jbxx A ,jqxx_jqcjdp B,jczy_jqgd D
        where
        A.JQ_TYWYSBM = B.JQ_TYWYSBM
        AND  A.JQ_TYWYSBM= D.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and A.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and A.LASJ   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and A.LASJ   &lt;= #{endDate}
        </if>

        UNION ALL

        SELECT
         '调派人数' as mc,
        coalesce(cast(SUM(D.DPRY_RS) AS int) ,0) count from 	jqxx_jbxx A ,jqxx_jqcjdp B,jczy_jqgd D
        where
        A.JQ_TYWYSBM = B.JQ_TYWYSBM
        AND  A.JQ_TYWYSBM= D.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and A.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and A.LASJ   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and A.LASJ   &lt;= #{endDate}
        </if>

        UNION ALL

        SELECT
         '受伤战士' as mc,
        coalesce(cast(SUM(D.DWSS_RS) AS int),0) count from 	jqxx_jbxx A ,jqxx_jqcjdp B,jczy_jqgd D
        where
        A.JQ_TYWYSBM = B.JQ_TYWYSBM
        AND  A.JQ_TYWYSBM= D.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and A.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and A.LASJ   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and A.LASJ   &lt;= #{endDate}
        </if>

        UNION ALL

        SELECT
         '死亡战士' as mc,
        coalesce( cast(SUM(D.DWSW_RS) AS int) ,0) count from 	jqxx_jbxx A ,jqxx_jqcjdp B,jczy_jqgd D
        where
        A.JQ_TYWYSBM = B.JQ_TYWYSBM
        AND  A.JQ_TYWYSBM= D.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and A.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and A.LASJ   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and A.LASJ   &lt;= #{endDate}
        </if>

        UNION ALL

        SELECT
         '受伤人数' as mc,
        coalesce(cast(SUM(D.QZSS_RS) AS int) ,0) count from 	jqxx_jbxx A ,jqxx_jqcjdp B,jczy_jqgd D
        where
        A.JQ_TYWYSBM = B.JQ_TYWYSBM
        AND  A.JQ_TYWYSBM= D.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and A.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and A.LASJ   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and A.LASJ   &lt;= #{endDate}
        </if>
        UNION ALL

        SELECT
         '死亡人数' as mc,
        coalesce(cast(SUM(D.QZSW_RS) AS int) ,0) count from 	jqxx_jbxx A ,jqxx_jqcjdp B,jczy_jqgd D
        where
        A.JQ_TYWYSBM = B.JQ_TYWYSBM
        AND  A.JQ_TYWYSBM= D.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and A.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and A.LASJ   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and A.LASJ   &lt;= #{endDate}
        </if>

        UNION ALL

        SELECT
         '燃烧面积' as mc,
        coalesce(cast(SUM(D.RS_MJ) AS int) ,0) count from 	jqxx_jbxx A ,jqxx_jqcjdp B,jczy_jqgd D
        where
        A.JQ_TYWYSBM = B.JQ_TYWYSBM
        AND  A.JQ_TYWYSBM= D.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and A.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and A.LASJ   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and A.LASJ   &lt;= #{endDate}
        </if>

        UNION ALL

        SELECT
         '直接损失' as mc,
        coalesce(cast(SUM(D.CCSS_JYQK) AS int) ,0) count from 	jqxx_jbxx A ,jqxx_jqcjdp B,jczy_jqgd D
        where
        A.JQ_TYWYSBM = B.JQ_TYWYSBM
        AND  A.JQ_TYWYSBM= D.JQ_TYWYSBM

        <if test="deptList != null and deptList.size() > 0">and A.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and A.LASJ   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and A.LASJ   &lt;= #{endDate}
        </if>

    </select>


    <select id="getExcel" resultType="com.smart119.jczy.domain.JqzhtjDO">
        SELECT
            coalesce(cast(count(distinct A.JQ_TYWYSBM) AS int),0) jqzs,
            coalesce(cast(count(distinct B.JQCJDP_TYWYSBM) AS int) ,0) cdcs,
            coalesce(cast(count(D.DPCL_SL) AS int),0) dpcl,
            coalesce(cast(SUM(D.DPRY_RS) AS int) ,0) dprs,
            coalesce(cast(SUM(D.DWSS_RS) AS int),0) sszs,
            coalesce( cast(SUM(D.DWSW_RS) AS int) ,0) swzs,
            coalesce( cast(SUM(D.QZSS_RS) AS int) ,0) ssrs,
            coalesce( cast(SUM(D.QZSW_RS) AS int) ,0) swrs,
            coalesce(cast(SUM(D.RS_MJ) AS int) ,0) rsmj,
            coalesce(cast(SUM(D.CCSS_JYQK) AS int) ,0) zjss
        FROM
            jqxx_jbxx A,
            jqxx_jqcjdp B,
            jczy_jqgd D
        WHERE
            A.JQ_TYWYSBM = B.JQ_TYWYSBM
            AND A.JQ_TYWYSBM = D.JQ_TYWYSBM


        <if test="deptList != null and deptList.size() > 0">and A.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="startDate != null and  startDate != '' ">
            and A.LASJ   &gt;= #{startDate}
        </if>

        <if test="endDate != null and  endDate != '' ">
            and A.LASJ   &lt;= #{endDate}
        </if>
    </select>
</mapper>