<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.KbmbDao">

	<select id="get" resultType="com.smart119.jczy.domain.KbmbDO">
		select `kbmb_id`,`name`,`content`,`remarks`,`cdate`,`cperson`,`status`,`jqflydm`,`type` from jczy_kbmb where kbmb_id = #{value}
	</select>

	<select id="list" resultType="com.smart119.jczy.domain.KbmbDO">
		select `kbmb_id`,kbmb.`name`,`content`,kbmb.`remarks`,`cdate`,`cperson`,`status`,`jqflydm`,kbmb.`type`,jqlb.`name` as jqlxName,kblb.`name` as kblbName
		from jczy_kbmb kbmb
		LEFT JOIN sys_dict jqlb
		on jqlb.`value`= kbmb.jqflydm and jqlb.type='JQLB_DL'
		LEFT JOIN sys_dict kblb
		on kblb.`value`= kbmb.type and kblb.type='JQKBLB'
        <where>  
		  		  <if test="kbmbId != null and kbmbId != ''"> and kbmb.kbmb_id = #{kbmbId} </if>
		  		  <if test="name != null and name != ''"> and kbmb.name = #{name} </if>
		  		  <if test="content != null and content != ''"> and kbmb.content = #{content} </if>
		  		  <if test="remarks != null and remarks != ''"> and kbmb.remarks = #{remarks} </if>
		  		  <if test="cdate != null and cdate != ''"> and kbmb.cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and kbmb.cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and kbmb.status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by kbmb.kbmb_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jczy_kbmb
		 <where>  
		  		  <if test="kbmbId != null and kbmbId != ''"> and kbmb_id = #{kbmbId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.jczy.domain.KbmbDO">
		insert into jczy_kbmb
		(
			`kbmb_id`, 
			`name`, 
			`content`, 
			`remarks`, 
			`cdate`, 
			`cperson`, 
			`status`,
			`jqflydm`,
			`type`
		)
		values
		(
			#{kbmbId}, 
			#{name}, 
			#{content}, 
			#{remarks}, 
			#{cdate}, 
			#{cperson}, 
			#{status},
			#{jqflydm},
			#{type}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.jczy.domain.KbmbDO">
		update jczy_kbmb 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="remarks != null">`remarks` = #{remarks}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="status != null">`status` = #{status},</if>
			<if test="cperson != null">`jqflydm` = #{jqflydm}, </if>
			<if test="status != null">`type` = #{type}</if>
		</set>
		where kbmb_id = #{kbmbId}
	</update>
	
	<delete id="remove">
		delete from jczy_kbmb where kbmb_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jczy_kbmb where kbmb_id in 
		<foreach item="kbmbId" collection="array" open="(" separator="," close=")">
			#{kbmbId}
		</foreach>
	</delete>

</mapper>