<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.QyjqtjDao">

    <sql id="queryParam">
        <if test="startDate != null and startDate != '' and  endDate != null and  endDate != ''">
            and ( a.LASJ BETWEEN #{startDate} and #{endDate} )
        </if>
    </sql>

    <select id="qyjqtjList" resultType="com.smart119.webapi.domain.JbxxDO">
        select a.XZQHDM as xzqhdm, (select d.name from sys_dict d
        where d.type = 'XZQHDM' and d.value = a.XZQHDM and d.value != '' and d.value is not null ) as mc,
        count(JQ_TYWYSBM) as count
        from jqxx_jbxx a where 1=1 and a.XZQHDM != '371300' and a.XZQHDM != '371301' and a.XZQHDM != ''
        <include refid="queryParam"/>
        group by a.XZQHDM order by a.XZQHDM ;
    </select>

    <select id="qyjqtjExcel" resultType="com.smart119.jczy.domain.QyjqtjDO">
        select  (select d.name from sys_dict d
        where d.type = 'XZQHDM' and d.value = a.XZQHDM and d.value != '' and d.value is not null ) as mc,
        count(JQ_TYWYSBM) as count
        from jqxx_jbxx a where 1=1 and a.XZQHDM != '371300' and a.XZQHDM != '371301' and a.XZQHDM != ''
        <include refid="queryParam"/>
        group by a.XZQHDM order by a.XZQHDM ;
    </select>
</mapper>