<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.SpjkDao">

	<select id="get" resultType="com.smart119.jczy.domain.SpjkDO">
		select `SPJK_TYWYSBM`,`MC`,`SPJKLXDM`,`DDMC`,`SPLJDZ`,`JYQK`,`SPLXDM`,`SPJRFSDM`,`DQJD`,`DQWD`,`cdate`,`status`,`cperson` from jczy_spjk where SPJK_TYWYSBM = #{value}
	</select>

	<select id="list" resultType="com.smart119.jczy.domain.SpjkDO">
		select spjk.`SPJK_TYWYSBM`,spjk.`MC`,dict_jklx.name as `SPJKLXDM`,spjk.`DDMC`,spjk.`SPLJDZ`,spjk.`JYQK`,dict_qxdlx.name as `SPLXDM`,spjk.`SPJRFSDM`,spjk.`DQJD`,`DQWD`,spjk.`cdate`,spjk.`status`,spjk.`cperson`
		from jczy_spjk spjk
		LEFT JOIN sys_dict dict_jklx
		on dict_jklx.`value` = spjk.SPJKLXDM
		LEFT JOIN sys_dict dict_qxdlx
		on dict_qxdlx.`value` = spjk.SPLXDM
        <where>
			and dict_jklx.description = '视频监控类型代码'
			and dict_qxdlx.description='视频清晰度类型代码'
		  <if test="spjkTywysbm != null and spjkTywysbm != ''"> and SPJK_TYWYSBM = #{spjkTywysbm} </if>
		  <if test="mc != null and mc != ''"> and MC = #{mc} </if>
		  <if test="spjklxdm != null and spjklxdm != ''"> and SPJKLXDM = #{spjklxdm} </if>
		  <if test="ddmc != null and ddmc != ''"> and DDMC = #{ddmc} </if>
		  <if test="spljdz != null and spljdz != ''"> and SPLJDZ = #{spljdz} </if>
		  <if test="jyqk != null and jyqk != ''"> and JYQK = #{jyqk} </if>
		  <if test="splxdm != null and splxdm != ''"> and SPLXDM = #{splxdm} </if>
		  <if test="spjrfsdm != null and spjrfsdm != ''"> and SPJRFSDM = #{spjrfsdm} </if>
		  <if test="dqjd != null and dqjd != ''"> and DQJD = #{dqjd} </if>
		  <if test="dqwd != null and dqwd != ''"> and DQWD = #{dqwd} </if>
		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by SPJK_TYWYSBM desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jczy_spjk
		 <where>  
		  		  <if test="spjkTywysbm != null and spjkTywysbm != ''"> and SPJK_TYWYSBM = #{spjkTywysbm} </if>
		  		  <if test="mc != null and mc != ''"> and MC = #{mc} </if>
		  		  <if test="spjklxdm != null and spjklxdm != ''"> and SPJKLXDM = #{spjklxdm} </if>
		  		  <if test="ddmc != null and ddmc != ''"> and DDMC = #{ddmc} </if>
		  		  <if test="spljdz != null and spljdz != ''"> and SPLJDZ = #{spljdz} </if>
		  		  <if test="jyqk != null and jyqk != ''"> and JYQK = #{jyqk} </if>
		  		  <if test="splxdm != null and splxdm != ''"> and SPLXDM = #{splxdm} </if>
		  		  <if test="spjrfsdm != null and spjrfsdm != ''"> and SPJRFSDM = #{spjrfsdm} </if>
		  		  <if test="dqjd != null and dqjd != ''"> and DQJD = #{dqjd} </if>
		  		  <if test="dqwd != null and dqwd != ''"> and DQWD = #{dqwd} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.jczy.domain.SpjkDO">
		insert into jczy_spjk
		(
			`SPJK_TYWYSBM`, 
			`MC`, 
			`SPJKLXDM`, 
			`DDMC`, 
			`SPLJDZ`, 
			`JYQK`, 
			`SPLXDM`, 
			`SPJRFSDM`, 
			`DQJD`, 
			`DQWD`, 
			`cdate`, 
			`status`, 
			`cperson`
		)
		values
		(
			#{spjkTywysbm}, 
			#{mc}, 
			#{spjklxdm}, 
			#{ddmc}, 
			#{spljdz}, 
			#{jyqk}, 
			#{splxdm}, 
			#{spjrfsdm}, 
			#{dqjd}, 
			#{dqwd}, 
			#{cdate}, 
			#{status}, 
			#{cperson}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.jczy.domain.SpjkDO">
		update jczy_spjk 
		<set>
			<if test="mc != null">`MC` = #{mc}, </if>
			<if test="spjklxdm != null">`SPJKLXDM` = #{spjklxdm}, </if>
			<if test="ddmc != null">`DDMC` = #{ddmc}, </if>
			<if test="spljdz != null">`SPLJDZ` = #{spljdz}, </if>
			<if test="jyqk != null">`JYQK` = #{jyqk}, </if>
			<if test="splxdm != null">`SPLXDM` = #{splxdm}, </if>
			<if test="spjrfsdm != null">`SPJRFSDM` = #{spjrfsdm}, </if>
			<if test="dqjd != null">`DQJD` = #{dqjd}, </if>
			<if test="dqwd != null">`DQWD` = #{dqwd}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="cperson != null">`cperson` = #{cperson}</if>
		</set>
		where SPJK_TYWYSBM = #{spjkTywysbm}
	</update>
	
	<delete id="remove">
		delete from jczy_spjk where SPJK_TYWYSBM = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jczy_spjk where SPJK_TYWYSBM in 
		<foreach item="spjkTywysbm" collection="array" open="(" separator="," close=")">
			#{spjkTywysbm}
		</foreach>
	</delete>

</mapper>