<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.VideoChannelDao">

	<select id="get" resultType="com.smart119.jczy.domain.VideoChannelDO">
		select t.`id`,t.`video_channel`,t.`name`,t.`channel_type`,t.`XFJYJG_TYWYSBM`,t.`create_time`,t.deptcode,dept.`DWMC`  as xfjyjgTywysbmname from 4g_video_channel t
		left join sys_dept dept on t.XFJYJG_TYWYSBM=dept.XFJYJG_TYWYSBM where t.id = #{value}
	</select>

	<select id="list" resultType="com.smart119.jczy.domain.VideoChannelDO">
		select t.`id`,t.`video_channel`,t.`name`,t.`channel_type`,t.`XFJYJG_TYWYSBM`,t.`create_time`,t.deptcode,dept.`DWMC`  as xfjyjgTywysbmname from 4g_video_channel t
		left join sys_dept dept on t.XFJYJG_TYWYSBM=dept.XFJYJG_TYWYSBM
        <where>  
		  		  <if test="id != null and id != ''"> and t.id = #{id} </if>
		  		  <if test="videoChannel != null and videoChannel != ''"> and t.video_channel = #{videoChannel} </if>
		  		  <if test="name != null and name != ''"> and t.name = #{name} </if>
		  		  <if test="channelType != null and channelType != ''"> and t.channel_type = #{channelType} </if>
		  		  <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and t.XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
		  		  <if test="createTime != null and createTime != ''"> and t.create_time = #{createTime} </if>
			      <if test="deptCode != null and deptCode != ''"> and t.deptcode = #{deptCode} </if>
			<if test="deptList != null and deptList.size() > 0">and t.XFJYJG_TYWYSBM in
				<foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
					#{item.xfjyjgTywysbm}
				</foreach>
			</if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by t.create_time desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>


	<select id="getDevicesList" resultType="com.smart119.jczy.domain.VideoChannelDO">
		select t.`id`,t.`video_channel`,t.`name`,t.`channel_type`,t.`XFJYJG_TYWYSBM`,t.`create_time`,t.deptcode from 4g_video_channel t
		where 1=1
		<if test="name != null and name != ''"> and t.name like '%${name}%' </if>
		 and  t.XFJYJG_TYWYSBM IS  NULL
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by t.create_time desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from 4g_video_channel
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="videoChannel != null and videoChannel != ''"> and video_channel = #{videoChannel} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="channelType != null and channelType != ''"> and channel_type = #{channelType} </if>
		  		  <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			      <if test="deptCode != null and deptCode != ''"> and deptcode = #{deptCode} </if>
			      <if test="deptList != null and deptList.size() > 0">and XFJYJG_TYWYSBM in
				 <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
					 #{item.xfjyjgTywysbm}
				 </foreach>
			 </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.jczy.domain.VideoChannelDO">
		insert into 4g_video_channel
		(
			`video_channel`, 
			`name`, 
			`channel_type`, 
			`XFJYJG_TYWYSBM`, 
			`create_time`,
			`deptcode`
		)
		values
		(
			#{videoChannel}, 
			#{name}, 
			#{channelType}, 
			#{xfjyjgTywysbm}, 
			#{createTime},
			#{deptCode}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.jczy.domain.VideoChannelDO">
		update 4g_video_channel 
		<set>
			<if test="videoChannel != null">`video_channel` = #{videoChannel}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="channelType != null">`channel_type` = #{channelType}, </if>
			<if test="xfjyjgTywysbm != null">`XFJYJG_TYWYSBM` = #{xfjyjgTywysbm}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
			<if test="deptCode != null">`deptcode` = #{deptCode}, </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from 4g_video_channel where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from 4g_video_channel where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<update id="batchAddDevices" parameterType="com.smart119.jczy.domain.VideoChannelDO">
		update 4g_video_channel
		<set>
			<if test="xfjyjgTywysbm != null">`XFJYJG_TYWYSBM` = #{xfjyjgTywysbm}, </if>
			<if test="deptCode != null">`deptcode` = #{deptCode}, </if>
		</set>
		where id = #{id}
	</update>

</mapper>