<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.XfclDao">

	<select id="get" resultType="com.smart119.jczy.domain.XfclDO">
		SELECT
			t.`XFCL_TYWYSBM`,
			t.`CLMC`,
            t.`CD`,
            t.`KD`,
            t.`ZL`,
            t.`GD`,
			t.`XFZBLXDM`,
			t.`XFCLZZGNDM`,
			t.`XFCLDJDM`,
			t.`XFJYJG_TYWYSBM`,
			t.`JDCHPHM`,
			t.`CLSBDH`,
			t.`DWSB_SIMKKH`,
			t.`GGXH`,
			t.`CKJ_JE`,
			t.`SCCJ_DWMC`,
			t.`JDCCSYSLBDM`,
			t.`CLQWZTLBDM`,
			t.`SFDYCDCL_TYWYSBM`,
			t.`BZ`,
			t.`JDCFDJDDJH`,
			t.`ZZS_RJ`,
			t.`ZZALPM_RJ`,
			t.`ZZBLPM_RJ`,
			t.`CCRQ`,
			t.`ZBRQ`,
			t.`BFRQ`,
			t.`SFZP_PDBZ`,
			t.`SFYYXL_PDBZ`,
			t.`FZR_XM`,
			t.`FZR_LXDH`,
			t.`CLXNZB_JYQK`,
			t.`cdate`,
			t.`cperson`,
			t.`status`,
			t.`CLMC`,
			t.`CD`,
			t.`KD`,
			t.`ZL`,
			t.`CLWZ_DQJD`,
			t.`CLWZ_DQWD`,
			t.`CLWZ_WZCJSJ`,
			t.`FZR_TYWYSBM`,
			t.`SHFW_DWMC`,
			t.`DWSB`,
			t.`ZDYPX`,
			dept.`dwmc` XFJYJG,
			d.`name` XFZBLX,
			d1.`name` CLQWZTLB,
			t.GPS_VID    as gpsVid,
			t.`GPS_VKEY` as gpsVkey,
			t.`PMLX`,
		    t.`CYSL`,
		    t.`JSGD`,
		    t.`BLL_NUM`,
		    t.`PLL_NUM`,
		    t.`ZPMZL`
		FROM
			jczy_xfcl t
			LEFT JOIN sys_dept dept ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
			left join sys_dict d on t.XFZBLXDM=d.`value` and d.description='消防装备器材分类与代码'
			left join sys_dict d1 on t.CLQWZTLBDM=d1.`value` and d1.description='车辆勤务状态类别代码'
		WHERE
			t.XFCL_TYWYSBM = #{value}
	</select>


	<select id="getMap" resultType="java.util.Map">
		SELECT
			t.`XFCL_TYWYSBM`,
			t.`CLMC`,
            t.`CD`,
            t.`KD`,
            t.`ZL`,
            t.`GD`,
			t.`XFZBLXDM`,
			t.`XFCLZZGNDM`,
			t.`XFCLDJDM`,
			t.`XFJYJG_TYWYSBM`,
			t.`JDCHPHM`,
			t.`CLSBDH`,
			t.`DWSB_SIMKKH`,
			t.`GGXH`,
			t.`CKJ_JE`,
			t.`SCCJ_DWMC`,
			t.`JDCCSYSLBDM`,
			t.`CLQWZTLBDM`,
			t.`SFDYCDCL_TYWYSBM`,
			t.`BZ`,
			t.`JDCFDJDDJH`,
			t.`ZZS_RJ`,
			t.`ZZALPM_RJ`,
			t.`ZZBLPM_RJ`,
			t.`CCRQ`,
			t.`ZBRQ`,
			t.`BFRQ`,
			t.`SFZP_PDBZ`,
			t.`SFYYXL_PDBZ`,
			t.`FZR_XM`,
			t.`FZR_LXDH`,
			t.`CLXNZB_JYQK`,
			t.`cdate`,
			t.`cperson`,
			t.`status`,
			t.`CLMC`,
			t.`CD`,
			t.`KD`,
			t.`ZL`,
			t.`CLWZ_DQJD`,
			t.`CLWZ_DQWD`,
			t.`CLWZ_WZCJSJ`,
			t.`FZR_TYWYSBM`,
			t.`SHFW_DWMC`,
			t.`DWSB`,
			t.`ZDYPX`,
			dept.`dwmc` XFJYJG,
			d.`name` XFZBLX,
			d1.`name` CLQWZTLB,
			t.GPS_VID    as gpsVid,
			t.`GPS_VKEY` as gpsVkey,
			t.`PMLX`,
			t.`CYSL`,
			t.`JSGD`,
			t.`BLL_NUM`,
			t.`PLL_NUM`,
			t.`ZPMZL`
		FROM
			jczy_xfcl t
			LEFT JOIN sys_dept dept ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
			left join sys_dict d on t.XFZBLXDM=d.`value` and d.description='消防装备器材分类与代码'
			left join sys_dict d1 on t.CLQWZTLBDM=d1.`value` and d1.description='车辆勤务状态类别代码'
		WHERE
			t.XFCL_TYWYSBM = #{value}
	</select>

	<select id="list" resultType="com.smart119.jczy.domain.XfclDO">
		SELECT
		t.`XFCL_TYWYSBM`,
		t.`CLMC`,
		t.`CD`,
		t.`KD`,
		t.`ZL`,
		t.`GD`,
		t.`XFZBLXDM`,
		t.`XFCLZZGNDM`,
		t.`XFCLDJDM`,
		t.`XFJYJG_TYWYSBM`,
		t.`JDCHPHM`,
		t.`CLSBDH`,
		t.`DWSB_SIMKKH`,
		t.`GGXH`,
		t.`CKJ_JE`,
		t.`SCCJ_DWMC`,
		t.`JDCCSYSLBDM`,
		t.`CLQWZTLBDM`,
		t.`SFDYCDCL_TYWYSBM`,
		t.`BZ`,
		t.`JDCFDJDDJH`,
		t.`ZZS_RJ`,
		t.`ZZALPM_RJ`,
		t.`ZZBLPM_RJ`,
		t.`CCRQ`,
		t.`ZBRQ`,
		t.`BFRQ`,
		t.`SFZP_PDBZ`,
		t.`SFYYXL_PDBZ`,
		t.`FZR_XM`,
		t.`FZR_LXDH`,
		t.`CLXNZB_JYQK`,
		t.`cdate`,
		t.`cperson`,
		t.`status`,
		t.`ZDYPX`,
		dept.`dwmc` XFJYJG,
		d.`name` XFZBLX,
		d1.`name` CLQWZTLB,
		d2.`name` XFCLZZGN,
		d3.`name` XFCLDJ,
		t.GPS_VID    as gpsVid,
		t.`GPS_VKEY` as gpsVkey,
		t.`PMLX`,
		t.`CYSL`,
		t.`JSGD`,
		t.`BLL_NUM`,
		t.`PLL_NUM`,
		t.`ZPMZL`
		FROM
		jczy_xfcl t
		LEFT JOIN sys_dept dept ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
		left join sys_dict d on t.XFZBLXDM=d.`value` and d.description='消防装备器材分类与代码'
		left join sys_dict d1 on t.CLQWZTLBDM=d1.`value` and d1.description='车辆勤务状态类别代码'
		left join sys_dict d2 on t.XFCLZZGNDM=d2.`value` and d2.description='消防车辆作战功能代码'
		left join sys_dict d3 on t.XFCLDJDM=d3.`value` and d3.description='消防车辆等级代码'
		where t.status=0
		          <if test="xfclTywysbm != null and xfclTywysbm != ''"> and t.XFCL_TYWYSBM = #{xfclTywysbm} </if>
		  		  <if test="xfzblxdm != null and xfzblxdm != ''"> and t.XFZBLXDM = #{xfzblxdm} </if>
		  		  <if test="xfclzzgndm != null and xfclzzgndm != ''"> and t.XFCLZZGNDM = #{xfclzzgndm} </if>
		  		  <if test="xfcldjdm != null and xfcldjdm != ''"> and t.XFCLDJDM = #{xfcldjdm} </if>
		  		  <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and t.XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
					<if test="deptList != null and deptList.size() > 0">and t.XFJYJG_TYWYSBM in
						<foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
							#{item.xfjyjgTywysbm}
						</foreach>
					</if>
		  		  <if test="jdchphm != null and jdchphm != ''"> and t.JDCHPHM = #{jdchphm} </if>
		  		  <if test="clsbdh != null and clsbdh != ''"> and t.CLSBDH = #{clsbdh} </if>
		  		  <if test="dwsbSimkkh != null and dwsbSimkkh != ''"> and t.DWSB_SIMKKH = #{dwsbSimkkh} </if>
		  		  <if test="ggxh != null and ggxh != ''"> and t.GGXH = #{ggxh} </if>
		  		  <if test="ckjJe != null and ckjJe != ''"> and t.CKJ_JE = #{ckjJe} </if>
		  		  <if test="sccjDwmc != null and sccjDwmc != ''"> and t.SCCJ_DWMC = #{sccjDwmc} </if>
		  		  <if test="jdccsyslbdm != null and jdccsyslbdm != ''"> and t.JDCCSYSLBDM = #{jdccsyslbdm} </if>
		  		  <if test="clqwztlbdm != null and clqwztlbdm != ''"> and t.CLQWZTLBDM = #{clqwztlbdm} </if>
		  		  <if test="sfdycdclTywysbm != null and sfdycdclTywysbm != ''"> and t.SFDYCDCL_TYWYSBM = #{sfdycdclTywysbm} </if>
		  		  <if test="bz != null and bz != ''"> and t.BZ = #{bz} </if>
		  		  <if test="jdcfdjddjh != null and jdcfdjddjh != ''"> and t.JDCFDJDDJH = #{jdcfdjddjh} </if>
		  		  <if test="zzsRj != null and zzsRj != ''"> and t.ZZS_RJ = #{zzsRj} </if>
		  		  <if test="zzalpmRj != null and zzalpmRj != ''"> and t.ZZALPM_RJ = #{zzalpmRj} </if>
		  		  <if test="zzblpmRj != null and zzblpmRj != ''"> and t.ZZBLPM_RJ = #{zzblpmRj} </if>
		  		  <if test="ccrq != null and ccrq != ''"> and t.CCRQ = #{ccrq} </if>
		  		  <if test="zbrq != null and zbrq != ''"> and t.ZBRQ = #{zbrq} </if>
		  		  <if test="bfrq != null and bfrq != ''"> and t.BFRQ = #{bfrq} </if>
		  		  <if test="sfzpPdbz != null and sfzpPdbz != ''"> and t.SFZP_PDBZ = #{sfzpPdbz} </if>
		  		  <if test="sfyyxlPdbz != null and sfyyxlPdbz != ''"> and t.SFYYXL_PDBZ = #{sfyyxlPdbz} </if>
		  		  <if test="fzrXm != null and fzrXm != ''"> and t.FZR_XM = #{fzrXm} </if>
		  		  <if test="fzrLxdh != null and fzrLxdh != ''"> and t.FZR_LXDH = #{fzrLxdh} </if>
		  		  <if test="clxnzbJyqk != null and clxnzbJyqk != ''"> and t.CLXNZB_JYQK = #{clxnzbJyqk} </if>
		  		  <if test="cdate != null and cdate != ''"> and t.cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and t.cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and t.status = #{status} </if>
		          <if test="clmc != null and clmc != ''"> and t.CLMC = #{clmc} </if>
		          <if test="xfzblxdmname != null and xfzblxdmname != ''"> and d.name like '%${xfzblxdmname}%' </if>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by CAST(t.ZDYPX as SIGNED)
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="carlist" resultType="com.smart119.jczy.domain.XfclDO">
		SELECT
		t.`XFCL_TYWYSBM`,
		t.`CLMC`,
		t.`CD`,
		t.`KD`,
		t.`ZL`,
		t.`GD`,
		t.`XFZBLXDM`,
		t.`XFCLZZGNDM`,
		t.`XFCLDJDM`,
		t.`XFJYJG_TYWYSBM`,
		t.`JDCHPHM`,
		t.`CLSBDH`,
		t.`DWSB_SIMKKH`,
		t.`GGXH`,
		t.`CKJ_JE`,
		t.`SCCJ_DWMC`,
		t.`JDCCSYSLBDM`,
		t.`CLQWZTLBDM`,
		t.`SFDYCDCL_TYWYSBM`,
		t.`BZ`,
		t.`JDCFDJDDJH`,
		t.`ZZS_RJ`,
		t.`ZZALPM_RJ`,
		t.`ZZBLPM_RJ`,
		t.`CCRQ`,
		t.`ZBRQ`,
		t.`BFRQ`,
		t.`SFZP_PDBZ`,
		t.`SFYYXL_PDBZ`,
		t.`FZR_XM`,
		t.`FZR_LXDH`,
		t.`CLXNZB_JYQK`,
		t.`cdate`,
		t.`cperson`,
		t.`status`,
		t.`ZDYPX`,
		dept.`dwmc` XFJYJG,
		d.`name` XFZBLX,
		d1.`name` CLQWZTLB,
		d2.`name` XFCLZZGN,
		d3.`name` XFCLDJ,
		t.GPS_VID    as gpsVid,
		t.`GPS_VKEY` as gpsVkey,
		t.`PMLX`,
		t.`CYSL`,
		t.`JSGD`,
		t.`BLL_NUM`,
		t.`PLL_NUM`,
		t.`ZPMZL`
		FROM
		jczy_xfcl t
		LEFT JOIN sys_dept dept ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
		left join sys_dict d on t.XFZBLXDM=d.`value` and d.description='消防装备器材分类与代码'
		left join sys_dict d1 on t.CLQWZTLBDM=d1.`value` and d1.description='车辆勤务状态类别代码'
		left join sys_dict d2 on t.XFCLZZGNDM=d2.`value` and d2.description='消防车辆作战功能代码'
		left join sys_dict d3 on t.XFCLDJDM=d3.`value` and d3.description='消防车辆等级代码'
		where t.status=0
		<if test="xfclTywysbm != null and xfclTywysbm != ''"> and t.XFCL_TYWYSBM = #{xfclTywysbm} </if>
		<if test="xfzblxdm != null and xfzblxdm != ''"> and t.XFZBLXDM = #{xfzblxdm} </if>
		<if test="xfclzzgndm != null and xfclzzgndm != ''"> and t.XFCLZZGNDM = #{xfclzzgndm} </if>
		<if test="xfcldjdm != null and xfcldjdm != ''"> and t.XFCLDJDM = #{xfcldjdm} </if>
		<if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and t.XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
		<if test="deptList != null and deptList.size() > 0">and t.XFJYJG_TYWYSBM in
			<foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
				#{item.xfjyjgTywysbm}
			</foreach>
		</if>
		<if test="jdchphm != null and jdchphm != ''"> and t.JDCHPHM = #{jdchphm} </if>
		<if test="clsbdh != null and clsbdh != ''"> and t.CLSBDH = #{clsbdh} </if>
		<if test="dwsbSimkkh != null and dwsbSimkkh != ''"> and t.DWSB_SIMKKH = #{dwsbSimkkh} </if>
		<if test="ggxh != null and ggxh != ''"> and t.GGXH = #{ggxh} </if>
		<if test="ckjJe != null and ckjJe != ''"> and t.CKJ_JE = #{ckjJe} </if>
		<if test="sccjDwmc != null and sccjDwmc != ''"> and t.SCCJ_DWMC = #{sccjDwmc} </if>
		<if test="jdccsyslbdm != null and jdccsyslbdm != ''"> and t.JDCCSYSLBDM = #{jdccsyslbdm} </if>
		<if test="clqwztlbdm != null and clqwztlbdm != ''"> and t.CLQWZTLBDM = #{clqwztlbdm} </if>
		<if test="sfdycdclTywysbm != null and sfdycdclTywysbm != ''"> and t.SFDYCDCL_TYWYSBM = #{sfdycdclTywysbm} </if>
		<if test="bz != null and bz != ''"> and t.BZ = #{bz} </if>
		<if test="jdcfdjddjh != null and jdcfdjddjh != ''"> and t.JDCFDJDDJH = #{jdcfdjddjh} </if>
		<if test="zzsRj != null and zzsRj != ''"> and t.ZZS_RJ = #{zzsRj} </if>
		<if test="zzalpmRj != null and zzalpmRj != ''"> and t.ZZALPM_RJ = #{zzalpmRj} </if>
		<if test="zzblpmRj != null and zzblpmRj != ''"> and t.ZZBLPM_RJ = #{zzblpmRj} </if>
		<if test="ccrq != null and ccrq != ''"> and t.CCRQ = #{ccrq} </if>
		<if test="zbrq != null and zbrq != ''"> and t.ZBRQ = #{zbrq} </if>
		<if test="bfrq != null and bfrq != ''"> and t.BFRQ = #{bfrq} </if>
		<if test="sfzpPdbz != null and sfzpPdbz != ''"> and t.SFZP_PDBZ = #{sfzpPdbz} </if>
		<if test="sfyyxlPdbz != null and sfyyxlPdbz != ''"> and t.SFYYXL_PDBZ = #{sfyyxlPdbz} </if>
		<if test="fzrXm != null and fzrXm != ''"> and t.FZR_XM = #{fzrXm} </if>
		<if test="fzrLxdh != null and fzrLxdh != ''"> and t.FZR_LXDH = #{fzrLxdh} </if>
		<if test="clxnzbJyqk != null and clxnzbJyqk != ''"> and t.CLXNZB_JYQK = #{clxnzbJyqk} </if>
		<if test="cdate != null and cdate != ''"> and t.cdate = #{cdate} </if>
		<if test="cperson != null and cperson != ''"> and t.cperson = #{cperson} </if>
		<if test="status != null and status != ''"> and t.status = #{status} </if>
		<if test="clmc != null and clmc != ''"> and t.CLMC = #{clmc} </if>
		<if test="xfzblxdmname != null and xfzblxdmname != ''"> and d.name like '%${xfzblxdmname}%' </if>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by t.cdate desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
 	<select id="count" resultType="int">
		select count(*) from jczy_xfcl where status=0
		  		  <if test="xfclTywysbm != null and xfclTywysbm != ''"> and XFCL_TYWYSBM = #{xfclTywysbm} </if>
		  		  <if test="xfzblxdm != null and xfzblxdm != ''"> and XFZBLXDM = #{xfzblxdm} </if>
		  		  <if test="xfclzzgndm != null and xfclzzgndm != ''"> and XFCLZZGNDM = #{xfclzzgndm} </if>
		  		  <if test="xfcldjdm != null and xfcldjdm != ''"> and XFCLDJDM = #{xfcldjdm} </if>
		  		  <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
					<if test="deptList != null and deptList.size() > 0">and XFJYJG_TYWYSBM in
						<foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
							#{item.xfjyjgTywysbm}
						</foreach>
					</if>
		  		  <if test="jdchphm != null and jdchphm != ''"> and JDCHPHM = #{jdchphm} </if>
		  		  <if test="clsbdh != null and clsbdh != ''"> and CLSBDH = #{clsbdh} </if>
		  		  <if test="dwsbSimkkh != null and dwsbSimkkh != ''"> and DWSB_SIMKKH = #{dwsbSimkkh} </if>
		  		  <if test="ggxh != null and ggxh != ''"> and GGXH = #{ggxh} </if>
		  		  <if test="ckjJe != null and ckjJe != ''"> and CKJ_JE = #{ckjJe} </if>
		  		  <if test="sccjDwmc != null and sccjDwmc != ''"> and SCCJ_DWMC = #{sccjDwmc} </if>
		  		  <if test="jdccsyslbdm != null and jdccsyslbdm != ''"> and JDCCSYSLBDM = #{jdccsyslbdm} </if>
		  		  <if test="clqwztlbdm != null and clqwztlbdm != ''"> and CLQWZTLBDM = #{clqwztlbdm} </if>
		  		  <if test="sfdycdclTywysbm != null and sfdycdclTywysbm != ''"> and SFDYCDCL_TYWYSBM = #{sfdycdclTywysbm} </if>
		  		  <if test="bz != null and bz != ''"> and BZ = #{bz} </if>
		  		  <if test="jdcfdjddjh != null and jdcfdjddjh != ''"> and JDCFDJDDJH = #{jdcfdjddjh} </if>
		  		  <if test="zzsRj != null and zzsRj != ''"> and ZZS_RJ = #{zzsRj} </if>
		  		  <if test="zzalpmRj != null and zzalpmRj != ''"> and ZZALPM_RJ = #{zzalpmRj} </if>
		  		  <if test="zzblpmRj != null and zzblpmRj != ''"> and ZZBLPM_RJ = #{zzblpmRj} </if>
		  		  <if test="ccrq != null and ccrq != ''"> and CCRQ = #{ccrq} </if>
		  		  <if test="zbrq != null and zbrq != ''"> and ZBRQ = #{zbrq} </if>
		  		  <if test="bfrq != null and bfrq != ''"> and BFRQ = #{bfrq} </if>
		  		  <if test="sfzpPdbz != null and sfzpPdbz != ''"> and SFZP_PDBZ = #{sfzpPdbz} </if>
		  		  <if test="sfyyxlPdbz != null and sfyyxlPdbz != ''"> and SFYYXL_PDBZ = #{sfyyxlPdbz} </if>
		  		  <if test="fzrXm != null and fzrXm != ''"> and FZR_XM = #{fzrXm} </if>
		  		  <if test="fzrLxdh != null and fzrLxdh != ''"> and FZR_LXDH = #{fzrLxdh} </if>
		  		  <if test="clxnzbJyqk != null and clxnzbJyqk != ''"> and CLXNZB_JYQK = #{clxnzbJyqk} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		<if test="clmc != null and clmc != ''"> and t.CLMC = #{clmc} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
	</select>
	<select id="carlistcount" resultType="int">
		select count(*) from jczy_xfcl where status=0
		<if test="xfclTywysbm != null and xfclTywysbm != ''"> and XFCL_TYWYSBM = #{xfclTywysbm} </if>
		<if test="xfzblxdm != null and xfzblxdm != ''"> and XFZBLXDM = #{xfzblxdm} </if>
		<if test="xfclzzgndm != null and xfclzzgndm != ''"> and XFCLZZGNDM = #{xfclzzgndm} </if>
		<if test="xfcldjdm != null and xfcldjdm != ''"> and XFCLDJDM = #{xfcldjdm} </if>
		<if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
		<if test="deptList != null and deptList.size() > 0">and XFJYJG_TYWYSBM in
			<foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
				#{item.xfjyjgTywysbm}
			</foreach>
		</if>
		<if test="jdchphm != null and jdchphm != ''"> and JDCHPHM = #{jdchphm} </if>
		<if test="clsbdh != null and clsbdh != ''"> and CLSBDH = #{clsbdh} </if>
		<if test="dwsbSimkkh != null and dwsbSimkkh != ''"> and DWSB_SIMKKH = #{dwsbSimkkh} </if>
		<if test="ggxh != null and ggxh != ''"> and GGXH = #{ggxh} </if>
		<if test="ckjJe != null and ckjJe != ''"> and CKJ_JE = #{ckjJe} </if>
		<if test="sccjDwmc != null and sccjDwmc != ''"> and SCCJ_DWMC = #{sccjDwmc} </if>
		<if test="jdccsyslbdm != null and jdccsyslbdm != ''"> and JDCCSYSLBDM = #{jdccsyslbdm} </if>
		<if test="clqwztlbdm != null and clqwztlbdm != ''"> and CLQWZTLBDM = #{clqwztlbdm} </if>
		<if test="sfdycdclTywysbm != null and sfdycdclTywysbm != ''"> and SFDYCDCL_TYWYSBM = #{sfdycdclTywysbm} </if>
		<if test="bz != null and bz != ''"> and BZ = #{bz} </if>
		<if test="jdcfdjddjh != null and jdcfdjddjh != ''"> and JDCFDJDDJH = #{jdcfdjddjh} </if>
		<if test="zzsRj != null and zzsRj != ''"> and ZZS_RJ = #{zzsRj} </if>
		<if test="zzalpmRj != null and zzalpmRj != ''"> and ZZALPM_RJ = #{zzalpmRj} </if>
		<if test="zzblpmRj != null and zzblpmRj != ''"> and ZZBLPM_RJ = #{zzblpmRj} </if>
		<if test="ccrq != null and ccrq != ''"> and CCRQ = #{ccrq} </if>
		<if test="zbrq != null and zbrq != ''"> and ZBRQ = #{zbrq} </if>
		<if test="bfrq != null and bfrq != ''"> and BFRQ = #{bfrq} </if>
		<if test="sfzpPdbz != null and sfzpPdbz != ''"> and SFZP_PDBZ = #{sfzpPdbz} </if>
		<if test="sfyyxlPdbz != null and sfyyxlPdbz != ''"> and SFYYXL_PDBZ = #{sfyyxlPdbz} </if>
		<if test="fzrXm != null and fzrXm != ''"> and FZR_XM = #{fzrXm} </if>
		<if test="fzrLxdh != null and fzrLxdh != ''"> and FZR_LXDH = #{fzrLxdh} </if>
		<if test="clxnzbJyqk != null and clxnzbJyqk != ''"> and CLXNZB_JYQK = #{clxnzbJyqk} </if>
		<if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		<if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		<if test="status != null and status != ''"> and status = #{status} </if>
	</select>
	<insert id="save" parameterType="com.smart119.jczy.domain.XfclDO">
		insert into jczy_xfcl
		(
			`XFCL_TYWYSBM`,
			`XFZBLXDM`,
			`XFCLZZGNDM`,
			`XFCLDJDM`,
			`XFJYJG_TYWYSBM`,
			`JDCHPHM`,
			`CLSBDH`,
			`DWSB_SIMKKH`,
			`GGXH`,
			`CKJ_JE`,
			`SCCJ_DWMC`,
			`JDCCSYSLBDM`,
			`CLQWZTLBDM`,
			`SFDYCDCL_TYWYSBM`,
			`BZ`,
			`JDCFDJDDJH`,
			`ZZS_RJ`,
			`ZZALPM_RJ`,
			`ZZBLPM_RJ`,
			`CCRQ`,
			`ZBRQ`,
			`BFRQ`,
			`SFZP_PDBZ`,
			`SFYYXL_PDBZ`,
			`FZR_XM`,
			`FZR_LXDH`,
			`CLXNZB_JYQK`,
			`cdate`,
			`cperson`,
			`status`,
			`CLMC`,
			`CD`,
			`KD`,
			`ZL`,
			`GD`,
			`CLWZ_DQJD`,
			`CLWZ_DQWD`,
			`CLWZ_WZCJSJ`,
			`FZR_TYWYSBM`,
			`SHFW_DWMC`,
			`DWSB`,
			`ZDYPX`,
		    `GPS_VID`,
		    `GPS_VKEY`,
			`PMLX`,
			`CYSL`,
			`JSGD`,
			`BLL_NUM`,
			`PLL_NUM`,
			`ZPMZL`
		)
		values
		(
			#{xfclTywysbm},
			#{xfzblxdm},
			#{xfclzzgndm},
			#{xfcldjdm},
			#{xfjyjgTywysbm},
			#{jdchphm},
			#{clsbdh},
			#{dwsbSimkkh},
			#{ggxh},
			#{ckjJe},
			#{sccjDwmc},
			#{jdccsyslbdm},
			#{clqwztlbdm},
			#{sfdycdclTywysbm},
			#{bz},
			#{jdcfdjddjh},
			#{zzsRj},
			#{zzalpmRj},
			#{zzblpmRj},
			#{ccrq},
			#{zbrq},
			#{bfrq},
			#{sfzpPdbz},
			#{sfyyxlPdbz},
			#{fzrXm},
			#{fzrLxdh},
			#{clxnzbJyqk},
			#{cdate},
			#{cperson},
			#{status},
			#{clmc},
			#{cd},
			#{kd},
			#{zl},
			#{gd},
			#{clwzDqjd},
			#{clwzDqwd},
			#{clwzWzcjsj},
			#{fzrTywysbm},
			#{shfwDwmc},
			#{dwsb},
			#{zdypx},
			#{gpsVid},
			#{gpsVkey},
			#{pmlx},
			#{cysl},
			#{jsgd},
			#{bllNum},
			#{pllNum},
			#{zpmzl}
		)
	</insert>

	<update id="update" parameterType="com.smart119.jczy.domain.XfclDO">
		update jczy_xfcl
		<set>
			<if test="xfzblxdm != null">`XFZBLXDM` = #{xfzblxdm}, </if>
			<if test="xfclzzgndm != null">`XFCLZZGNDM` = #{xfclzzgndm}, </if>
			<if test="xfcldjdm != null">`XFCLDJDM` = #{xfcldjdm}, </if>
			<if test="xfjyjgTywysbm != null">`XFJYJG_TYWYSBM` = #{xfjyjgTywysbm}, </if>
			<if test="jdchphm != null">`JDCHPHM` = #{jdchphm}, </if>
			<if test="clsbdh != null">`CLSBDH` = #{clsbdh}, </if>
			<if test="dwsbSimkkh != null">`DWSB_SIMKKH` = #{dwsbSimkkh}, </if>
			<if test="ggxh != null">`GGXH` = #{ggxh}, </if>
			<if test="ckjJe != null">`CKJ_JE` = #{ckjJe}, </if>
			<if test="ckjJe == null">`CKJ_JE` = NULL, </if>
			<if test="sccjDwmc != null">`SCCJ_DWMC` = #{sccjDwmc}, </if>
			<if test="jdccsyslbdm != null">`JDCCSYSLBDM` = #{jdccsyslbdm}, </if>
			<if test="clqwztlbdm != null">`CLQWZTLBDM` = #{clqwztlbdm}, </if>
			<if test="sfdycdclTywysbm != null">`SFDYCDCL_TYWYSBM` = #{sfdycdclTywysbm}, </if>
			<if test="bz != null">`BZ` = #{bz}, </if>
			<if test="jdcfdjddjh != null">`JDCFDJDDJH` = #{jdcfdjddjh}, </if>
			<if test="zzsRj != null">`ZZS_RJ` = #{zzsRj}, </if>
			<if test="zzsRj == null">`ZZS_RJ` = NULL, </if>
			<if test="zzalpmRj != null">`ZZALPM_RJ` = #{zzalpmRj}, </if>
			<if test="zzalpmRj == null">`ZZALPM_RJ` = NULL, </if>
			<if test="zzblpmRj != null">`ZZBLPM_RJ` = #{zzblpmRj}, </if>
			<if test="zzblpmRj == null">`ZZBLPM_RJ` = NULL, </if>
			<if test="ccrq != null">`CCRQ` = #{ccrq}, </if>
			<if test="zbrq != null">`ZBRQ` = #{zbrq}, </if>
			<if test="bfrq != null">`BFRQ` = #{bfrq}, </if>
			<if test="sfzpPdbz != null">`SFZP_PDBZ` = #{sfzpPdbz}, </if>
			<if test="sfyyxlPdbz != null">`SFYYXL_PDBZ` = #{sfyyxlPdbz}, </if>
			<if test="fzrXm != null">`FZR_XM` = #{fzrXm}, </if>
			<if test="fzrLxdh != null">`FZR_LXDH` = #{fzrLxdh}, </if>
			<if test="clxnzbJyqk != null">`CLXNZB_JYQK` = #{clxnzbJyqk}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="clmc != null">`CLMC` = #{clmc}, </if>
			<if test="cd != null">`CD` = #{cd}, </if>
			<if test="kd != null">`KD` = #{kd}, </if>
			<if test="zl != null">`ZL` = #{zl}, </if>
			<if test="gd != null">`GD` = #{gd}, </if>
			<if test="clwzDqjd != null">`CLWZ_DQJD` = #{clwzDqjd}, </if>
			<if test="clwzDqwd != null">`CLWZ_DQWD` = #{clwzDqwd}, </if>
			<if test="clwzWzcjsj != null">`CLWZ_WZCJSJ` = #{clwzWzcjsj}, </if>
			<if test="fzrTywysbm != null">`FZR_TYWYSBM` = #{fzrTywysbm}, </if>
			<if test="shfwDwmc != null">`SHFW_DWMC` = #{shfwDwmc}, </if>
			<if test="dwsb != null">`DWSB` = #{dwsb}, </if>
			<if test="status != null">`status` = #{status},</if>
			<if test="zdypx != null">`ZDYPX` = #{zdypx},</if>
			<if test="gpsVid != null">`GPS_VID` = #{gpsVid},</if>
			<if test="gpsVkey != null">`GPS_VKEY` = #{gpsVkey},</if>
			<if test="pmlx != null">`PMLX` = #{pmlx}, </if>
			<if test="cysl != null">`CYSL` = #{cysl}, </if>
			<if test="jsgd != null">`JSGD` = #{jsgd}, </if>
			<if test="bllNum != null">`BLL_NUM` = #{bllNum}, </if>
			<if test="pllNum != null">`PLL_NUM` = #{pllNum}, </if>
			<if test="zpmzl != null">`ZPMZL` = #{zpmzl} </if>
		</set>
		where XFCL_TYWYSBM = #{xfclTywysbm}
	</update>

	<delete id="remove">
		delete from jczy_xfcl where XFCL_TYWYSBM = #{value}
	</delete>

	<delete id="batchRemove">
		delete from jczy_xfcl where XFCL_TYWYSBM in
		<foreach item="xfclTywysbm" collection="array" open="(" separator="," close=")">
			#{xfclTywysbm}
		</foreach>
	</delete>

	<select id="findAllXfclTywysbm" resultType="String">
		SELECT XFCL_TYWYSBM from jczy_xfcl
	</select>


    <update id="updateCar" parameterType="com.smart119.jczy.domain.XfclDO">
        update jczy_xfcl
        <set>
            CLQWZTLBDM = #{clqwztlbdm}
        </set>
        where XFCL_TYWYSBM = #{xfclTywysbm}
    </update>


    <select id="selectPageVoApp" resultType="java.util.Map">
        SELECT
        XFCL_TYWYSBM,
        dict1.`name` as XFZBLXDM,
        dict2.`name` as XFCLZZGNDM,
        dict3.`name` as CLQWZTLBDM,
        dept.DWMC,
        JDCHPHM,
        SFDYCDCL_TYWYSBM
        from jczy_xfcl xfcl
        LEFT JOIN sys_dept dept
        on dept.XFJYJG_TYWYSBM = xfcl.XFJYJG_TYWYSBM
        LEFT JOIN sys_dict dict1
        on dict1.`value`=xfcl.XFZBLXDM and dict1.type='XFZBLXDM'
        LEFT JOIN sys_dict dict2
        on dict2.`value`=xfcl.XFCLZZGNDM and dict2.type='XFCLZZGNDM'
        LEFT JOIN sys_dict dict3
        on dict3.`value`=xfcl.CLQWZTLBDM and dict3.type='CLQWZTLBDM'

        <where>
            and xfcl.status=0
            <if test="params.searchContent != null and params.searchContent !=''">
                and (dict2.`name` like '%${params.searchContent}%'
                or dict3.`name` like '%${params.searchContent}%'
                or dept.DWMC like '%${params.searchContent}%'
                or xfcl.JDCHPHM like '%${params.searchContent}%'
                or dict1.`name` like '%${params.searchContent}%'
                )
            </if>
            <if test="params.sfdycdclTywysbm != null and params.sfdycdclTywysbm !=''">
                and xfcl.SFDYCDCL_TYWYSBM = #{params.sfdycdclTywysbm}
            </if>
            <if test="params.deptList != null and params.deptList.size() > 0">and xfcl.XFJYJG_TYWYSBM in
                <foreach collection="params.deptList" item="item" index="index" separator="," open="(" close=")">
                    #{item.xfjyjgTywysbm}
                </foreach>
            </if>
            <if test="params.clqwztlbdm != null and params.clqwztlbdm !=''">
                and xfcl.CLQWZTLBDM = #{params.clqwztlbdm}
            </if>
        </where>
    </select>


    <select id="getDpCarList" resultType="com.smart119.jczy.domain.XfclDO">
        SELECT
        c.XFCL_TYWYSBM,
        c.CLMC,
        c.JDCHPHM
        FROM
        jczy_xfcl c
        LEFT JOIN jqxx_jqcjdp_car jqcjdp_car ON jqcjdp_car.XFJYCL_TYWYSBM = c.XFCL_TYWYSBM
        LEFT JOIN jqxx_jqcjdp jqcjdp ON jqcjdp.JQCJDP_TYWYSBM = jqcjdp_car.JQCJDP_TYWYSBM
        LEFT JOIN jqxx_jbxx jbxx ON jbxx.JQ_TYWYSBM = jqcjdp.JQ_TYWYSBM
        WHERE 1=1
        <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and c.XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
        <if test="jqbh != null and jqbh != ''">and jbxx.JQBH = #{jqbh}</if>
    </select>

    <select id="getDpCarListByCcbh" resultType="com.smart119.jczy.domain.XfclDO">
        SELECT
        c.XFCL_TYWYSBM,
        c.CLMC,
        c.JDCHPHM
        FROM
        jczy_xfcl c
        LEFT JOIN jqxx_jqcjdp_car jqcjdp_car ON jqcjdp_car.XFJYCL_TYWYSBM = c.XFCL_TYWYSBM
        LEFT JOIN jqxx_jqcjdp_dz dz on jqcjdp_car.DPDZ_TYWYSBM = dz.DPDZ_TYWYSBM
        LEFT JOIN jqxx_jqcjdp jqcjdp ON jqcjdp.JQCJDP_TYWYSBM = dz.DP_TYWYSBM
        LEFT JOIN jqxx_jbxx jbxx ON jbxx.JQ_TYWYSBM = jqcjdp.JQ_TYWYSBM
        WHERE 1=1
        <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and c.XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
        <if test="ccbh != null and ccbh != ''">and dz.CDDH = #{ccbh}</if>
    </select>


    <select id="queryByDpdzTyywbs" resultType="java.lang.String">
        SELECT cl.XFCL_TYWYSBM as xfclTywysbm
        FROM jczy_xfcl cl
                 LEFT JOIN jczy_zzdy_xfcl zzdycl ON cl.XFCL_TYWYSBM = zzdycl.XFCL_TYWYSBM
                 LEFT JOIN jqxx_jqcjdp_zzdy dpzzdy on zzdycl.ZZDY_TYWYBS = dpzzdy.ZZDY_TYWYBS
                 LEFT JOIN jqxx_jqcjdp_dz dz on dz.DPDZ_TYWYSBM = dpzzdy.DPDZ_TYWYSBM
        where dz.DPDZ_TYWYSBM = #{dpdzTywysbm}
    </select>


    <update id="updateClqwztlbdm" parameterType="java.util.Map">
        update jczy_xfcl set CLQWZTLBDM = #{clqwztlbdm} where XFCL_TYWYSBM in
        <foreach collection="xfclTywysbms" item="xfclTywysbm" open="(" close=")" separator=",">
            #{xfclTywysbm}
        </foreach>
    </update>


	<select id="queryGPSDeviceIds" resultType="com.smart119.jczy.domain.XfclDO">
        select * from jczy_xfcl cl where cl.DEVICE_ID is not null  and cl.DEVICE_ID != ''
	</select>

</mapper>
