<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.XfclSxDao">

	<select id="get" resultType="com.smart119.jczy.domain.XfclSxDO">
		select `id`,`cllx`,`clsx`,`sfzs`,`sfcyjs`,`dw`,`cdate`,`cperson`,`status` from jczy_xfcl_sx where id = #{value}
	</select>

	<select id="list" resultType="com.smart119.jczy.domain.XfclSxDO">
		select sx.`id`,cllx.`name` as `cllx`,`clsx`,sfzs.`name` as `sfzs`,sfcyjs.`name` as `sfcyjs`,`dw`,sx.`cdate`,sx.`cperson`,sx.`status`
		from jczy_xfcl_sx sx
		left join sys_dict cllx
		on sx.cllx = cllx.`value` and cllx.type='XFZBLXDM'
		LEFT JOIN  sys_dict sfzs
		on sx.sfzs = sfzs.`value` and sfzs.type='s_f'
		LEFT JOIN  sys_dict sfcyjs
		on sx.sfcyjs = sfcyjs.`value` and sfcyjs.type='s_f'
        <where>  
		  <if test="id != null and id != ''"> and sx.id = #{id} </if>
		  <if test="cllx != null and cllx != ''"> and sx.cllx = #{cllx} </if>
		  <if test="clsx != null and clsx != ''"> and sx.clsx like '%${clsx}%' </if>
		  <if test="sfzs != null and sfzs != ''"> and sx.sfzs = #{sfzs} </if>
		  <if test="sfcyjs != null and sfcyjs != ''"> and sx.sfcyjs = #{sfcyjs} </if>
		  <if test="dw != null and dw != ''"> and sx.dw = #{dw} </if>
		  <if test="cdate != null and cdate != ''"> and sx.cdate = #{cdate} </if>
		  <if test="cperson != null and cperson != ''"> and sx.cperson = #{cperson} </if>
		  <if test="status != null and status != ''"> and sx.status = #{status} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by sx.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jczy_xfcl_sx
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="cllx != null and cllx != ''"> and cllx = #{cllx} </if>
		  		  <if test="clsx != null and clsx != ''"> and clsx = #{clsx} </if>
		  		  <if test="sfzs != null and sfzs != ''"> and sfzs = #{sfzs} </if>
		  		  <if test="sfcyjs != null and sfcyjs != ''"> and sfcyjs = #{sfcyjs} </if>
		  		  <if test="dw != null and dw != ''"> and dw = #{dw} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.jczy.domain.XfclSxDO">
		insert into jczy_xfcl_sx
		(
			`id`, 
			`cllx`, 
			`clsx`, 
			`sfzs`, 
			`sfcyjs`, 
			`dw`, 
			`cdate`, 
			`cperson`, 
			`status`
		)
		values
		(
			#{id}, 
			#{cllx}, 
			#{clsx}, 
			#{sfzs}, 
			#{sfcyjs}, 
			#{dw}, 
			#{cdate}, 
			#{cperson}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.jczy.domain.XfclSxDO">
		update jczy_xfcl_sx 
		<set>
			<if test="cllx != null">`cllx` = #{cllx}, </if>
			<if test="clsx != null">`clsx` = #{clsx}, </if>
			<if test="sfzs != null">`sfzs` = #{sfzs}, </if>
			<if test="sfcyjs != null">`sfcyjs` = #{sfcyjs}, </if>
			<if test="dw != null">`dw` = #{dw}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from jczy_xfcl_sx where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jczy_xfcl_sx where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!--车辆类型查询车辆属性信息-->
	<select id="findAttrByCllx" resultType="com.smart119.jczy.domain.XfclSxDO">
		SELECT id,clsx,dw from jczy_xfcl_sx where cllx=#{value} order by clsx
	</select>

	<!--根据消防车辆id 查询出属性信息和具体的属性值  回显用-->
	<select id="findAttrByCllxVal" resultType="java.util.HashMap">
		SELECT sx.id,sx.clsx,sx.dw,
		(
		SELECT sxz.sxz from jczy_xfcl_sxz sxz
		where sxz.xfcl_sx_id = sx.id
		and sxz.xfcl_id=#{value}
		) as sxz
		from jczy_xfcl_sx sx
		LEFT JOIN jczy_xfcl xfcl
		on xfcl.XFZBLXDM = sx.cllx
		where xfcl.XFCL_TYWYSBM = #{value}
		order by sx.clsx
	</select>

	<!--根据消防装备id 查询出属性信息和具体的属性值  回显用-->
	<select id="findAttrByZbVal" resultType="java.util.HashMap">
		SELECT sx.id,sx.clsx,sx.dw,
		(
		SELECT sxz.sxz from jczy_xfcl_sxz sxz
		where sxz.xfcl_sx_id = sx.id
		and sxz.xfcl_id=#{value}
		) as sxz
		from jczy_xfcl_sx sx
		LEFT JOIN jczy_xfzb xfcl
		on xfcl.XFZBLXDM = sx.cllx
		where xfcl.XFZB_TYWYSBM = #{value}
		order by sx.clsx
	</select>


	<!--依据消防车辆id 删除所有的属性值-->
	<delete id="removeByXfclId">
		delete from jczy_xfcl_sxz where xfcl_id = #{value}
	</delete>


	<!--依据消防车辆属性id 删除所有的属性值-->
	<delete id="removeBySxId">
		delete from jczy_xfcl_sxz where xfcl_sx_id = #{value}
	</delete>


	<!--根据消防车辆的统一唯一识别码 查询车辆的属性信息-->
	<select id="findSxAllByCltywysbm" resultType="java.util.HashMap">
		SELECT sx.clsx,sx.dw,sxz.sxz
		from jczy_xfcl_sx sx
		LEFT JOIN jczy_xfcl xfcl
		on xfcl.XFZBLXDM = sx.cllx
		LEFT JOIN jczy_xfcl_sxz sxz
		on sxz.xfcl_sx_id = sx.id and sxz.xfcl_id=xfcl.XFCL_TYWYSBM
		where xfcl.XFCL_TYWYSBM=#{value}
	</select>


	<!--根据车辆类型查询所有此类型下的消防车辆统一唯一识别码-->
	<select id="findCltywysbmBylx" resultType="String">
		SELECT XFCL_TYWYSBM from jczy_xfcl where XFZBLXDM=#{value}
	</select>
</mapper>