<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.XfmtDao">

    <select id="get" resultType="com.smart119.jczy.domain.XfmtDO">
		select t.`QSMT_TYWYSBM`,t.`MC`,t.`DZMC`,t.`DQJD`,t.`DQWD`,t.`SYKYZTLBDM`,t.`SZSY_MC`,t.`SSLD_MC`,t.`QSXS_JYQK`,t.`QS_GD`,t.`SYBGC_GD`,t.`TCWZ_DDMC`,t.`TC_SL`,t.`GL_DWMC`,
		t.`XFJYJG_TYWYSBM`,t.`XZQHDM`,t.`JIZ_RQ`,t.`QY_RQ`,dept.`dwmc` XFJYJG
		from jczy_xfmt t
		LEFT JOIN sys_dept dept ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
		where t.QSMT_TYWYSBM = #{value}
	</select>

    <select id="list" resultType="com.smart119.jczy.domain.XfmtDO">
        select t.`QSMT_TYWYSBM`,t.`MC`,t.`DZMC`,t.`DQJD`,t.`DQWD`,t.`SYKYZTLBDM`,t.`SZSY_MC`,t.`SSLD_MC`,t.`QSXS_JYQK`,t.`QS_GD`,t.`SYBGC_GD`,t.`TCWZ_DDMC`,t.`TC_SL`,t.`GL_DWMC`,
        t.`XFJYJG_TYWYSBM`,t.`XZQHDM`,t.`JIZ_RQ`,t.`QY_RQ`,d.`name` SYKYZTLB
        from jczy_xfmt t
        left join sys_dict d on t.SYKYZTLBDM=d.`value` and d.description='水源可用状态类别代码'
        <where>
            <if test="qsmtTywysbm != null and qsmtTywysbm != ''">and QSMT_TYWYSBM = #{qsmtTywysbm}</if>
            <if test="mc != null and mc != ''">and MC = #{mc}</if>
            <if test="dzmc != null and dzmc != ''">and DZMC = #{dzmc}</if>
            <if test="dqjd != null and dqjd != ''">and DQJD = #{dqjd}</if>
            <if test="dqwd != null and dqwd != ''">and DQWD = #{dqwd}</if>
            <if test="sykyztlbdm != null and sykyztlbdm != ''">and SYKYZTLBDM = #{sykyztlbdm}</if>
            <if test="szsyMc != null and szsyMc != ''">and SZSY_MC = #{szsyMc}</if>
            <if test="ssldMc != null and ssldMc != ''">and SSLD_MC = #{ssldMc}</if>
            <if test="qsxsJyqk != null and qsxsJyqk != ''">and QSXS_JYQK = #{qsxsJyqk}</if>
            <if test="qsGd != null and qsGd != ''">and QS_GD = #{qsGd}</if>
            <if test="sybgcGd != null and sybgcGd != ''">and SYBGC_GD = #{sybgcGd}</if>
            <if test="tcwzDdmc != null and tcwzDdmc != ''">and TCWZ_DDMC = #{tcwzDdmc}</if>
            <if test="tcSl != null and tcSl != ''">and TC_SL = #{tcSl}</if>
            <if test="glDwmc != null and glDwmc != ''">and GL_DWMC = #{glDwmc}</if>
            <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
            <if test="deptList != null and deptList.size() > 0">and XFJYJG_TYWYSBM in
                <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                    #{item.xfjyjgTywysbm}
                </foreach>
            </if>
            <if test="xzqhdm != null and xzqhdm != ''">and XZQHDM = #{xzqhdm}</if>
            <if test="jizRq != null and jizRq != ''">and JIZ_RQ = #{jizRq}</if>
            <if test="qyRq != null and qyRq != ''">and QY_RQ = #{qyRq}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by QSMT_TYWYSBM desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from jczy_xfmt
        <where>
            <if test="qsmtTywysbm != null and qsmtTywysbm != ''">and QSMT_TYWYSBM = #{qsmtTywysbm}</if>
            <if test="mc != null and mc != ''">and MC = #{mc}</if>
            <if test="dzmc != null and dzmc != ''">and DZMC = #{dzmc}</if>
            <if test="dqjd != null and dqjd != ''">and DQJD = #{dqjd}</if>
            <if test="dqwd != null and dqwd != ''">and DQWD = #{dqwd}</if>
            <if test="sykyztlbdm != null and sykyztlbdm != ''">and SYKYZTLBDM = #{sykyztlbdm}</if>
            <if test="szsyMc != null and szsyMc != ''">and SZSY_MC = #{szsyMc}</if>
            <if test="ssldMc != null and ssldMc != ''">and SSLD_MC = #{ssldMc}</if>
            <if test="qsxsJyqk != null and qsxsJyqk != ''">and QSXS_JYQK = #{qsxsJyqk}</if>
            <if test="qsGd != null and qsGd != ''">and QS_GD = #{qsGd}</if>
            <if test="sybgcGd != null and sybgcGd != ''">and SYBGC_GD = #{sybgcGd}</if>
            <if test="tcwzDdmc != null and tcwzDdmc != ''">and TCWZ_DDMC = #{tcwzDdmc}</if>
            <if test="tcSl != null and tcSl != ''">and TC_SL = #{tcSl}</if>
            <if test="glDwmc != null and glDwmc != ''">and GL_DWMC = #{glDwmc}</if>
            <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
            <if test="deptList != null and deptList.size() > 0">and XFJYJG_TYWYSBM in
                <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                    #{item.xfjyjgTywysbm}
                </foreach>
            </if>
            <if test="xzqhdm != null and xzqhdm != ''">and XZQHDM = #{xzqhdm}</if>
            <if test="jizRq != null and jizRq != ''">and JIZ_RQ = #{jizRq}</if>
            <if test="qyRq != null and qyRq != ''">and QY_RQ = #{qyRq}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.smart119.jczy.domain.XfmtDO">
		insert into jczy_xfmt
		(
			`QSMT_TYWYSBM`, 
			`MC`, 
			`DZMC`, 
			`DQJD`, 
			`DQWD`, 
			`SYKYZTLBDM`, 
			`SZSY_MC`, 
			`SSLD_MC`, 
			`QSXS_JYQK`, 
			`QS_GD`, 
			`SYBGC_GD`, 
			`TCWZ_DDMC`, 
			`TC_SL`, 
			`GL_DWMC`, 
			`XFJYJG_TYWYSBM`, 
			`XZQHDM`, 
			`JIZ_RQ`, 
			`QY_RQ`
		)
		values
		(
			#{qsmtTywysbm}, 
			#{mc}, 
			#{dzmc}, 
			#{dqjd}, 
			#{dqwd}, 
			#{sykyztlbdm}, 
			#{szsyMc}, 
			#{ssldMc}, 
			#{qsxsJyqk}, 
			#{qsGd}, 
			#{sybgcGd}, 
			#{tcwzDdmc}, 
			#{tcSl}, 
			#{glDwmc}, 
			#{xfjyjgTywysbm}, 
			#{xzqhdm}, 
			#{jizRq}, 
			#{qyRq}
		)
	</insert>

    <update id="update" parameterType="com.smart119.jczy.domain.XfmtDO">
        update jczy_xfmt
        <set>
            <if test="mc != null">`MC` = #{mc},</if>
            <if test="dzmc != null">`DZMC` = #{dzmc},</if>
            <if test="dqjd != null">`DQJD` = #{dqjd},</if>
            <if test="dqwd != null">`DQWD` = #{dqwd},</if>
            <if test="sykyztlbdm != null">`SYKYZTLBDM` = #{sykyztlbdm},</if>
            <if test="szsyMc != null">`SZSY_MC` = #{szsyMc},</if>
            <if test="ssldMc != null">`SSLD_MC` = #{ssldMc},</if>
            <if test="qsxsJyqk != null">`QSXS_JYQK` = #{qsxsJyqk},</if>
            <if test="qsGd != null">`QS_GD` = #{qsGd},</if>
            <if test="sybgcGd != null">`SYBGC_GD` = #{sybgcGd},</if>
            <if test="tcwzDdmc != null">`TCWZ_DDMC` = #{tcwzDdmc},</if>
            <if test="tcSl != null">`TC_SL` = #{tcSl},</if>
            <if test="glDwmc != null">`GL_DWMC` = #{glDwmc},</if>
            <if test="xfjyjgTywysbm != null">`XFJYJG_TYWYSBM` = #{xfjyjgTywysbm},</if>
            <if test="xzqhdm != null">`XZQHDM` = #{xzqhdm},</if>
            <if test="jizRq != null">`JIZ_RQ` = #{jizRq},</if>
            <if test="qyRq != null">`QY_RQ` = #{qyRq}</if>
        </set>
        where QSMT_TYWYSBM = #{qsmtTywysbm}
    </update>

    <delete id="remove">
		delete from jczy_xfmt where QSMT_TYWYSBM = #{value}
	</delete>

    <delete id="batchRemove">
        delete from jczy_xfmt where QSMT_TYWYSBM in
        <foreach item="qsmtTywysbm" collection="array" open="(" separator="," close=")">
            #{qsmtTywysbm}
        </foreach>
    </delete>


    <select id="getXfmtByRange" resultType="com.smart119.jczy.domain.XfmtDO">
		select t.`QSMT_TYWYSBM`,t.`MC`,t.`DZMC`,t.`DQJD`,t.`DQWD`,t.`SYKYZTLBDM`,t.`SZSY_MC`,t.`SSLD_MC`,t.`QSXS_JYQK`,t.`QS_GD`,t.`SYBGC_GD`,t.`TCWZ_DDMC`,t.`TC_SL`,t.`GL_DWMC`,
		t.`XFJYJG_TYWYSBM`,t.`XZQHDM`,t.`JIZ_RQ`,t.`QY_RQ`,dept.`dwmc` XFJYJG,
		ROUND(
		6378.138 * 2 * ASIN(
		SQRT(
		POW( SIN( ( t.DQWD * PI( ) / 180- #{wd} * PI( ) / 180 ) / 2 ), 2 ) + COS( t.DQJD * PI( ) / 180 ) * COS( #{jd} * PI( ) / 180 ) * POW( SIN( ( t.DQJD * PI( ) / 180- #{jd} * PI( ) / 180 ) / 2 ), 2 )
		)
		) * 1000
		) AS distance
		from jczy_xfmt t
		LEFT JOIN sys_dept dept ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
		HAVING distance <![CDATA[ <= ]]> #{distance}
	</select>

</mapper>