<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.XfscDao">

    <select id="get" resultType="com.smart119.jczy.domain.XfscDO">
        SELECT
            t.`XFSC_TYWYSBM`,
            t.`MC`,
            t.`DZMC`,
            t.`RJ`,
            t.`CSL_RJ`,
            t.`WBDW_DWMC`,
            t.`LXR_XM`,
            t.`LXR_LXDH`,
            t.`DQJD`,
            t.`DQWD`,
            t.`SYKYZTLBDM`,
            t.`SSLD_MC`,
            t.`QSXS_JYQK`,
            t.`QS_GD`,
            t.`SYBGC_GD`,
            t.`TCWZ_DDMC`,
            t.`TC_SL`,
            t.`XFJSGWXSLXDM`,
            t.`LL`,
            t.`GS_DWMC`,
            t.`GL_DWMC`,
            t.`cdate`,
            t.`cperson`,
            t.`status`,
            d.`name` SYKYZTLB,
            d1.`name` XFJSGWXSLX
            FROM
            jczy_xfsc t
            left join sys_dict d on t.SYKYZTLBDM=d.`value` and d.description='水源可用状态类别代码'
            left join sys_dict d1 on t.XFJSGWXSLXDM=d1.`value` and d1.description='消防给水管网形式类型代码'
            where t.XFSC_TYWYSBM = #{value}
</select>

    <select id="list" resultType="com.smart119.jczy.domain.XfscDO">
        SELECT
        t.`XFSC_TYWYSBM`,
        t.`MC`,
        t.`DZMC`,
        t.`RJ`,
        t.`CSL_RJ`,
        t.`WBDW_DWMC`,
        t.`LXR_XM`,
        t.`LXR_LXDH`,
        t.`DQJD`,
        t.`DQWD`,
        t.`SYKYZTLBDM`,
        t.`SSLD_MC`,
        t.`QSXS_JYQK`,
        t.`QS_GD`,
        t.`SYBGC_GD`,
        t.`TCWZ_DDMC`,
        t.`TC_SL`,
        t.`XFJSGWXSLXDM`,
        t.`LL`,
        t.`GS_DWMC`,
        t.`GL_DWMC`,
        t.`cdate`,
        t.`cperson`,
        t.`status`,
        d.`name` SYKYZTLB,
        d1.`name` XFJSGWXSLX
        FROM
        jczy_xfsc t
        left join sys_dict d on t.SYKYZTLBDM=d.`value` and d.description='水源可用状态类别代码'
        left join sys_dict d1 on t.XFJSGWXSLXDM=d1.`value` and d1.description='消防给水管网形式类型代码'
        where t.status = 0

        <if test="xfscTywysbm != null and xfscTywysbm != ''">and XFSC_TYWYSBM = #{xfscTywysbm}</if>
        <if test="mc != null and mc != ''">and t.MC like '%${mc}%'</if>
        <if test="dzmc != null and dzmc != ''">and t.DZMC like '%${dzmc}%'</if>
        <if test="rj != null and rj != ''">and t.RJ = #{rj}</if>
        <if test="cslRj != null and cslRj != ''">and t.CSL_RJ = #{cslRj}</if>
        <if test="wbdwDwmc != null and wbdwDwmc != ''">and t.WBDW_DWMC = #{wbdwDwmc}</if>
        <if test="lxrXm != null and lxrXm != ''">and t.LXR_XM = #{lxrXm}</if>
        <if test="lxrLxdh != null and lxrLxdh != ''">and t.LXR_LXDH = #{lxrLxdh}</if>
        <if test="dqjd != null and dqjd != ''">and t.DQJD = #{dqjd}</if>
        <if test="dqwd != null and dqwd != ''">and t.DQWD = #{dqwd}</if>
        <if test="sykyztlbdm != null and sykyztlbdm != ''">and t.SYKYZTLBDM = #{sykyztlbdm}</if>
        <if test="ssldMc != null and ssldMc != ''">and t.SSLD_MC = #{ssldMc}</if>
        <if test="qsxsJyqk != null and qsxsJyqk != ''">and t.QSXS_JYQK = #{qsxsJyqk}</if>
        <if test="qsGd != null and qsGd != ''">and t.QS_GD = #{qsGd}</if>
        <if test="sybgcGd != null and sybgcGd != ''">and t.SYBGC_GD = #{sybgcGd}</if>
        <if test="tcwzDdmc != null and tcwzDdmc != ''">and t.TCWZ_DDMC = #{tcwzDdmc}</if>
        <if test="tcSl != null and tcSl != ''">and t.TC_SL = #{tcSl}</if>
        <if test="xfjsgwxslxdm != null and xfjsgwxslxdm != ''">and t.XFJSGWXSLXDM = #{xfjsgwxslxdm}</if>
        <if test="ll != null and ll != ''">and t.LL = #{ll}</if>
        <if test="gsDwmc != null and gsDwmc != ''">and t.GS_DWMC = #{gsDwmc}</if>
        <if test="glDwmc != null and glDwmc != ''">and t.GL_DWMC = #{glDwmc}</if>
        <if test="cdate != null and cdate != ''">and t.cdate = #{cdate}</if>
        <if test="cperson != null and cperson != ''">and t.cperson = #{cperson}</if>
        <if test="status != null and status != ''">and t.status = #{status}</if>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by t.cdate desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from jczy_xfsc where status=0
        <if test="xfscTywysbm != null and xfscTywysbm != ''">and XFSC_TYWYSBM = #{xfscTywysbm}</if>
        <if test="mc != null and mc != ''">and MC like '%${mc}%'</if>
        <if test="dzmc != null and dzmc != ''">and DZMC like '%${dzmc}%'</if>
        <if test="rj != null and rj != ''">and RJ = #{rj}</if>
        <if test="cslRj != null and cslRj != ''">and CSL_RJ = #{cslRj}</if>
        <if test="wbdwDwmc != null and wbdwDwmc != ''">and WBDW_DWMC = #{wbdwDwmc}</if>
        <if test="lxrXm != null and lxrXm != ''">and LXR_XM = #{lxrXm}</if>
        <if test="lxrLxdh != null and lxrLxdh != ''">and LXR_LXDH = #{lxrLxdh}</if>
        <if test="dqjd != null and dqjd != ''">and DQJD = #{dqjd}</if>
        <if test="dqwd != null and dqwd != ''">and DQWD = #{dqwd}</if>
        <if test="sykyztlbdm != null and sykyztlbdm != ''">and SYKYZTLBDM = #{sykyztlbdm}</if>
        <if test="ssldMc != null and ssldMc != ''">and SSLD_MC = #{ssldMc}</if>
        <if test="qsxsJyqk != null and qsxsJyqk != ''">and QSXS_JYQK = #{qsxsJyqk}</if>
        <if test="qsGd != null and qsGd != ''">and QS_GD = #{qsGd}</if>
        <if test="sybgcGd != null and sybgcGd != ''">and SYBGC_GD = #{sybgcGd}</if>
        <if test="tcwzDdmc != null and tcwzDdmc != ''">and TCWZ_DDMC = #{tcwzDdmc}</if>
        <if test="tcSl != null and tcSl != ''">and TC_SL = #{tcSl}</if>
        <if test="xfjsgwxslxdm != null and xfjsgwxslxdm != ''">and XFJSGWXSLXDM = #{xfjsgwxslxdm}</if>
        <if test="ll != null and ll != ''">and LL = #{ll}</if>
        <if test="gsDwmc != null and gsDwmc != ''">and GS_DWMC = #{gsDwmc}</if>
        <if test="glDwmc != null and glDwmc != ''">and GL_DWMC = #{glDwmc}</if>
        <if test="cdate != null and cdate != ''">and cdate = #{cdate}</if>
        <if test="cperson != null and cperson != ''">and cperson = #{cperson}</if>
        <if test="status != null and status != ''">and status = #{status}</if>
    </select>

    <insert id="save" parameterType="com.smart119.jczy.domain.XfscDO">
		insert into jczy_xfsc
		(
			`XFSC_TYWYSBM`, 
			`MC`, 
			`DZMC`, 
			`RJ`, 
			`CSL_RJ`, 
			`WBDW_DWMC`, 
			`LXR_XM`, 
			`LXR_LXDH`, 
			`DQJD`, 
			`DQWD`, 
			`SYKYZTLBDM`, 
			`SSLD_MC`, 
			`QSXS_JYQK`, 
			`QS_GD`, 
			`SYBGC_GD`, 
			`TCWZ_DDMC`, 
			`TC_SL`, 
			`XFJSGWXSLXDM`, 
			`LL`, 
			`GS_DWMC`, 
			`GL_DWMC`, 
			`cdate`, 
			`cperson`, 
			`status`
		)
		values
		(
			#{xfscTywysbm}, 
			#{mc}, 
			#{dzmc}, 
			#{rj}, 
			#{cslRj}, 
			#{wbdwDwmc}, 
			#{lxrXm}, 
			#{lxrLxdh}, 
			#{dqjd}, 
			#{dqwd}, 
			#{sykyztlbdm}, 
			#{ssldMc}, 
			#{qsxsJyqk}, 
			#{qsGd}, 
			#{sybgcGd}, 
			#{tcwzDdmc}, 
			#{tcSl}, 
			#{xfjsgwxslxdm}, 
			#{ll}, 
			#{gsDwmc}, 
			#{glDwmc}, 
			#{cdate}, 
			#{cperson}, 
			#{status}
		)
	</insert>

    <update id="update" parameterType="com.smart119.jczy.domain.XfscDO">
        update jczy_xfsc
        <set>
            <if test="mc != null">`MC` = #{mc},</if>
            <if test="dzmc != null">`DZMC` = #{dzmc},</if>
            <if test="rj != null">`RJ` = #{rj},</if>
            <if test="cslRj != null">`CSL_RJ` = #{cslRj},</if>
            <if test="wbdwDwmc != null">`WBDW_DWMC` = #{wbdwDwmc},</if>
            <if test="lxrXm != null">`LXR_XM` = #{lxrXm},</if>
            <if test="lxrLxdh != null">`LXR_LXDH` = #{lxrLxdh},</if>
            <if test="dqjd != null">`DQJD` = #{dqjd},</if>
            <if test="dqwd != null">`DQWD` = #{dqwd},</if>
            <if test="sykyztlbdm != null">`SYKYZTLBDM` = #{sykyztlbdm},</if>
            <if test="ssldMc != null">`SSLD_MC` = #{ssldMc},</if>
            <if test="qsxsJyqk != null">`QSXS_JYQK` = #{qsxsJyqk},</if>
            <if test="qsGd != null">`QS_GD` = #{qsGd},</if>
            <if test="sybgcGd != null">`SYBGC_GD` = #{sybgcGd},</if>
            <if test="tcwzDdmc != null">`TCWZ_DDMC` = #{tcwzDdmc},</if>
            <if test="tcSl != null">`TC_SL` = #{tcSl},</if>
            <if test="xfjsgwxslxdm != null">`XFJSGWXSLXDM` = #{xfjsgwxslxdm},</if>
            <if test="ll != null">`LL` = #{ll},</if>
            <if test="gsDwmc != null">`GS_DWMC` = #{gsDwmc},</if>
            <if test="glDwmc != null">`GL_DWMC` = #{glDwmc},</if>
            <if test="cdate != null">`cdate` = #{cdate},</if>
            <if test="cperson != null">`cperson` = #{cperson},</if>
            <if test="status != null">`status` = #{status}</if>
        </set>
        where XFSC_TYWYSBM = #{xfscTywysbm}
    </update>

    <delete id="remove">
		delete from jczy_xfsc where XFSC_TYWYSBM = #{value}
	</delete>

    <delete id="batchRemove">
        delete from jczy_xfsc where XFSC_TYWYSBM in
        <foreach item="xfscTywysbm" collection="array" open="(" separator="," close=")">
            #{xfscTywysbm}
        </foreach>
    </delete>

    <select id="getXfscByRange" resultType="com.smart119.jczy.domain.XfscDO">
        SELECT
        t.`XFSC_TYWYSBM`,
        t.`MC`,
        t.`DZMC`,
        t.`RJ`,
        t.`CSL_RJ`,
        t.`WBDW_DWMC`,
        t.`LXR_XM`,
        t.`LXR_LXDH`,
        t.`DQJD`,
        t.`DQWD`,
        t.`SYKYZTLBDM`,
        t.`SSLD_MC`,
        t.`QSXS_JYQK`,
        t.`QS_GD`,
        t.`SYBGC_GD`,
        t.`TCWZ_DDMC`,
        t.`TC_SL`,
        t.`XFJSGWXSLXDM`,
        t.`LL`,
        t.`GS_DWMC`,
        t.`GL_DWMC`,
        t.`cdate`,
        t.`cperson`,
        t.`status`,
        d.`name` SYKYZTLB,
        d1.`name` XFJSGWXSLX,
        ROUND(
        6378.138 * 2 * ASIN(
        SQRT(
        POW( SIN( ( t.DQWD * PI( ) / 180- #{wd} * PI( ) / 180 ) / 2 ), 2 ) + COS( t.DQJD * PI( ) / 180 ) * COS( #{jd} * PI( ) / 180 ) * POW( SIN( ( t.DQJD * PI( ) / 180- #{jd} * PI( ) / 180 ) / 2 ), 2 )
        )
        ) * 1000
        ) AS distance
        FROM
        jczy_xfsc t
        left join sys_dict d on t.SYKYZTLBDM=d.`value` and d.description='水源可用状态类别代码'
        left join sys_dict d1 on t.XFJSGWXSLXDM=d1.`value` and d1.description='消防给水管网形式类型代码'
        where t.status = 0
        HAVING distance <![CDATA[ <= ]]> #{distance}
    </select>

</mapper>