<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.XhsDao">

    <select id="get" resultType="com.smart119.jczy.domain.XhsDO">
        SELECT
            t.`XHS_TYWYSBM`,
            t.`MC`,
            t.`DZMC`,
            t.`XHSLBDM`,
            t.`XFSSZKFLYDM`,
            t.`DQJD`,
            t.`DQWD`,
            t.`DLLKLD_JYQK`,
            t.`XHSFZXSLBDM`,
            t.`XFSDJKLXDM`,
            t.`QSXS_JYQK`,
            t.`SSGW_MC`,
            t.`XFJSGWXSLXDM`,
            t.`GWZJ_KD`,
            t.`GW_YL`,
            t.`LL`,
            t.`GS_DWMC`,
            t.`GL_DWMC`,
            t.`WB_DWMC`,
            t.`LXR_XM`,
            t.`LXR_LXDH`,
            t.`XFJYJG_TYWYSBM`,
            t.`XZQHDM`,
            t.`JIZ_RQ`,
            t.`QY_RQ`,
            t.`cdate`,
            t.`cperson`,
            t.`status`,
            dept.`dwmc` XFJYJG,
            d.`name` XHSLB,
            d1.`name` XFSSZKFLY,
            d2.`name` XHSFZXSLB,
            d3.`name` XFSDJKLX,
            d4.`name` XFJSGWXSLX
        FROM
            jczy_xhs t
            LEFT JOIN sys_dept dept ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
            left join sys_dict d on t.XHSLBDM=d.`value` and d.description='消火栓类别代码'
            left join sys_dict d1 on t.XFSSZKFLYDM=d1.`value` and d1.description='消防设施状况分类与代码'
            left join sys_dict d2 on t.XHSFZXSLBDM=d2.`value` and d2.description='消火栓放置形式类别代码'
            left join sys_dict d3 on t.XFSDJKLXDM=d3.`value` and d3.description='消防水带接口类型代码'
            left join sys_dict d4 on t.XFJSGWXSLXDM=d4.`value` and d4.description='消防给水管网形式类型代码'
        WHERE
            t.XHS_TYWYSBM = #{value}
	</select>

    <select id="list" resultType="com.smart119.jczy.domain.XhsDO">
        SELECT
        t.`XHS_TYWYSBM`,
        t.`MC`,
        t.`DZMC`,
        t.`XHSLBDM`,
        t.`XFSSZKFLYDM`,
        t.`DQJD`,
        t.`DQWD`,
        t.`DLLKLD_JYQK`,
        t.`XHSFZXSLBDM`,
        t.`XFSDJKLXDM`,
        t.`QSXS_JYQK`,
        t.`SSGW_MC`,
        t.`XFJSGWXSLXDM`,
        t.`GWZJ_KD`,
        t.`GW_YL`,
        t.`LL`,
        t.`GS_DWMC`,
        t.`GL_DWMC`,
        t.`WB_DWMC`,
        t.`LXR_XM`,
        t.`LXR_LXDH`,
        t.`XFJYJG_TYWYSBM`,
        t.`XZQHDM`,
        t.`JIZ_RQ`,
        t.`QY_RQ`,
        t.`cdate`,
        t.`cperson`,
        t.`status`,
        dept.`dwmc` XFJYJG,
        d.`name` XHSLB,
        d1.`name` XFSSZKFLY,
        d2.`name` XHSFZXSLB,
        d3.`name` XFSDJKLX,
        d4.`name` XFJSGWXSLX,
        d5.`name` area,
        d6.`name` city,
        d7.`name` province
        FROM
        jczy_xhs t
        LEFT JOIN sys_dept dept ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
        left join sys_dict d on t.XHSLBDM=d.`value` and d.description='消火栓类别代码'
        left join sys_dict d1 on t.XFSSZKFLYDM=d1.`value` and d1.description='消防设施状况分类与代码'
        left join sys_dict d2 on t.XHSFZXSLBDM=d2.`value` and d2.description='消火栓放置形式类别代码'
        left join sys_dict d3 on t.XFSDJKLXDM=d3.`value` and d3.description='消防水带接口类型代码'
        left join sys_dict d4 on t.XFJSGWXSLXDM=d4.`value` and d4.description='消防给水管网形式类型代码'
        LEFT JOIN sys_dict d5 ON t.XZQHDM = d5.`value`
        LEFT JOIN sys_dict d6 ON d6.id = d5.parent_id
        LEFT JOIN sys_dict d7 ON d7.id = d6.parent_id
        WHERE t.status =0
        <if test="xhsTywysbm != null and xhsTywysbm != ''">and t.XHS_TYWYSBM = #{xhsTywysbm}</if>
        <if test="mc != null and mc != ''">and t.MC like '%${mc}%'</if>
        <if test="dzmc != null and dzmc != ''">and t.DZMC like '%${dzmc}%'</if>
        <if test="xhslbdm != null and xhslbdm != ''">and t.XHSLBDM = #{xhslbdm}</if>
        <if test="xfsszkflydm != null and xfsszkflydm != ''">and t.XFSSZKFLYDM = #{xfsszkflydm}</if>
        <if test="dqjd != null and dqjd != ''">and t.DQJD = #{dqjd}</if>
        <if test="dqwd != null and dqwd != ''">and t.DQWD = #{dqwd}</if>
        <if test="dllkldJyqk != null and dllkldJyqk != ''">and t.DLLKLD_JYQK = #{dllkldJyqk}</if>
        <if test="xhsfzxslbdm != null and xhsfzxslbdm != ''">and t.XHSFZXSLBDM = #{xhsfzxslbdm}</if>
        <if test="xfsdjklxdm != null and xfsdjklxdm != ''">and t.XFSDJKLXDM = #{xfsdjklxdm}</if>
        <if test="qsxsJyqk != null and qsxsJyqk != ''">and t.QSXS_JYQK = #{qsxsJyqk}</if>
        <if test="ssgwMc != null and ssgwMc != ''">and t.SSGW_MC = #{ssgwMc}</if>
        <if test="xfjsgwxslxdm != null and xfjsgwxslxdm != ''">and t.XFJSGWXSLXDM = #{xfjsgwxslxdm}</if>
        <if test="gwzjKd != null and gwzjKd != ''">and t.GWZJ_KD = #{gwzjKd}</if>
        <if test="gwYl != null and gwYl != ''">and t.GW_YL = #{gwYl}</if>
        <if test="ll != null and ll != ''">and t.LL = #{ll}</if>
        <if test="gsDwmc != null and gsDwmc != ''">and t.GS_DWMC = #{gsDwmc}</if>
        <if test="glDwmc != null and glDwmc != ''">and t.GL_DWMC = #{glDwmc}</if>
        <if test="wbDwmc != null and wbDwmc != ''">and t.WB_DWMC = #{wbDwmc}</if>
        <if test="lxrXm != null and lxrXm != ''">and t.LXR_XM = #{lxrXm}</if>
        <if test="lxrLxdh != null and lxrLxdh != ''">and t.LXR_LXDH = #{lxrLxdh}</if>
        <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and t.XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
        <if test="deptList != null and deptList.size() > 0">and t.XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="xzqhdm != null and xzqhdm != ''">and t.XZQHDM = #{xzqhdm}</if>
        <if test="jizRq != null and jizRq != ''">and t.JIZ_RQ = #{jizRq}</if>
        <if test="qyRq != null and qyRq != ''">and t.QY_RQ = #{qyRq}</if>
        <if test="cdate != null and cdate != ''">and t.cdate = #{cdate}</if>
        <if test="cperson != null and cperson != ''">and t.cperson = #{cperson}</if>
        <if test="status != null and status != ''">and t.status = #{status}</if>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by t.cdate desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from jczy_xhs where status = 0
        <if test="xhsTywysbm != null and xhsTywysbm != ''">and XHS_TYWYSBM = #{xhsTywysbm}</if>
        <if test="mc != null and mc != ''">and MC like '%${mc}%'</if>
        <if test="dzmc != null and dzmc != ''">and DZMC like '%${dzmc}%'</if>
        <if test="xhslbdm != null and xhslbdm != ''">and XHSLBDM = #{xhslbdm}</if>
        <if test="xfsszkflydm != null and xfsszkflydm != ''">and XFSSZKFLYDM = #{xfsszkflydm}</if>
        <if test="dqjd != null and dqjd != ''">and DQJD = #{dqjd}</if>
        <if test="dqwd != null and dqwd != ''">and DQWD = #{dqwd}</if>
        <if test="dllkldJyqk != null and dllkldJyqk != ''">and DLLKLD_JYQK = #{dllkldJyqk}</if>
        <if test="xhsfzxslbdm != null and xhsfzxslbdm != ''">and XHSFZXSLBDM = #{xhsfzxslbdm}</if>
        <if test="xfsdjklxdm != null and xfsdjklxdm != ''">and XFSDJKLXDM = #{xfsdjklxdm}</if>
        <if test="qsxsJyqk != null and qsxsJyqk != ''">and QSXS_JYQK = #{qsxsJyqk}</if>
        <if test="ssgwMc != null and ssgwMc != ''">and SSGW_MC = #{ssgwMc}</if>
        <if test="xfjsgwxslxdm != null and xfjsgwxslxdm != ''">and XFJSGWXSLXDM = #{xfjsgwxslxdm}</if>
        <if test="gwzjKd != null and gwzjKd != ''">and GWZJ_KD = #{gwzjKd}</if>
        <if test="gwYl != null and gwYl != ''">and GW_YL = #{gwYl}</if>
        <if test="ll != null and ll != ''">and LL = #{ll}</if>
        <if test="gsDwmc != null and gsDwmc != ''">and GS_DWMC = #{gsDwmc}</if>
        <if test="glDwmc != null and glDwmc != ''">and GL_DWMC = #{glDwmc}</if>
        <if test="wbDwmc != null and wbDwmc != ''">and WB_DWMC = #{wbDwmc}</if>
        <if test="lxrXm != null and lxrXm != ''">and LXR_XM = #{lxrXm}</if>
        <if test="lxrLxdh != null and lxrLxdh != ''">and LXR_LXDH = #{lxrLxdh}</if>
        <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
        <if test="deptList != null and deptList.size() > 0">and XFJYJG_TYWYSBM in
            <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                #{item.xfjyjgTywysbm}
            </foreach>
        </if>
        <if test="xzqhdm != null and xzqhdm != ''">and XZQHDM = #{xzqhdm}</if>
        <if test="jizRq != null and jizRq != ''">and JIZ_RQ = #{jizRq}</if>
        <if test="qyRq != null and qyRq != ''">and QY_RQ = #{qyRq}</if>
        <if test="cdate != null and cdate != ''">and cdate = #{cdate}</if>
        <if test="cperson != null and cperson != ''">and cperson = #{cperson}</if>
        <if test="status != null and status != ''">and status = #{status}</if>
    </select>

    <insert id="save" parameterType="com.smart119.jczy.domain.XhsDO">
		insert into jczy_xhs
		(
			`XHS_TYWYSBM`, 
			`MC`, 
			`DZMC`, 
			`XHSLBDM`, 
			`XFSSZKFLYDM`, 
			`DQJD`, 
			`DQWD`, 
			`DLLKLD_JYQK`, 
			`XHSFZXSLBDM`, 
			`XFSDJKLXDM`, 
			`QSXS_JYQK`, 
			`SSGW_MC`, 
			`XFJSGWXSLXDM`, 
			`GWZJ_KD`, 
			`GW_YL`, 
			`LL`, 
			`GS_DWMC`, 
			`GL_DWMC`, 
			`WB_DWMC`, 
			`LXR_XM`, 
			`LXR_LXDH`, 
			`XFJYJG_TYWYSBM`, 
			`XZQHDM`, 
			`JIZ_RQ`, 
			`QY_RQ`, 
			`cdate`, 
			`cperson`, 
			`status`
		)
		values
		(
			#{xhsTywysbm}, 
			#{mc}, 
			#{dzmc}, 
			#{xhslbdm}, 
			#{xfsszkflydm}, 
			#{dqjd}, 
			#{dqwd}, 
			#{dllkldJyqk}, 
			#{xhsfzxslbdm}, 
			#{xfsdjklxdm}, 
			#{qsxsJyqk}, 
			#{ssgwMc}, 
			#{xfjsgwxslxdm}, 
			#{gwzjKd}, 
			#{gwYl}, 
			#{ll}, 
			#{gsDwmc}, 
			#{glDwmc}, 
			#{wbDwmc}, 
			#{lxrXm}, 
			#{lxrLxdh}, 
			#{xfjyjgTywysbm}, 
			#{xzqhdm}, 
			#{jizRq}, 
			#{qyRq}, 
			#{cdate}, 
			#{cperson}, 
			#{status}
		)
	</insert>

    <update id="update" parameterType="com.smart119.jczy.domain.XhsDO">
        update jczy_xhs
        <set>
            <if test="mc != null">`MC` = #{mc},</if>
            <if test="dzmc != null">`DZMC` = #{dzmc},</if>
            <if test="xhslbdm != null">`XHSLBDM` = #{xhslbdm},</if>
            <if test="xfsszkflydm != null">`XFSSZKFLYDM` = #{xfsszkflydm},</if>
            <if test="dqjd != null">`DQJD` = #{dqjd},</if>
            <if test="dqwd != null">`DQWD` = #{dqwd},</if>
            <if test="dllkldJyqk != null">`DLLKLD_JYQK` = #{dllkldJyqk},</if>
            <if test="xhsfzxslbdm != null">`XHSFZXSLBDM` = #{xhsfzxslbdm},</if>
            <if test="xfsdjklxdm != null">`XFSDJKLXDM` = #{xfsdjklxdm},</if>
            <if test="qsxsJyqk != null">`QSXS_JYQK` = #{qsxsJyqk},</if>
            <if test="ssgwMc != null">`SSGW_MC` = #{ssgwMc},</if>
            <if test="xfjsgwxslxdm != null">`XFJSGWXSLXDM` = #{xfjsgwxslxdm},</if>
            <if test="gwzjKd != null">`GWZJ_KD` = #{gwzjKd},</if>
            <if test="gwYl != null">`GW_YL` = #{gwYl},</if>
            <if test="ll != null">`LL` = #{ll},</if>
            <if test="gsDwmc != null">`GS_DWMC` = #{gsDwmc},</if>
            <if test="glDwmc != null">`GL_DWMC` = #{glDwmc},</if>
            <if test="wbDwmc != null">`WB_DWMC` = #{wbDwmc},</if>
            <if test="lxrXm != null">`LXR_XM` = #{lxrXm},</if>
            <if test="lxrLxdh != null">`LXR_LXDH` = #{lxrLxdh},</if>
            <if test="xfjyjgTywysbm != null">`XFJYJG_TYWYSBM` = #{xfjyjgTywysbm},</if>
            <if test="xzqhdm != null">`XZQHDM` = #{xzqhdm},</if>
            <if test="jizRq != null">`JIZ_RQ` = #{jizRq},</if>
            <if test="qyRq != null">`QY_RQ` = #{qyRq},</if>
            <if test="cdate != null">`cdate` = #{cdate},</if>
            <if test="cperson != null">`cperson` = #{cperson},</if>
            <if test="status != null">`status` = #{status}</if>
        </set>
        where XHS_TYWYSBM = #{xhsTywysbm}
    </update>

    <delete id="remove">
		delete from jczy_xhs where XHS_TYWYSBM = #{value}
	</delete>

    <delete id="batchRemove">
        delete from jczy_xhs where XHS_TYWYSBM in
        <foreach item="xhsTywysbm" collection="array" open="(" separator="," close=")">
            #{xhsTywysbm}
        </foreach>
    </delete>


    <select id="getXhsListByRange" resultType="com.smart119.jczy.domain.XhsDO">
        SELECT
        t.`XHS_TYWYSBM`,
        t.`MC`,
        t.`DZMC`,
        t.`XHSLBDM`,
        t.`XFSSZKFLYDM`,
        t.`DQJD`,
        t.`DQWD`,
        t.`DLLKLD_JYQK`,
        t.`XHSFZXSLBDM`,
        t.`XFSDJKLXDM`,
        t.`QSXS_JYQK`,
        t.`SSGW_MC`,
        t.`XFJSGWXSLXDM`,
        t.`GWZJ_KD`,
        t.`GW_YL`,
        t.`LL`,
        t.`GS_DWMC`,
        t.`GL_DWMC`,
        t.`WB_DWMC`,
        t.`LXR_XM`,
        t.`LXR_LXDH`,
        t.`XFJYJG_TYWYSBM`,
        t.`XZQHDM`,
        t.`JIZ_RQ`,
        t.`QY_RQ`,
        t.`cdate`,
        t.`cperson`,
        t.`status`,
        dept.`dwmc` XFJYJG,
        d.`name` XHSLB,
        d1.`name` XFSSZKFLY,
        d2.`name` XHSFZXSLB,
        d3.`name` XFSDJKLX,
        d4.`name` XFJSGWXSLX,
        d5.`name` area,
        d6.`name` city,
        d7.`name` province,
        calculateLineDistance(t.DQJD, t.DQWD, #{jd}, #{wd}) AS distance
        FROM
        jczy_xhs t
        LEFT JOIN sys_dept dept ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
        left join sys_dict d on t.XHSLBDM=d.`value` and d.description='消火栓类别代码'
        left join sys_dict d1 on t.XFSSZKFLYDM=d1.`value` and d1.description='消防设施状况分类与代码'
        left join sys_dict d2 on t.XHSFZXSLBDM=d2.`value` and d2.description='消火栓放置形式类别代码'
        left join sys_dict d3 on t.XFSDJKLXDM=d3.`value` and d3.description='消防水带接口类型代码'
        left join sys_dict d4 on t.XFJSGWXSLXDM=d4.`value` and d4.description='消防给水管网形式类型代码'
        LEFT JOIN sys_dict d5 ON t.XZQHDM = d5.`value` and d5.type='XZQHDM' and d5.`value`!=''
        LEFT JOIN sys_dict d6 ON d6.id = d5.parent_id
        LEFT JOIN sys_dict d7 ON d7.id = d6.parent_id
        WHERE t.status =0
        HAVING distance <![CDATA[ <= ]]> #{distance}
    </select>


</mapper>