<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.YbcsDao">

	<select id="get" resultType="com.smart119.jczy.domain.YbcsDO">
		select `YBCS_TYWYSBM`,`DWMC`,`DZ`,`LXDH`,`LC`,`JZMJ`,`SFJZ`,`SFCFWXP`,`SFAZFDC`,`LTWZ_SN`,`LTWZ_SW`,`CSLB`,`DQJD`,`DQWD`,`cdate`,`status`,`cperson` from jczy_ybcs where YBCS_TYWYSBM = #{value}
	</select>

	<select id="list" resultType="com.smart119.jczy.domain.YbcsDO">
		select `YBCS_TYWYSBM`,`DWMC`,`DZ`,`LXDH`,`LC`,`JZMJ`,`SFJZ`,`SFCFWXP`,`SFAZFDC`,`LTWZ_SN`,`LTWZ_SW`,`DQJD`,`DQWD`,`cdate`,`status`,`cperson`,dict.name as CSLB
		from jczy_ybcs t
		LEFT JOIN
		(select d.value,d.name from sys_dict d where d.type='YBCSLX') as dict
		on dict.`value` = t.CSLB
        <where>  
		  		  <if test="ybcsTywysbm != null and ybcsTywysbm != ''"> and t.YBCS_TYWYSBM = #{ybcsTywysbm} </if>
		  		  <if test="dwmc != null and dwmc != ''"> and t.DWMC like '%${dwmc}%' </if>
		  		  <if test="dz != null and dz != ''"> and t.DZ = #{dz} </if>
		  		  <if test="lxdh != null and lxdh != ''"> and t.LXDH = #{lxdh} </if>
		  		  <if test="lc != null and lc != ''"> and t.LC = #{lc} </if>
		  		  <if test="jzmj != null and jzmj != ''"> and t.JZMJ = #{jzmj} </if>
		  		  <if test="sfjz != null and sfjz != ''"> and t.SFJZ = #{sfjz} </if>
		  		  <if test="sfcfwxp != null and sfcfwxp != ''"> and t.SFCFWXP = #{sfcfwxp} </if>
		  		  <if test="sfazfdc != null and sfazfdc != ''"> and t.SFAZFDC = #{sfazfdc} </if>
		  		  <if test="ltwzSn != null and ltwzSn != ''"> and t.LTWZ_SN = #{ltwzSn} </if>
		  		  <if test="ltwzSw != null and ltwzSw != ''"> and t.LTWZ_SW = #{ltwzSw} </if>
		  		  <if test="cslb != null and cslb != ''"> and t.CSLB = #{cslb} </if>
		  		  <if test="dqjd != null and dqjd != ''"> and t.DQJD = #{dqjd} </if>
		  		  <if test="dqwd != null and dqwd != ''"> and t.DQWD = #{dqwd} </if>
		  		  <if test="cdate != null and cdate != ''"> and t.cdate = #{cdate} </if>
		  		  <if test="status != null and status != ''"> and t.status = #{status} </if>
		  		  <if test="cperson != null and cperson != ''"> and t.cperson = #{cperson} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by YBCS_TYWYSBM desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jczy_ybcs
		 <where>  
		  		  <if test="ybcsTywysbm != null and ybcsTywysbm != ''"> and YBCS_TYWYSBM = #{ybcsTywysbm} </if>
		  		  <if test="dwmc != null and dwmc != ''"> and DWMC = #{dwmc} </if>
		  		  <if test="dz != null and dz != ''"> and DZ = #{dz} </if>
		  		  <if test="lxdh != null and lxdh != ''"> and LXDH = #{lxdh} </if>
		  		  <if test="lc != null and lc != ''"> and LC = #{lc} </if>
		  		  <if test="jzmj != null and jzmj != ''"> and JZMJ = #{jzmj} </if>
		  		  <if test="sfjz != null and sfjz != ''"> and SFJZ = #{sfjz} </if>
		  		  <if test="sfcfwxp != null and sfcfwxp != ''"> and SFCFWXP = #{sfcfwxp} </if>
		  		  <if test="sfazfdc != null and sfazfdc != ''"> and SFAZFDC = #{sfazfdc} </if>
		  		  <if test="ltwzSn != null and ltwzSn != ''"> and LTWZ_SN = #{ltwzSn} </if>
		  		  <if test="ltwzSw != null and ltwzSw != ''"> and LTWZ_SW = #{ltwzSw} </if>
		  		  <if test="cslb != null and cslb != ''"> and CSLB = #{cslb} </if>
		  		  <if test="dqjd != null and dqjd != ''"> and DQJD = #{dqjd} </if>
		  		  <if test="dqwd != null and dqwd != ''"> and DQWD = #{dqwd} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.jczy.domain.YbcsDO">
		insert into jczy_ybcs
		(
			`YBCS_TYWYSBM`, 
			`DWMC`, 
			`DZ`, 
			`LXDH`, 
			`LC`, 
			`JZMJ`, 
			`SFJZ`, 
			`SFCFWXP`, 
			`SFAZFDC`, 
			`LTWZ_SN`, 
			`LTWZ_SW`, 
			`CSLB`, 
			`DQJD`, 
			`DQWD`, 
			`cdate`, 
			`status`, 
			`cperson`
		)
		values
		(
			#{ybcsTywysbm}, 
			#{dwmc}, 
			#{dz}, 
			#{lxdh}, 
			#{lc}, 
			#{jzmj}, 
			#{sfjz}, 
			#{sfcfwxp}, 
			#{sfazfdc}, 
			#{ltwzSn}, 
			#{ltwzSw}, 
			#{cslb}, 
			#{dqjd}, 
			#{dqwd}, 
			#{cdate}, 
			#{status}, 
			#{cperson}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.jczy.domain.YbcsDO">
		update jczy_ybcs 
		<set>
			<if test="dwmc != null">`DWMC` = #{dwmc}, </if>
			<if test="dz != null">`DZ` = #{dz}, </if>
			<if test="lxdh != null">`LXDH` = #{lxdh}, </if>
			<if test="lc != null">`LC` = #{lc}, </if>
			<if test="jzmj != null">`JZMJ` = #{jzmj}, </if>
			<if test="sfjz != null">`SFJZ` = #{sfjz}, </if>
			<if test="sfcfwxp != null">`SFCFWXP` = #{sfcfwxp}, </if>
			<if test="sfazfdc != null">`SFAZFDC` = #{sfazfdc}, </if>
			<if test="ltwzSn != null">`LTWZ_SN` = #{ltwzSn}, </if>
			<if test="ltwzSw != null">`LTWZ_SW` = #{ltwzSw}, </if>
			<if test="cslb != null">`CSLB` = #{cslb}, </if>
			<if test="dqjd != null">`DQJD` = #{dqjd}, </if>
			<if test="dqwd != null">`DQWD` = #{dqwd}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="cperson != null">`cperson` = #{cperson}</if>
		</set>
		where YBCS_TYWYSBM = #{ybcsTywysbm}
	</update>
	
	<delete id="remove">
		delete from jczy_ybcs where YBCS_TYWYSBM = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jczy_ybcs where YBCS_TYWYSBM in 
		<foreach item="ybcsTywysbm" collection="array" open="(" separator="," close=")">
			#{ybcsTywysbm}
		</foreach>
	</delete>

</mapper>