<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.YjyaClDao">

	<select id="get" resultType="com.smart119.jczy.domain.YjyaClDO">
		select `YJYA_CL_ID`,`YJYA_TYWYSBM`,`XFZBLXDM`,`NUM` from jczy_yjya_cl where YJYA_CL_ID = #{value}
	</select>

	<select id="list" resultType="com.smart119.jczy.domain.YjyaClDO">
		select `YJYA_CL_ID`,`YJYA_TYWYSBM`,`XFZBLXDM`,`NUM`,d.`name` XFZBLX
		from jczy_yjya_cl t
		left join sys_dict d on t.XFZBLXDM = d.`value` and d.type='XFZBLXDM'
        <where>  
		  		  <if test="yjyaClId != null and yjyaClId != ''"> and YJYA_CL_ID = #{yjyaClId} </if>
		  		  <if test="yjyaTywysbm != null and yjyaTywysbm != ''"> and YJYA_TYWYSBM = #{yjyaTywysbm} </if>
		  		  <if test="xfzblxdm != null and xfzblxdm != ''"> and XFZBLXDM = #{xfzblxdm} </if>
		  		  <if test="num != null and num != ''"> and NUM = #{num} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by YJYA_CL_ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jczy_yjya_cl
		 <where>  
		  		  <if test="yjyaClId != null and yjyaClId != ''"> and YJYA_CL_ID = #{yjyaClId} </if>
		  		  <if test="yjyaTywysbm != null and yjyaTywysbm != ''"> and YJYA_TYWYSBM = #{yjyaTywysbm} </if>
		  		  <if test="xfzblxdm != null and xfzblxdm != ''"> and XFZBLXDM = #{xfzblxdm} </if>
		  		  <if test="num != null and num != ''"> and NUM = #{num} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.jczy.domain.YjyaClDO">
		insert into jczy_yjya_cl
		(
			`YJYA_CL_ID`, 
			`YJYA_TYWYSBM`, 
			`XFZBLXDM`, 
			`NUM`
		)
		values
		(
			#{yjyaClId}, 
			#{yjyaTywysbm}, 
			#{xfzblxdm}, 
			#{num}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.jczy.domain.YjyaClDO">
		update jczy_yjya_cl 
		<set>
			<if test="yjyaTywysbm != null">`YJYA_TYWYSBM` = #{yjyaTywysbm}, </if>
			<if test="xfzblxdm != null">`XFZBLXDM` = #{xfzblxdm}, </if>
			<if test="num != null">`NUM` = #{num}</if>
		</set>
		where YJYA_CL_ID = #{yjyaClId}
	</update>
	
	<delete id="remove">
		delete from jczy_yjya_cl where YJYA_CL_ID = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jczy_yjya_cl where YJYA_CL_ID in 
		<foreach item="yjyaClId" collection="array" open="(" separator="," close=")">
			#{yjyaClId}
		</foreach>
	</delete>

</mapper>