<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.YjyaDao">

    <select id="get" resultType="com.smart119.jczy.domain.YjyaDO">
		select `YJYA_TYWYSBM`,`MC`,`YAZLDM`,`YJYALXLBDM`,`YANR_JYQK`,`YADX_TYWYSBM`,`YAGS_JYQK`,`YAZZ_RQSJ`,`YAZZR_XM`,`YAZZDW_DWMC`,y.`XFJYJG_TYWYSBM`,y.`XZQHDM`,y.`cdate`,y.`cperson`,y.`status`
		,d.name YJYALXLB,dept.`dwmc` XFJYJG,zddw.DWMC as YADX_NAME
		from jczy_yjya y LEFT JOIN sys_dict d ON d.value = y.YJYALXLBDM
		LEFT JOIN sys_dept dept ON y.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
		left join jczy_zddw zddw on zddw.ZDDW_TYWYSBM = y.YADX_TYWYSBM
		where YJYA_TYWYSBM = #{value}
		and d.description = '应急预案类型类别代码'

	</select>

    <select id="list" resultType="com.smart119.jczy.domain.YjyaDO">
        select
        y.`YJYA_TYWYSBM`,y.`MC`,y.`YAZLDM`,y.`YJYALXLBDM`,y.`YANR_JYQK`,y.`YADX_TYWYSBM`,y.`YAGS_JYQK`,y.`YAZZ_RQSJ`,y.`YAZZR_XM`,y.`YAZZDW_DWMC`,y.`XFJYJG_TYWYSBM`,y.`XZQHDM`,y.`cdate`,y.`cperson`,y.`status`
        ,d.name YJYALXLB
        ,dept.`dwmc` XFJYJG
        ,d2.name YAZL
        from jczy_yjya y
        LEFT JOIN sys_dict d ON d.value = y.YJYALXLBDM
        LEFT JOIN sys_dict d2 ON d2.value = y.YAZLDM
        LEFT JOIN sys_dept dept ON y.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
        <where>
            <if test="yjyaTywysbm != null and yjyaTywysbm != ''">and y.YJYA_TYWYSBM = #{yjyaTywysbm}</if>
            <if test="mc != null and mc != ''">and y.MC like '%${mc}%'</if>
            <if test="yazldm != null and yazldm != ''">and y.YAZLDM = #{yazldm}</if>
            <if test="yjyalxlbdm != null and yjyalxlbdm != ''">and y.YJYALXLBDM = #{yjyalxlbdm}</if>
            <if test="yanrJyqk != null and yanrJyqk != ''">and y.YANR_JYQK = #{yanrJyqk}</if>
            <if test="yadxTywysbm != null and yadxTywysbm != ''">and y.YADX_TYWYSBM = #{yadxTywysbm}</if>
            <if test="yagsJyqk != null and yagsJyqk != ''">and y.YAGS_JYQK = #{yagsJyqk}</if>
            <if test="yazzRqsj != null and yazzRqsj != ''">and y.YAZZ_RQSJ = #{yazzRqsj}</if>
            <if test="yazzrXm != null and yazzrXm != ''">and y.YAZZR_XM = #{yazzrXm}</if>
            <if test="yazzdwDwmc != null and yazzdwDwmc != ''">and y.YAZZDW_DWMC = #{yazzdwDwmc}</if>
            <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and y.XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
            <if test="deptList != null and deptList.size() > 0">and y.XFJYJG_TYWYSBM in
                <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                    #{item.xfjyjgTywysbm}
                </foreach>
            </if>
            <if test="xzqhdm != null and xzqhdm != ''">and y.XZQHDM = #{xzqhdm}</if>
            <if test="cdate != null and cdate != ''">and y.cdate = #{cdate}</if>
            <if test="cperson != null and cperson != ''">and y.cperson = #{cperson}</if>
            and y.status = 0
            and d.description = '应急预案类型类别代码'
            and d2.description = '预案种类代码'
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by y.cdate desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from jczy_yjya
        <where>
            <if test="yjyaTywysbm != null and yjyaTywysbm != ''">and YJYA_TYWYSBM = #{yjyaTywysbm}</if>
            <if test="mc != null and mc != ''">and MC like '%${mc}%'</if>
            <if test="yazldm != null and yazldm != ''">and YAZLDM = #{yazldm}</if>
            <if test="yjyalxlbdm != null and yjyalxlbdm != ''">and YJYALXLBDM = #{yjyalxlbdm}</if>
            <if test="yanrJyqk != null and yanrJyqk != ''">and YANR_JYQK = #{yanrJyqk}</if>
            <if test="yadxTywysbm != null and yadxTywysbm != ''">and YADX_TYWYSBM = #{yadxTywysbm}</if>
            <if test="yagsJyqk != null and yagsJyqk != ''">and YAGS_JYQK = #{yagsJyqk}</if>
            <if test="yazzRqsj != null and yazzRqsj != ''">and YAZZ_RQSJ = #{yazzRqsj}</if>
            <if test="yazzrXm != null and yazzrXm != ''">and YAZZR_XM = #{yazzrXm}</if>
            <if test="yazzdwDwmc != null and yazzdwDwmc != ''">and YAZZDW_DWMC = #{yazzdwDwmc}</if>
            <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
            <if test="deptList != null and deptList.size() > 0">and XFJYJG_TYWYSBM in
                <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                    #{item.xfjyjgTywysbm}
                </foreach>
            </if>
            <if test="xzqhdm != null and xzqhdm != ''">and XZQHDM = #{xzqhdm}</if>
            <if test="cdate != null and cdate != ''">and cdate = #{cdate}</if>
            <if test="cperson != null and cperson != ''">and cperson = #{cperson}</if>
            and status = 0
        </where>
    </select>

    <insert id="save" parameterType="com.smart119.jczy.domain.YjyaDO">
		insert into jczy_yjya
		(
			`YJYA_TYWYSBM`, 
			`MC`, 
			`YAZLDM`, 
			`YJYALXLBDM`, 
			`YANR_JYQK`, 
			`YADX_TYWYSBM`, 
			`YAGS_JYQK`, 
			`YAZZ_RQSJ`, 
			`YAZZR_XM`, 
			`YAZZDW_DWMC`, 
			`XFJYJG_TYWYSBM`, 
			`XZQHDM`, 
			`cdate`, 
			`cperson`, 
			`status`
		)
		values
		(
			#{yjyaTywysbm}, 
			#{mc}, 
			#{yazldm}, 
			#{yjyalxlbdm}, 
			#{yanrJyqk}, 
			#{yadxTywysbm}, 
			#{yagsJyqk}, 
			#{yazzRqsj}, 
			#{yazzrXm}, 
			#{yazzdwDwmc}, 
			#{xfjyjgTywysbm}, 
			#{xzqhdm}, 
			#{cdate}, 
			#{cperson}, 
			#{status}
		)
	</insert>

    <update id="update" parameterType="com.smart119.jczy.domain.YjyaDO">
        update jczy_yjya
        <set>
            <if test="mc != null">`MC` = #{mc},</if>
            <if test="yazldm != null">`YAZLDM` = #{yazldm},</if>
            <if test="yjyalxlbdm != null">`YJYALXLBDM` = #{yjyalxlbdm},</if>
            <if test="yanrJyqk != null">`YANR_JYQK` = #{yanrJyqk},</if>
            <if test="yadxTywysbm != null">`YADX_TYWYSBM` = #{yadxTywysbm},</if>
            <if test="yagsJyqk != null">`YAGS_JYQK` = #{yagsJyqk},</if>
            <if test="yazzRqsj != null">`YAZZ_RQSJ` = #{yazzRqsj},</if>
            <if test="yazzrXm != null">`YAZZR_XM` = #{yazzrXm},</if>
            <if test="yazzdwDwmc != null">`YAZZDW_DWMC` = #{yazzdwDwmc},</if>
            <if test="xfjyjgTywysbm != null">`XFJYJG_TYWYSBM` = #{xfjyjgTywysbm},</if>
            <if test="xzqhdm != null">`XZQHDM` = #{xzqhdm},</if>
            <if test="cdate != null">`cdate` = #{cdate},</if>
            <if test="cperson != null">`cperson` = #{cperson},</if>
            <if test="status != null">`status` = #{status}</if>
        </set>
        where YJYA_TYWYSBM = #{yjyaTywysbm}
    </update>

    <update id="remove">
		update jczy_yjya set `status` = 1 where YJYA_TYWYSBM = #{value}
	</update>

    <update id="batchRemove">
        update jczy_yjya
        set `status` = 1
        where YJYA_TYWYSBM in
        <foreach item="yjyaTywysbm" collection="array" open="(" separator="," close=")">
            #{yjyaTywysbm}
        </foreach>
    </update>


    <select id="getYjya4Dp" resultType="com.smart119.jczy.domain.YjyaDO">
        SELECT
        y.`YJYA_TYWYSBM`,
        y.`MC`,
        y.`YAZLDM`,
        y.`YJYALXLBDM`,
        y.`YANR_JYQK`,
        y.`YADX_TYWYSBM`,
        y.`YAGS_JYQK`,
        y.`YAZZ_RQSJ`,
        y.`YAZZR_XM`,
        y.`YAZZDW_DWMC`,
        y.`XFJYJG_TYWYSBM`,
        y.`XZQHDM`,
        y.`cdate`,
        y.`cperson`,
        y.`status`,
        d.NAME YJYALXLB,
        dept.`dwmc` XFJYJG,
        d2.NAME YAZL ,
        zddw.DWMC as YADX_NAME,
        (case when dp.JQCJDP_YA_ID is null then 0 else 1 end ) DP_STATUS
        FROM
        jczy_yjya y
        LEFT JOIN sys_dict d ON d.VALUE= y.YJYALXLBDM and d.description = '应急预案类型类别代码'
        LEFT JOIN sys_dict d2 ON d2.VALUE= y.YAZLDM and d2.description = '预案种类代码'
        LEFT JOIN sys_dept dept ON y.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
        left join jqxx_jqcjdp_ya dp on y.YJYA_TYWYSBM=dp.YJYA_TYWYSBM and dp.JQ_TYWYSBM=#{jqTywysbm}
        left join jczy_zddw zddw on zddw.ZDDW_TYWYSBM = t.YADX_TYWYSBM
        where y.status = 0
        <if test="yjyalxlbdm != null and yjyalxlbdm != ''">and YJYALXLBDM = #{yjyalxlbdm}</if>
    </select>

</mapper>