<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.ZbdtDao">

	<select id="get" resultType="com.smart119.jczy.domain.ZbdtDO">
		select z.`ZHB_TYWYSBM`,z.`ZHB_RQ`,z.`ZBRY_XM`,z.`ZBRY_LXDH`,z.`ZBRY_XFZBJSLBDM`,z.`ZBRY_XFGWFLYDM`,z.`ZBRY_DWMC`,z.`ZFB_PDBS`,z.`BZ`,z.`XFJYJG_TYWYSBM`,z.`XZQHDM`,z.`ZBRZ_JYQK`,z.`cdate`,z.`cperson`,z.`status`
		,dept.`dwmc` XFJYJG
		,d.name ZBRYXFZBJSLB
		,d2.name ZBRYXFGWFLY
		from jczy_zbdt z
		LEFT JOIN sys_dept dept ON z.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
		LEFT JOIN sys_dict d ON d.value = z.ZBRY_XFZBJSLBDM
		LEFT JOIN sys_dict d2 ON d2.value = z.ZBRY_XFGWFLYDM
		where ZHB_TYWYSBM = #{value}
		and d.description = '消防值班角色类别代码'
		and d2.description = '消防岗位分类与代码'
	</select>

	<select id="list" resultType="com.smart119.jczy.domain.ZbdtDO">
		select z.`ZHB_TYWYSBM`,z.`ZHB_RQ`,z.`ZBRY_XM`,z.`ZBRY_LXDH`,z.`ZBRY_XFZBJSLBDM`,z.`ZBRY_XFGWFLYDM`,z.`ZBRY_DWMC`,z.`ZFB_PDBS`,z.`BZ`,z.`XFJYJG_TYWYSBM`,z.`XZQHDM`,z.`ZBRZ_JYQK`,z.`cdate`,z.`cperson`,z.`status`
		,dept.`dwmc` XFJYJG
		,d.name ZBRYXFZBJSLB
		,d2.name ZBRYXFGWFLY
		from jczy_zbdt z
		LEFT JOIN sys_dept dept ON z.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
		LEFT JOIN sys_dict d ON d.value = z.ZBRY_XFZBJSLBDM
		LEFT JOIN sys_dict d2 ON d2.value = z.ZBRY_XFGWFLYDM
        <where>  
		  		  <if test="zhbTywysbm != null and zhbTywysbm != ''"> and z.ZHB_TYWYSBM = #{zhbTywysbm} </if>
		  		  <if test="zhbRq != null and zhbRq != ''"> and z.ZHB_RQ = #{zhbRq} </if>
		  		  <if test="zbryXm != null and zbryXm != ''"> and z.ZBRY_XM like '%${zbryXm}%' </if>
		  		  <if test="zbryLxdh != null and zbryLxdh != ''"> and z.ZBRY_LXDH = #{zbryLxdh} </if>
		  		  <if test="zbryXfzbjslbdm != null and zbryXfzbjslbdm != ''"> and z.ZBRY_XFZBJSLBDM = #{zbryXfzbjslbdm} </if>
		  		  <if test="zbryXfgwflydm != null and zbryXfgwflydm != ''"> and z.ZBRY_XFGWFLYDM = #{zbryXfgwflydm} </if>
		  		  <if test="zbryDwmc != null and zbryDwmc != ''"> and z.ZBRY_DWMC = #{zbryDwmc} </if>
		  		  <if test="zfbPdbs != null and zfbPdbs != ''"> and z.ZFB_PDBS = #{zfbPdbs} </if>
		  		  <if test="bz != null and bz != ''"> and z.BZ = #{bz} </if>
		  		  <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and z.XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
					<if test="deptList != null and deptList.size() > 0">and z.XFJYJG_TYWYSBM in
						<foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
							#{item.xfjyjgTywysbm}
						</foreach>
					</if>
		  		  <if test="xzqhdm != null and xzqhdm != ''"> and z.XZQHDM = #{xzqhdm} </if>
		  		  <if test="zbrzJyqk != null and zbrzJyqk != ''"> and z.ZBRZ_JYQK = #{zbrzJyqk} </if>
		  		  <if test="cdate != null and cdate != ''"> and z.cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and z.cperson = #{cperson} </if>
			and z.status = 0
			and d.description = '消防值班角色类别代码'
			and d2.description = '消防岗位分类与代码'
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by z.cdate desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jczy_zbdt
		 <where>  
		  		  <if test="zhbTywysbm != null and zhbTywysbm != ''"> and ZHB_TYWYSBM = #{zhbTywysbm} </if>
		  		  <if test="zhbRq != null and zhbRq != ''"> and ZHB_RQ = #{zhbRq} </if>
		  		  <if test="zbryXm != null and zbryXm != ''"> and ZBRY_XM = #{zbryXm} </if>
		  		  <if test="zbryLxdh != null and zbryLxdh != ''"> and ZBRY_LXDH = #{zbryLxdh} </if>
		  		  <if test="zbryXfzbjslbdm != null and zbryXfzbjslbdm != ''"> and ZBRY_XFZBJSLBDM = #{zbryXfzbjslbdm} </if>
		  		  <if test="zbryXfgwflydm != null and zbryXfgwflydm != ''"> and ZBRY_XFGWFLYDM = #{zbryXfgwflydm} </if>
		  		  <if test="zbryDwmc != null and zbryDwmc != ''"> and ZBRY_DWMC = #{zbryDwmc} </if>
		  		  <if test="zfbPdbs != null and zfbPdbs != ''"> and ZFB_PDBS = #{zfbPdbs} </if>
		  		  <if test="bz != null and bz != ''"> and BZ = #{bz} </if>
		  		  <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and XFJYJG_TYWYSBM = #{xfjyjgTywysbm} </if>
				 <if test="deptList != null and deptList.size() > 0">and XFJYJG_TYWYSBM in
					 <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
						 #{item.xfjyjgTywysbm}
					 </foreach>
				 </if>
		  		  <if test="xzqhdm != null and xzqhdm != ''"> and XZQHDM = #{xzqhdm} </if>
		  		  <if test="zbrzJyqk != null and zbrzJyqk != ''"> and ZBRZ_JYQK = #{zbrzJyqk} </if>
		  		  <if test="cdate != null and cdate != ''"> and cdate = #{cdate} </if>
		  		  <if test="cperson != null and cperson != ''"> and cperson = #{cperson} </if>
			 and status = 0
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.jczy.domain.ZbdtDO">
		insert into jczy_zbdt
		(
			`ZHB_TYWYSBM`, 
			`ZHB_RQ`, 
			`ZBRY_XM`, 
			`ZBRY_LXDH`, 
			`ZBRY_XFZBJSLBDM`, 
			`ZBRY_XFGWFLYDM`, 
			`ZBRY_DWMC`, 
			`ZFB_PDBS`, 
			`BZ`, 
			`XFJYJG_TYWYSBM`, 
			`XZQHDM`, 
			`ZBRZ_JYQK`, 
			`cdate`, 
			`cperson`, 
			`status`
		)
		values
		(
			#{zhbTywysbm}, 
			#{zhbRq}, 
			#{zbryXm}, 
			#{zbryLxdh}, 
			#{zbryXfzbjslbdm}, 
			#{zbryXfgwflydm}, 
			#{zbryDwmc}, 
			#{zfbPdbs}, 
			#{bz}, 
			#{xfjyjgTywysbm}, 
			#{xzqhdm}, 
			#{zbrzJyqk}, 
			#{cdate}, 
			#{cperson}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.jczy.domain.ZbdtDO">
		update jczy_zbdt 
		<set>
			<if test="zhbRq != null">`ZHB_RQ` = #{zhbRq}, </if>
			<if test="zbryXm != null">`ZBRY_XM` = #{zbryXm}, </if>
			<if test="zbryLxdh != null">`ZBRY_LXDH` = #{zbryLxdh}, </if>
			<if test="zbryXfzbjslbdm != null">`ZBRY_XFZBJSLBDM` = #{zbryXfzbjslbdm}, </if>
			<if test="zbryXfgwflydm != null">`ZBRY_XFGWFLYDM` = #{zbryXfgwflydm}, </if>
			<if test="zbryDwmc != null">`ZBRY_DWMC` = #{zbryDwmc}, </if>
			<if test="zfbPdbs != null">`ZFB_PDBS` = #{zfbPdbs}, </if>
			<if test="bz != null">`BZ` = #{bz}, </if>
			<if test="xfjyjgTywysbm != null">`XFJYJG_TYWYSBM` = #{xfjyjgTywysbm}, </if>
			<if test="xzqhdm != null">`XZQHDM` = #{xzqhdm}, </if>
			<if test="zbrzJyqk != null">`ZBRZ_JYQK` = #{zbrzJyqk}, </if>
			<if test="cdate != null">`cdate` = #{cdate}, </if>
			<if test="cperson != null">`cperson` = #{cperson}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where ZHB_TYWYSBM = #{zhbTywysbm}
	</update>
	
	<update id="remove">
		update jczy_zbdt set `status` = 1 where ZHB_TYWYSBM = #{value}
	</update>
	
	<update id="batchRemove">
		update jczy_zbdt set `status` = 1  where ZHB_TYWYSBM in
		<foreach item="zhbTywysbm" collection="array" open="(" separator="," close=")">
			#{zhbTywysbm}
		</foreach>
	</update>

	<!--用人员id查询出来消防救援机构_通用唯一识别码-->
	<select id="xfjyjgTywysbmByUserId" resultType="java.util.HashMap">
		SELECT dept.XFJYJG_TYWYSBM,dept.XZQHDM
		from sys_dept dept
		LEFT JOIN sys_user aa
		on aa.dept_id = dept.dept_id
		where aa.user_id=#{value}
	</select>

</mapper>