<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.ZdbwDao">

    <select id="get" resultType="com.smart119.jczy.domain.ZdbwDO">
		select t.`ZDBW_TYWYSBM`,t.`DDDW_TYWYSBM`,t.`XFJYJG_TYWYSBM`,t.`MC`,t.`DDMC`,t.`BWSZ_LC`,t.`BWSZ_GD`,t.`JZJGLXDM`,t.`JZWSYXZDM`,t.`JZ_MJ`,t.`XFDT_SL`,t.`SSCK_SL`,t.`AQCK_SL`,
		t.`MHSS_JYQK`,t.`WXX_JYQK`,t.`QLYY_JYQK`,t.`FFBSSL_JYQK`,t.`WXY_JYQK`,t.`HZ_JYQK`,t.`ZRR_XM`,t.`SFAQGL_JYQK`,t.`JZWNHDJDM`,t.`BZ` ,   dept.`dwmc` XFJYJG
		,z.DWMC as zddwMC,t.XFSS_JYQK,t.XFKZS_JYQK
		from jczy_zdbw  t
		LEFT JOIN sys_dept dept ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
		left JOIN jczy_zddw z on t.DDDW_TYWYSBM = z.ZDDW_TYWYSBM
		where t.ZDBW_TYWYSBM = #{value}
	</select>

    <select id="list" resultType="com.smart119.jczy.domain.ZdbwDO">
        select
        `ZDBW_TYWYSBM`,`DDDW_TYWYSBM`,`XFJYJG_TYWYSBM`,`MC`,`DDMC`,`BWSZ_LC`,`BWSZ_GD`,`JZJGLXDM`,`JZWSYXZDM`,`JZ_MJ`,`XFDT_SL`,`SSCK_SL`,`AQCK_SL`,`MHSS_JYQK`,`WXX_JYQK`,`QLYY_JYQK`,`FFBSSL_JYQK`,`WXY_JYQK`,`HZ_JYQK`,`ZRR_XM`,`SFAQGL_JYQK`,`JZWNHDJDM`,`BZ`,XFSS_JYQK,XFKZS_JYQK
        from jczy_zdbw
        <where>
            <if test="zdbwTywysbm != null and zdbwTywysbm != ''">and ZDBW_TYWYSBM = #{zdbwTywysbm}</if>
            <if test="dddwTywysbm != null and dddwTywysbm != ''">and DDDW_TYWYSBM = #{dddwTywysbm}</if>
            <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
            <if test="deptList != null and deptList.size() > 0">and XFJYJG_TYWYSBM in
                <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                    #{item.xfjyjgTywysbm}
                </foreach>
            </if>
            <if test="mc != null and mc != ''">and MC = #{mc}</if>
            <if test="ddmc != null and ddmc != ''">and DDMC = #{ddmc}</if>
            <if test="bwszLc != null and bwszLc != ''">and BWSZ_LC = #{bwszLc}</if>
            <if test="bwszGd != null and bwszGd != ''">and BWSZ_GD = #{bwszGd}</if>
            <if test="jzjglxdm != null and jzjglxdm != ''">and JZJGLXDM = #{jzjglxdm}</if>
            <if test="jzwsyxzdm != null and jzwsyxzdm != ''">and JZWSYXZDM = #{jzwsyxzdm}</if>
            <if test="jzMj != null and jzMj != ''">and JZ_MJ = #{jzMj}</if>
            <if test="xfdtSl != null and xfdtSl != ''">and XFDT_SL = #{xfdtSl}</if>
            <if test="ssckSl != null and ssckSl != ''">and SSCK_SL = #{ssckSl}</if>
            <if test="aqckSl != null and aqckSl != ''">and AQCK_SL = #{aqckSl}</if>
            <if test="mhssJyqk != null and mhssJyqk != ''">and MHSS_JYQK = #{mhssJyqk}</if>
            <if test="wxxJyqk != null and wxxJyqk != ''">and WXX_JYQK = #{wxxJyqk}</if>
            <if test="qlyyJyqk != null and qlyyJyqk != ''">and QLYY_JYQK = #{qlyyJyqk}</if>
            <if test="ffbsslJyqk != null and ffbsslJyqk != ''">and FFBSSL_JYQK = #{ffbsslJyqk}</if>
            <if test="wxyJyqk != null and wxyJyqk != ''">and WXY_JYQK = #{wxyJyqk}</if>
            <if test="hzJyqk != null and hzJyqk != ''">and HZ_JYQK = #{hzJyqk}</if>
            <if test="zrrXm != null and zrrXm != ''">and ZRR_XM = #{zrrXm}</if>
            <if test="sfaqglJyqk != null and sfaqglJyqk != ''">and SFAQGL_JYQK = #{sfaqglJyqk}</if>
            <if test="jzwnhdjdm != null and jzwnhdjdm != ''">and JZWNHDJDM = #{jzwnhdjdm}</if>
            <if test="bz != null and bz != ''">and BZ = #{bz}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by ZDBW_TYWYSBM desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from jczy_zdbw
        <where>
            <if test="zdbwTywysbm != null and zdbwTywysbm != ''">and ZDBW_TYWYSBM = #{zdbwTywysbm}</if>
            <if test="dddwTywysbm != null and dddwTywysbm != ''">and DDDW_TYWYSBM = #{dddwTywysbm}</if>
            <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
            <if test="deptList != null and deptList.size() > 0">and XFJYJG_TYWYSBM in
                <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                    #{item.xfjyjgTywysbm}
                </foreach>
            </if>
            <if test="mc != null and mc != ''">and MC = #{mc}</if>
            <if test="ddmc != null and ddmc != ''">and DDMC = #{ddmc}</if>
            <if test="bwszLc != null and bwszLc != ''">and BWSZ_LC = #{bwszLc}</if>
            <if test="bwszGd != null and bwszGd != ''">and BWSZ_GD = #{bwszGd}</if>
            <if test="jzjglxdm != null and jzjglxdm != ''">and JZJGLXDM = #{jzjglxdm}</if>
            <if test="jzwsyxzdm != null and jzwsyxzdm != ''">and JZWSYXZDM = #{jzwsyxzdm}</if>
            <if test="jzMj != null and jzMj != ''">and JZ_MJ = #{jzMj}</if>
            <if test="xfdtSl != null and xfdtSl != ''">and XFDT_SL = #{xfdtSl}</if>
            <if test="ssckSl != null and ssckSl != ''">and SSCK_SL = #{ssckSl}</if>
            <if test="aqckSl != null and aqckSl != ''">and AQCK_SL = #{aqckSl}</if>
            <if test="mhssJyqk != null and mhssJyqk != ''">and MHSS_JYQK = #{mhssJyqk}</if>
            <if test="wxxJyqk != null and wxxJyqk != ''">and WXX_JYQK = #{wxxJyqk}</if>
            <if test="qlyyJyqk != null and qlyyJyqk != ''">and QLYY_JYQK = #{qlyyJyqk}</if>
            <if test="ffbsslJyqk != null and ffbsslJyqk != ''">and FFBSSL_JYQK = #{ffbsslJyqk}</if>
            <if test="wxyJyqk != null and wxyJyqk != ''">and WXY_JYQK = #{wxyJyqk}</if>
            <if test="hzJyqk != null and hzJyqk != ''">and HZ_JYQK = #{hzJyqk}</if>
            <if test="zrrXm != null and zrrXm != ''">and ZRR_XM = #{zrrXm}</if>
            <if test="sfaqglJyqk != null and sfaqglJyqk != ''">and SFAQGL_JYQK = #{sfaqglJyqk}</if>
            <if test="jzwnhdjdm != null and jzwnhdjdm != ''">and JZWNHDJDM = #{jzwnhdjdm}</if>
            <if test="bz != null and bz != ''">and BZ = #{bz}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.smart119.jczy.domain.ZdbwDO">
		insert into jczy_zdbw
		(
			`ZDBW_TYWYSBM`, 
			`DDDW_TYWYSBM`, 
			`XFJYJG_TYWYSBM`, 
			`MC`, 
			`DDMC`, 
			`BWSZ_LC`, 
			`BWSZ_GD`, 
			`JZJGLXDM`, 
			`JZWSYXZDM`, 
			`JZ_MJ`, 
			`XFDT_SL`, 
			`SSCK_SL`, 
			`AQCK_SL`, 
			`MHSS_JYQK`, 
			`WXX_JYQK`, 
			`QLYY_JYQK`, 
			`FFBSSL_JYQK`, 
			`WXY_JYQK`, 
			`HZ_JYQK`, 
			`ZRR_XM`, 
			`SFAQGL_JYQK`, 
			`JZWNHDJDM`, 
			`BZ`,
			`XFSS_JYQK`,
			`XFKZS_JYQK`
		)
		values
		(
			#{zdbwTywysbm}, 
			#{dddwTywysbm}, 
			#{xfjyjgTywysbm}, 
			#{mc}, 
			#{ddmc}, 
			#{bwszLc}, 
			#{bwszGd}, 
			#{jzjglxdm}, 
			#{jzwsyxzdm}, 
			#{jzMj}, 
			#{xfdtSl}, 
			#{ssckSl}, 
			#{aqckSl}, 
			#{mhssJyqk}, 
			#{wxxJyqk}, 
			#{qlyyJyqk}, 
			#{ffbsslJyqk}, 
			#{wxyJyqk}, 
			#{hzJyqk}, 
			#{zrrXm}, 
			#{sfaqglJyqk}, 
			#{jzwnhdjdm}, 
			#{bz},
			#{xfssJyqk},
			#{xfkzsJyqk}
		)
	</insert>

    <update id="update" parameterType="com.smart119.jczy.domain.ZdbwDO">
        update jczy_zdbw
        <set>
            <if test="zdbwTywysbm != null">`ZDBW_TYWYSBM` = #{zdbwTywysbm},</if>
            <if test="dddwTywysbm != null">`DDDW_TYWYSBM` = #{dddwTywysbm},</if>
            <if test="xfjyjgTywysbm != null">`XFJYJG_TYWYSBM` = #{xfjyjgTywysbm},</if>
            <if test="mc != null">`MC` = #{mc},</if>
            <if test="ddmc != null">`DDMC` = #{ddmc},</if>
            <if test="bwszGd != null">`BWSZ_GD` = #{bwszGd},</if>
            <if test="jzjglxdm != null">`JZJGLXDM` = #{jzjglxdm},</if>
            <if test="jzwsyxzdm != null">`JZWSYXZDM` = #{jzwsyxzdm},</if>
            <if test="jzMj != null">`JZ_MJ` = #{jzMj},</if>
            <if test="xfdtSl != null">`XFDT_SL` = #{xfdtSl},</if>
            <if test="ssckSl != null">`SSCK_SL` = #{ssckSl},</if>
            <if test="aqckSl != null">`AQCK_SL` = #{aqckSl},</if>
            <if test="mhssJyqk != null">`MHSS_JYQK` = #{mhssJyqk},</if>
            <if test="wxxJyqk != null">`WXX_JYQK` = #{wxxJyqk},</if>
            <if test="qlyyJyqk != null">`QLYY_JYQK` = #{qlyyJyqk},</if>
            <if test="ffbsslJyqk != null">`FFBSSL_JYQK` = #{ffbsslJyqk},</if>
            <if test="wxyJyqk != null">`WXY_JYQK` = #{wxyJyqk},</if>
            <if test="hzJyqk != null">`HZ_JYQK` = #{hzJyqk},</if>
            <if test="zrrXm != null">`ZRR_XM` = #{zrrXm},</if>
            <if test="sfaqglJyqk != null">`SFAQGL_JYQK` = #{sfaqglJyqk},</if>
            <if test="jzwnhdjdm != null">`JZWNHDJDM` = #{jzwnhdjdm},</if>
            <if test="bz != null">`BZ` = #{bz}</if>
            <if test="xfssJyqk != null">`XFSS_JYQK` = #{xfssJyqk}</if>
            <if test="xfkzsJyqk != null">`XFKZS_JYQK` = #{xfkzsJyqk}</if>
        </set>
        where ZDBW_TYWYSBM = #{zdbwTywysbm}
    </update>

    <delete id="remove">
		delete from jczy_zdbw where ZDBW_TYWYSBM = #{value}
	</delete>

    <delete id="batchRemove">
        delete from jczy_zdbw where ZDBW_TYWYSBM in
        <foreach item="zdbwTywysbm" collection="array" open="(" separator="," close=")">
            #{zdbwTywysbm}
        </foreach>
    </delete>

</mapper>