<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.ZddwDao">

    <select id="get" resultType="com.smart119.jczy.domain.ZddwDO">
		select t.`ZDDW_TYWYSBM`,t.`DWMC`,t.`DWPYJC`,t.`JJSYZLXDM`,t.`CL_RQ`,t.`DWHZWHXFLYDM`,t.`DWZRXZDM`,t.`DZMC`,t.`LXDH`,t.`DZXX`,t.`XZQHDM`,t.`YZBM`,t.`RS`,t.`ZD_MJ`,t.`JZ_MJ`,
		t.`XFJYJG_TYWYSBM`,t.`DQJD`,t.`DQWD`,t.`JZ_SL`,t.`DW_JYQK`,t.`SFTDHSSTD_JYQK`,t.`NBXFSS_JYQK`,t.`FHSS_JYQK`,t.`FRDB_XM`,t.`FRDB_GMSFZH`,t.`FRDB_LXDH`,t.`XFAQZRR_XM`,
		t.`XFAQZRR_GMSFHM`,t.`XFAQZRR_LXDH`,t.`XFAQGLR_XM`,t.`XFAQGLR_GMSFHM`,t.`XFAQGLR_LXDH`,t.`ZJZXFGLR_XM`,t.`ZJZXFGLR_GMSFHM`,t.`ZJZXFGLR_LXDH`,t.`BZ`,dept.`dwmc` XFJYJG,
		t.XFKZS_JYQK,t.WXHXP_MC,t.WXHXP_WXHXPFLYDM,t.WXHXP_HXPZTLBDM,t.WXHXP_HXPWXXLBDM,t.WXHXP_SL,t.WXHXP_JYQK,t.WXHXP_DZMC
		from jczy_zddw  t
		LEFT JOIN sys_dept dept ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
		where t.ZDDW_TYWYSBM = #{value}
	</select>

    <select id="list" resultType="com.smart119.jczy.domain.ZddwDO">
        select t.`ZDDW_TYWYSBM`,t.`DWMC`,t.`DWPYJC`,t.`JJSYZLXDM`,t.`CL_RQ`,t.`DWHZWHXFLYDM`,t.`DWZRXZDM`,t.`DZMC`,t.`LXDH`,t.`DZXX`,t.`XZQHDM`,t.`YZBM`,t.`RS`,t.`ZD_MJ`,t.`JZ_MJ`,
        t.`XFJYJG_TYWYSBM`,t.`DQJD`,t.`DQWD`,t.`JZ_SL`,t.`DW_JYQK`,t.`SFTDHSSTD_JYQK`,t.`NBXFSS_JYQK`,t.`FHSS_JYQK`,t.`FRDB_XM`,t.`FRDB_GMSFZH`,t.`FRDB_LXDH`,t.`XFAQZRR_XM`,
        t.`XFAQZRR_GMSFHM`,t.`XFAQZRR_LXDH`,t.`XFAQGLR_XM`,t.`XFAQGLR_GMSFHM`,t.`XFAQGLR_LXDH`,t.`ZJZXFGLR_XM`,t.`ZJZXFGLR_GMSFHM`,t.`ZJZXFGLR_LXDH`,t.`BZ`,dept.`dwmc` XFJYJG,
        t.XFKZS_JYQK,t.WXHXP_MC,t.WXHXP_WXHXPFLYDM,t.WXHXP_HXPZTLBDM,t.WXHXP_HXPWXXLBDM,t.WXHXP_SL,t.WXHXP_JYQK,t.WXHXP_DZMC
        from jczy_zddw t
        LEFT JOIN sys_dept dept ON t.XFJYJG_TYWYSBM = dept.XFJYJG_TYWYSBM
        <where>
            <if test="zddwTywysbm != null and zddwTywysbm != ''">and t.ZDDW_TYWYSBM = #{zddwTywysbm}</if>
            <if test="dwmc != null and dwmc != ''">and t.DWMC like '%${dwmc}%'</if>
            <if test="dwpyjc != null and dwpyjc != ''">and t.DWPYJC = #{dwpyjc}</if>
            <if test="jjsyzlxdm != null and jjsyzlxdm != ''">and t.JJSYZLXDM = #{jjsyzlxdm}</if>
            <if test="clRq != null and clRq != ''">and t.CL_RQ = #{clRq}</if>
            <if test="dwhzwhxflydm != null and dwhzwhxflydm != ''">and t.DWHZWHXFLYDM = #{dwhzwhxflydm}</if>
            <if test="dwzrxzdm != null and dwzrxzdm != ''">and t.DWZRXZDM = #{dwzrxzdm}</if>
            <if test="dzmc != null and dzmc != ''">and t.DZMC = #{dzmc}</if>
            <if test="lxdh != null and lxdh != ''">and t.LXDH = #{lxdh}</if>
            <if test="dzxx != null and dzxx != ''">and t.DZXX = #{dzxx}</if>
            <if test="xzqhdm != null and xzqhdm != ''">and t.XZQHDM = #{xzqhdm}</if>
            <if test="yzbm != null and yzbm != ''">and t.YZBM = #{yzbm}</if>
            <if test="rs != null and rs != ''">and t.RS = #{rs}</if>
            <if test="zdMj != null and zdMj != ''">and t.ZD_MJ = #{zdMj}</if>
            <if test="jzMj != null and jzMj != ''">and t.JZ_MJ = #{jzMj}</if>
            <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and t.XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
            <if test="deptList != null and deptList.size() > 0">and t.XFJYJG_TYWYSBM in
                <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                    #{item.xfjyjgTywysbm}
                </foreach>
            </if>
            <if test="dqjd != null and dqjd != ''">and t.DQJD = #{dqjd}</if>
            <if test="dqwd != null and dqwd != ''">and t.DQWD = #{dqwd}</if>
            <if test="jzSl != null and jzSl != ''">and t.JZ_SL = #{jzSl}</if>
            <if test="dwJyqk != null and dwJyqk != ''">and t.DW_JYQK = #{dwJyqk}</if>
            <if test="sftdhsstdJyqk != null and sftdhsstdJyqk != ''">and t.SFTDHSSTD_JYQK = #{sftdhsstdJyqk}</if>
            <if test="nbxfssJyqk != null and nbxfssJyqk != ''">and t.NBXFSS_JYQK = #{nbxfssJyqk}</if>
            <if test="fhssJyqk != null and fhssJyqk != ''">and t.FHSS_JYQK = #{fhssJyqk}</if>
            <if test="frdbXm != null and frdbXm != ''">and t.FRDB_XM = #{frdbXm}</if>
            <if test="frdbGmsfzh != null and frdbGmsfzh != ''">and t.FRDB_GMSFZH = #{frdbGmsfzh}</if>
            <if test="frdbLxdh != null and frdbLxdh != ''">and t.FRDB_LXDH = #{frdbLxdh}</if>
            <if test="xfaqzrrXm != null and xfaqzrrXm != ''">and t.XFAQZRR_XM = #{xfaqzrrXm}</if>
            <if test="xfaqzrrGmsfhm != null and xfaqzrrGmsfhm != ''">and t.XFAQZRR_GMSFHM = #{xfaqzrrGmsfhm}</if>
            <if test="xfaqzrrLxdh != null and xfaqzrrLxdh != ''">and t.XFAQZRR_LXDH = #{xfaqzrrLxdh}</if>
            <if test="xfaqglrXm != null and xfaqglrXm != ''">and t.XFAQGLR_XM = #{xfaqglrXm}</if>
            <if test="xfaqglrGmsfhm != null and xfaqglrGmsfhm != ''">and t.XFAQGLR_GMSFHM = #{xfaqglrGmsfhm}</if>
            <if test="xfaqglrLxdh != null and xfaqglrLxdh != ''">and t.XFAQGLR_LXDH = #{xfaqglrLxdh}</if>
            <if test="zjzxfglrXm != null and zjzxfglrXm != ''">and t.ZJZXFGLR_XM = #{zjzxfglrXm}</if>
            <if test="zjzxfglrGmsfhm != null and zjzxfglrGmsfhm != ''">and t.ZJZXFGLR_GMSFHM = #{zjzxfglrGmsfhm}</if>
            <if test="zjzxfglrLxdh != null and zjzxfglrLxdh != ''">and t.ZJZXFGLR_LXDH = #{zjzxfglrLxdh}</if>
            <if test="bz != null and bz != ''">and t.BZ = #{bz}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by t.ZDDW_TYWYSBM desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from jczy_zddw
        <where>
            <if test="zddwTywysbm != null and zddwTywysbm != ''">and ZDDW_TYWYSBM = #{zddwTywysbm}</if>
            <if test="dwmc != null and dwmc != ''">and DWMC = #{dwmc}</if>
            <if test="dwpyjc != null and dwpyjc != ''">and DWPYJC = #{dwpyjc}</if>
            <if test="jjsyzlxdm != null and jjsyzlxdm != ''">and JJSYZLXDM = #{jjsyzlxdm}</if>
            <if test="clRq != null and clRq != ''">and CL_RQ = #{clRq}</if>
            <if test="dwhzwhxflydm != null and dwhzwhxflydm != ''">and DWHZWHXFLYDM = #{dwhzwhxflydm}</if>
            <if test="dwzrxzdm != null and dwzrxzdm != ''">and DWZRXZDM = #{dwzrxzdm}</if>
            <if test="dzmc != null and dzmc != ''">and DZMC = #{dzmc}</if>
            <if test="lxdh != null and lxdh != ''">and LXDH = #{lxdh}</if>
            <if test="dzxx != null and dzxx != ''">and DZXX = #{dzxx}</if>
            <if test="xzqhdm != null and xzqhdm != ''">and XZQHDM = #{xzqhdm}</if>
            <if test="yzbm != null and yzbm != ''">and YZBM = #{yzbm}</if>
            <if test="rs != null and rs != ''">and RS = #{rs}</if>
            <if test="zdMj != null and zdMj != ''">and ZD_MJ = #{zdMj}</if>
            <if test="jzMj != null and jzMj != ''">and JZ_MJ = #{jzMj}</if>
            <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
            <if test="deptList != null and deptList.size() > 0">and XFJYJG_TYWYSBM in
                <foreach collection="deptList" item="item" index="index" separator="," open="(" close=")">
                    #{item.xfjyjgTywysbm}
                </foreach>
            </if>
            <if test="dqjd != null and dqjd != ''">and DQJD = #{dqjd}</if>
            <if test="dqwd != null and dqwd != ''">and DQWD = #{dqwd}</if>
            <if test="jzSl != null and jzSl != ''">and JZ_SL = #{jzSl}</if>
            <if test="dwJyqk != null and dwJyqk != ''">and DW_JYQK = #{dwJyqk}</if>
            <if test="sftdhsstdJyqk != null and sftdhsstdJyqk != ''">and SFTDHSSTD_JYQK = #{sftdhsstdJyqk}</if>
            <if test="nbxfssJyqk != null and nbxfssJyqk != ''">and NBXFSS_JYQK = #{nbxfssJyqk}</if>
            <if test="fhssJyqk != null and fhssJyqk != ''">and FHSS_JYQK = #{fhssJyqk}</if>
            <if test="frdbXm != null and frdbXm != ''">and FRDB_XM = #{frdbXm}</if>
            <if test="frdbGmsfzh != null and frdbGmsfzh != ''">and FRDB_GMSFZH = #{frdbGmsfzh}</if>
            <if test="frdbLxdh != null and frdbLxdh != ''">and FRDB_LXDH = #{frdbLxdh}</if>
            <if test="xfaqzrrXm != null and xfaqzrrXm != ''">and XFAQZRR_XM = #{xfaqzrrXm}</if>
            <if test="xfaqzrrGmsfhm != null and xfaqzrrGmsfhm != ''">and XFAQZRR_GMSFHM = #{xfaqzrrGmsfhm}</if>
            <if test="xfaqzrrLxdh != null and xfaqzrrLxdh != ''">and XFAQZRR_LXDH = #{xfaqzrrLxdh}</if>
            <if test="xfaqglrXm != null and xfaqglrXm != ''">and XFAQGLR_XM = #{xfaqglrXm}</if>
            <if test="xfaqglrGmsfhm != null and xfaqglrGmsfhm != ''">and XFAQGLR_GMSFHM = #{xfaqglrGmsfhm}</if>
            <if test="xfaqglrLxdh != null and xfaqglrLxdh != ''">and XFAQGLR_LXDH = #{xfaqglrLxdh}</if>
            <if test="zjzxfglrXm != null and zjzxfglrXm != ''">and ZJZXFGLR_XM = #{zjzxfglrXm}</if>
            <if test="zjzxfglrGmsfhm != null and zjzxfglrGmsfhm != ''">and ZJZXFGLR_GMSFHM = #{zjzxfglrGmsfhm}</if>
            <if test="zjzxfglrLxdh != null and zjzxfglrLxdh != ''">and ZJZXFGLR_LXDH = #{zjzxfglrLxdh}</if>
            <if test="bz != null and bz != ''">and BZ = #{bz}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.smart119.jczy.domain.ZddwDO">
		insert into jczy_zddw
		(
			`ZDDW_TYWYSBM`, 
			`DWMC`, 
			`DWPYJC`, 
			`JJSYZLXDM`, 
			`CL_RQ`, 
			`DWHZWHXFLYDM`, 
			`DWZRXZDM`, 
			`DZMC`, 
			`LXDH`, 
			`DZXX`, 
			`XZQHDM`, 
			`YZBM`, 
			`RS`, 
			`ZD_MJ`, 
			`JZ_MJ`, 
			`XFJYJG_TYWYSBM`, 
			`DQJD`, 
			`DQWD`, 
			`JZ_SL`, 
			`DW_JYQK`, 
			`SFTDHSSTD_JYQK`, 
			`NBXFSS_JYQK`, 
			`FHSS_JYQK`, 
			`FRDB_XM`, 
			`FRDB_GMSFZH`, 
			`FRDB_LXDH`, 
			`XFAQZRR_XM`, 
			`XFAQZRR_GMSFHM`, 
			`XFAQZRR_LXDH`, 
			`XFAQGLR_XM`, 
			`XFAQGLR_GMSFHM`, 
			`XFAQGLR_LXDH`, 
			`ZJZXFGLR_XM`, 
			`ZJZXFGLR_GMSFHM`, 
			`ZJZXFGLR_LXDH`, 
			`BZ`,
			`XFKZS_JYQK`,
			`WXHXP_MC`,
			`WXHXP_WXHXPFLYDM`,
			`WXHXP_HXPZTLBDM`,
			`WXHXP_HXPWXXLBDM`,
			`WXHXP_SL`,
			`WXHXP_JYQK`,
			`WXHXP_DZMC`
		)
		values
		(
			#{zddwTywysbm}, 
			#{dwmc}, 
			#{dwpyjc}, 
			#{jjsyzlxdm}, 
			#{clRq}, 
			#{dwhzwhxflydm}, 
			#{dwzrxzdm}, 
			#{dzmc}, 
			#{lxdh}, 
			#{dzxx}, 
			#{xzqhdm}, 
			#{yzbm}, 
			#{rs}, 
			#{zdMj}, 
			#{jzMj}, 
			#{xfjyjgTywysbm}, 
			#{dqjd}, 
			#{dqwd}, 
			#{jzSl}, 
			#{dwJyqk}, 
			#{sftdhsstdJyqk}, 
			#{nbxfssJyqk}, 
			#{fhssJyqk}, 
			#{frdbXm}, 
			#{frdbGmsfzh}, 
			#{frdbLxdh}, 
			#{xfaqzrrXm}, 
			#{xfaqzrrGmsfhm}, 
			#{xfaqzrrLxdh}, 
			#{xfaqglrXm}, 
			#{xfaqglrGmsfhm}, 
			#{xfaqglrLxdh}, 
			#{zjzxfglrXm}, 
			#{zjzxfglrGmsfhm}, 
			#{zjzxfglrLxdh}, 
			#{bz},
			#{xfkzsjyqk},
			#{wxhxpmc},
			#{wxhxpwxhxpflydm},
			#{wxhxphxpztlbdm},
			#{wxhxphxpwxxlbdm},
			#{wxhxpsl},
			#{wxhxpjyqk},
			#{wxhxpdzmc}
		)
	</insert>

    <update id="update" parameterType="com.smart119.jczy.domain.ZddwDO">
        update jczy_zddw
        <set>
            <if test="dwmc != null">`DWMC` = #{dwmc},</if>
            <if test="dwpyjc != null">`DWPYJC` = #{dwpyjc},</if>
            <if test="jjsyzlxdm != null">`JJSYZLXDM` = #{jjsyzlxdm},</if>
            <if test="clRq != null">`CL_RQ` = #{clRq},</if>
            <if test="dwhzwhxflydm != null">`DWHZWHXFLYDM` = #{dwhzwhxflydm},</if>
            <if test="dwzrxzdm != null">`DWZRXZDM` = #{dwzrxzdm},</if>
            <if test="dzmc != null">`DZMC` = #{dzmc},</if>
            <if test="lxdh != null">`LXDH` = #{lxdh},</if>
            <if test="dzxx != null">`DZXX` = #{dzxx},</if>
            <if test="xzqhdm != null">`XZQHDM` = #{xzqhdm},</if>
            <if test="yzbm != null">`YZBM` = #{yzbm},</if>
            <if test="rs != null">`RS` = #{rs},</if>
            <if test="zdMj != null">`ZD_MJ` = #{zdMj},</if>
            <if test="jzMj != null">`JZ_MJ` = #{jzMj},</if>
            <if test="xfjyjgTywysbm != null">`XFJYJG_TYWYSBM` = #{xfjyjgTywysbm},</if>
            <if test="dqjd != null">`DQJD` = #{dqjd},</if>
            <if test="dqwd != null">`DQWD` = #{dqwd},</if>
            <if test="jzSl != null">`JZ_SL` = #{jzSl},</if>
            <if test="dwJyqk != null">`DW_JYQK` = #{dwJyqk},</if>
            <if test="sftdhsstdJyqk != null">`SFTDHSSTD_JYQK` = #{sftdhsstdJyqk},</if>
            <if test="nbxfssJyqk != null">`NBXFSS_JYQK` = #{nbxfssJyqk},</if>
            <if test="fhssJyqk != null">`FHSS_JYQK` = #{fhssJyqk},</if>
            <if test="frdbXm != null">`FRDB_XM` = #{frdbXm},</if>
            <if test="frdbGmsfzh != null">`FRDB_GMSFZH` = #{frdbGmsfzh},</if>
            <if test="frdbLxdh != null">`FRDB_LXDH` = #{frdbLxdh},</if>
            <if test="xfaqzrrXm != null">`XFAQZRR_XM` = #{xfaqzrrXm},</if>
            <if test="xfaqzrrGmsfhm != null">`XFAQZRR_GMSFHM` = #{xfaqzrrGmsfhm},</if>
            <if test="xfaqzrrLxdh != null">`XFAQZRR_LXDH` = #{xfaqzrrLxdh},</if>
            <if test="xfaqglrXm != null">`XFAQGLR_XM` = #{xfaqglrXm},</if>
            <if test="xfaqglrGmsfhm != null">`XFAQGLR_GMSFHM` = #{xfaqglrGmsfhm},</if>
            <if test="xfaqglrLxdh != null">`XFAQGLR_LXDH` = #{xfaqglrLxdh},</if>
            <if test="zjzxfglrXm != null">`ZJZXFGLR_XM` = #{zjzxfglrXm},</if>
            <if test="zjzxfglrGmsfhm != null">`ZJZXFGLR_GMSFHM` = #{zjzxfglrGmsfhm},</if>
            <if test="zjzxfglrLxdh != null">`ZJZXFGLR_LXDH` = #{zjzxfglrLxdh},</if>
            <if test="bz != null">`BZ` = #{bz}</if>
            <if test="xfkzsjyqk != null">`XFKZS_JYQK` = #{xfkzsjyqk}</if>
            <if test="wxhxpmc != null">`WXHXP_MC` = #{wxhxpmc}</if>
            <if test="wxhxpwxhxpflydm != null">`WXHXP_WXHXPFLYDM` = #{wxhxpwxhxpflydm}</if>
            <if test="wxhxphxpztlbdm != null">`WXHXP_HXPZTLBDM` = #{wxhxphxpztlbdm}</if>
            <if test="wxhxphxpwxxlbdm != null">`WXHXP_HXPWXXLBDM` = #{wxhxphxpwxxlbdm}</if>
            <if test="wxhxpsl != null">`WXHXP_SL` = #{wxhxpsl}</if>
            <if test="wxhxpjyqk != null">`WXHXP_JYQK` = #{wxhxpjyqk}</if>
            <if test="wxhxpdzmc != null">`WXHXP_DZMC` = #{wxhxpdzmc}</if>
        </set>
        where ZDDW_TYWYSBM = #{zddwTywysbm}
    </update>

    <delete id="remove">
		delete from jczy_zddw where ZDDW_TYWYSBM = #{value}
	</delete>

    <delete id="batchRemove">
        delete from jczy_zddw where ZDDW_TYWYSBM in
        <foreach item="zddwTywysbm" collection="array" open="(" separator="," close=")">
            #{zddwTywysbm}
        </foreach>
    </delete>

    <select id="zddwSb" resultType="com.smart119.jczy.domain.ZddwDO">
        SELECT
        *
        FROM
        (
        SELECT
        t.*,
        ROUND(
        6378.138 * 2 * ASIN(
        SQRT(
        POW( SIN( ( t.DQWD * PI( ) / 180- #{wd} * PI( ) / 180 ) / 2 ), 2 ) + COS( t.DQJD * PI( ) / 180 ) * COS( #{jd} * PI( ) / 180 ) * POW( SIN( ( t.DQJD * PI( ) / 180- #{jd} * PI( ) / 180 ) / 2 ), 2 )
        )
        ) * 1000
        ) AS distance
        FROM
        jczy_zddw t
        HAVING
        distance <![CDATA[ <= ]]> 100
        ) tt
        ORDER BY
        tt.distance
        LIMIT 1
    </select>
</mapper>