<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.jczy.dao.ZzdyXfzbDao">

	<select id="get" resultType="com.smart119.jczy.domain.ZzdyXfzbDO">
		select `id`,`ZZDY_TYWYBS`,`XFZB_TYWYSBM` from jczy_zzdy_xfzb where id = #{value}
	</select>

	<select id="list" resultType="com.smart119.jczy.domain.ZzdyXfzbDO">
		select `id`,`ZZDY_TYWYBS`,`XFZB_TYWYSBM` from jczy_zzdy_xfzb
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="zzdyTywybs != null and zzdyTywybs != ''"> and ZZDY_TYWYBS = #{zzdyTywybs} </if>
		  		  <if test="xfzbTywysbm != null and xfzbTywysbm != ''"> and XFZB_TYWYSBM = #{xfzbTywysbm} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from jczy_zzdy_xfzb
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="zzdyTywybs != null and zzdyTywybs != ''"> and ZZDY_TYWYBS = #{zzdyTywybs} </if>
		  		  <if test="xfzbTywysbm != null and xfzbTywysbm != ''"> and XFZB_TYWYSBM = #{xfzbTywysbm} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.smart119.jczy.domain.ZzdyXfzbDO">
		insert into jczy_zzdy_xfzb
		(
			`id`, 
			`ZZDY_TYWYBS`, 
			`XFZB_TYWYSBM`
		)
		values
		(
			#{id}, 
			#{zzdyTywybs}, 
			#{xfzbTywysbm}
		)
	</insert>
	 
	<update id="update" parameterType="com.smart119.jczy.domain.ZzdyXfzbDO">
		update jczy_zzdy_xfzb 
		<set>
			<if test="zzdyTywybs != null">`ZZDY_TYWYBS` = #{zzdyTywybs}, </if>
			<if test="xfzbTywysbm != null">`XFZB_TYWYSBM` = #{xfzbTywysbm}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from jczy_zzdy_xfzb where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from jczy_zzdy_xfzb where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="getZzdyXfzb" resultType="com.smart119.jczy.domain.ZzdyXfzbDO">
		select zzdyxfzb.id,zzdyxfzb.ZZDY_TYWYBS,xfzb.XFZB_TYWYSBM,xfzb.XFZB_MC from jczy_zzdy_xfzb zzdyxfzb
		left join jczy_xfzb xfzb on zzdyxfzb.XFZB_TYWYSBM = xfzb.XFZB_TYWYSBM
		where zzdyxfzb.ZZDY_TYWYBS=#{zzdyTywybs}
	</select>

	<delete id="removeZzdyXfzb">
		delete from jczy_zzdy_xfzb where ZZDY_TYWYBS = #{value}
	</delete>

</mapper>