<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.system.dao.DeptDao">

	<select id="get" resultType="com.smart119.system.domain.DeptDO">
		select
		`dept_id`,`parent_id`,`name`,`order_num`,`del_flag`
		,`XFJYJG_TYWYSBM`,`DWMC`,`DWJC`
		,`LXR_XM`,`LXDH`,`TXDZ`,`YZBM`
		,`DZXX`,`ZHZ_JYQK`,`DQJD`,`DQWD`
		,`XZQHDM`,`CZHM`,`XFJYJGXZDM`,`BZ`,`ZBFW`
		 from sys_dept
		where dept_id = #{value}
	</select>
	<select id="getDeptId" resultType="com.smart119.system.domain.DeptDO">
		select
		`dept_id`,`parent_id`,`name`,`order_num`,`del_flag`
		,`XFJYJG_TYWYSBM`,`DWMC`,`DWJC`
		,`LXR_XM`,`LXDH`,`TXDZ`,`YZBM`
		,`DZXX`,`ZHZ_JYQK`,`DQJD`,`DQWD`
		,`XZQHDM`,`CZHM`,`XFJYJGXZDM`,`BZ`,`ZBFW`
		from sys_dept
		where XFJYJG_TYWYSBM = #{value}
	</select>
	<select id="list" resultType="com.smart119.system.domain.DeptDO">
		select `dept_id`,`parent_id`,`name`,`order_num`,`del_flag`
		,`XFJYJG_TYWYSBM`,`DWMC`,`DWJC`
		,`LXR_XM`,`LXDH`,`TXDZ`,`YZBM`
		,`DZXX`,`ZHZ_JYQK`,`DQJD`,`DQWD`
		,`XZQHDM`,`CZHM`,`XFJYJGXZDM`,`BZ`,`ZBFW`
		from sys_dept
		<where>
			<if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="dwmc != null and dwmc != ''"> and DWMC like '%${dwmc}%' </if>
			<if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
			<if test="XFJYJG_TYWYSBM != null and XFJYJG_TYWYSBM != ''"> and XFJYJG_TYWYSBM = #{XFJYJG_TYWYSBM} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by parent_id,order_num
			</otherwise>
		</choose>
	</select>

	<!--<select id="count" resultType="int">-->
		<!--select count(*) from sys_dept-->
		<!--<where>-->
			<!--<if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>-->
			<!--<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>-->
			<!--<if test="DWMC != null and DWMC != ''"> and DWMC = #{DWMC} </if>-->
			<!--<if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>-->
			<!--<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>-->
			<!--<if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''"> and parent_id = #{xfjyjgTywysbm} </if>-->
		<!--</where>-->
	<!--</select>-->

	<select id="count" resultType="int">
		SELECT count(*) from sys_dept where parent_id=(SELECT dept_id from sys_dept where XFJYJG_TYWYSBM=#{xfjyjgTywysbm})

	</select>

	<insert id="save" parameterType="com.smart119.system.domain.DeptDO"
		useGeneratedKeys="true" keyProperty="deptId">
		insert into sys_dept
		(
		`parent_id`,
		`name`,
		`order_num`,
		`del_flag`,
		`XFJYJG_TYWYSBM`,
		`DWMC`,
		`DWJC`,
		`LXR_XM`,
		`LXDH`,
		`TXDZ`,
		`YZBM`,
		`DZXX`,
		`ZHZ_JYQK`,
		`DQJD`,
		`DQWD`,
		`XZQHDM`,
		`CZHM`,
		`XFJYJGXZDM`,
		`BZ`,
		`ZBFW`,
		`cdate`,
		`cperson`,
		`status`
		)
		<if test="parentId != 0">
			select
			#{parentId},
			#{name},
			`order_num` + 1,
			#{delFlag},
			#{xfjyjgTywysbm},
			#{dwmc},
			#{dwjc},
			#{lxrXm},
			#{lxdh},
			#{txdz},
			#{yzbm},
			#{dzxx},
			#{zhzJyqk},
			#{dqjd},
			#{dqwd},
			#{xzqhdm},
			#{czhm},
			#{xfjyjgxzdm},
			#{bz},
			#{zbfw},
			#{cdate},
			#{cperson},
			#{status}
			from sys_dept where dept_id = #{parentId} ORDER BY order_num desc limit 1
		</if>
		<if test="parentId == 0">
			select
			#{parentId},
			#{name},
			`order_num` + 1,
			#{delFlag},
			#{xfjyjgTywysbm},
			#{dwmc},
			#{dwjc},
			#{lxrXm},
			#{lxdh},
			#{txdz},
			#{yzbm},
			#{dzxx},
			#{zhzJyqk},
			#{dqjd},
			#{dqwd},
			#{xzqhdm},
			#{czhm},
			#{xfjyjgxzdm},
			#{bz},
			#{zbfw},
			#{cdate},
			#{cperson},
			#{status}
			from sys_dept where parent_id = #{parentId} ORDER BY order_num desc limit 1
		</if>
	</insert>

	<update id="updatexml" parameterType="com.smart119.system.domain.DeptDO">
		update sys_dept
		<set>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="orderNum != null">`order_num` = #{orderNum}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="dwmc != null">`DWMC` = #{dwmc}, </if>
			<if test="dwjc != null">`DWJC` = #{dwjc}, </if>
			<if test="lxrXm != null">`LXR_XM` = #{lxrXm}, </if>
			<if test="lxdh != null">`LXDH` = #{lxdh}, </if>
			<if test="txdz != null">`TXDZ` = #{txdz}, </if>
			<if test="yzbm != null">`YZBM` = #{yzbm}, </if>
			<if test="dzxx != null">`DZXX` = #{dzxx}, </if>
			<if test="zhzJyqk != null">`ZHZ_JYQK` = #{zhzJyqk}, </if>
			<if test="dqjd != null">`DQJD` = #{dqjd}, </if>
			<if test="dqwd != null">`DQWD` = #{dqwd}, </if>
			<if test="xzqhdm != null">`XZQHDM` = #{xzqhdm}, </if>
			<if test="czhm != null">`CZHM` = #{czhm}, </if>
			<if test="xfjyjgxzdm != null">`XFJYJGXZDM` = #{xfjyjgxzdm}, </if>
			<if test="bz != null">`BZ` = #{bz}, </if>
			<if test="zbfw != null">`ZBFW` = #{zbfw}, </if>
		</set>
		where XFJYJG_TYWYSBM = #{xfjyjgTywysbm}
	</update>

	<delete id="batchRemove">
		delete from sys_dept where dept_id in
		<foreach item="deptId" collection="array" open="(" separator=","
			close=")">
			#{deptId}
		</foreach>
	</delete>

	<select id="listParentDept" resultType="long">
		select DISTINCT parent_id from sys_dept
	</select>

    <select id="getDeptUserNumber" resultType="int">
		select count(*) from sys_user where XFJYJG_TYWYSBM = #{value}
	</select>

	<select id="findXfjyjgxzdmName" resultType="String">
		select `name` from sys_dict where `value`=#{value} and description='消防救援机构性质代码'
	</select>

	<select id="findNameByTYWYSBM" resultType="String">
		select `DWMC` from sys_dept where `XFJYJG_TYWYSBM`=#{value}
	</select>

	<select id="getDeptByXFJYJGXZDM" resultType="com.smart119.system.domain.DeptDO"  parameterType="java.lang.String">
		select * from sys_dept d where d.XFJYJGXZDM like '${XFJYJGXZDM}%'
	</select>

	<select id="getDeptByRange" resultType="com.smart119.system.domain.DeptDO">
		select d.*, calculateLineDistance(d.DQJD, d.DQWD, #{jd}, #{wd}) AS distance
		 from sys_dept d
		where d.XFJYJGXZDM like '90%'
		HAVING distance <![CDATA[ <= ]]> #{distance}
	</select>


	<select id="getXfjyjgZdAndDd" resultType="com.smart119.system.domain.DeptDO">
		select s.* from sys_dept s where s.XFJYJGXZDM like '30%' or s.XFJYJGXZDM like '50%'
	</select>

	<select id="findJyjgxzdmById" resultType="java.util.HashMap">
		SELECT dict1.`value` as val1,dict2.`value` as val2
		FROM sys_dict dict1
		LEFT JOIN sys_dict dict2
		on dict2.parent_id = dict1.id
		LEFT JOIN sys_dept dept
		on dept.XFJYJGXZDM = dict2.`value`
		where dept.dept_id=#{value}
		and dict2.type='XFJYJGXZDM'
		and dict1.type='XFJYJGXZDM'
	</select>


</mapper>
