<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.system.dao.LevelPlanDao">
	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.smart119.system.domain.LevelPlanDO" id="levelPlanMap">
					<result property="levelPlanId" column="level_plan_id"/>
					<result property="planName" column="plan_name"/>
					<result property="planContent" column="plan_content"/>
					<result property="planType" column="plan_type"/>
					<result property="planLevel" column="plan_level"/>
					<result property="cdate" column="cdate"/>
					<result property="status" column="status"/>
					<result property="cperson" column="cperson"/>
			</resultMap>
	<select id="selectPageVo" resultType="com.smart119.system.domain.LevelPlanDO" >
		select t.level_plan_id,t.plan_name,t.plan_content,a.plan_type,a.plan_level,a.zhcs from jczy_level_plan t join (SELECT
		    a.level_plan_id,
			s1.name as plan_type,
			s2.name as plan_level,
			s3.name as zhcs
		FROM
			jczy_policestaion_typelevel a
			LEFT JOIN sys_dict s1 on s1.value = a.POLICESTAION_TYPE_TYWYSBM  and s1.type= 'JQFLYDM'
			LEFT JOIN sys_dict s2 on s2.value = a.POLICESTAION_LEVEL_TYWYSBM and s2.type= 'JQDJDM'
			LEFT JOIN sys_dict s3 on s3.value = a.zhcs and s3.type= 'ZHCS'
		GROUP BY
	a.level_plan_id)  a on t.level_plan_id = a.level_plan_id
	  <where>
		   <if test="params.planName!=null and params.planName!=''">
			  and  t.plan_name like concat('%',#{params.planName},'%')
		   </if>
	  </where>
	</select>
</mapper>