<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left" id="checkInfo">

						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2">
							<input id="searchName" type="text" class="form-control"
								placeholder="根据作战单元名称选择">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
					<div class="columns pull-right">
						<button shiro:hasPermission="jczy:bcbd:batchRemove" type="button" class="btn  btn-primary"
								onclick="batchSelect()">
							确定
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="jczy:bcbd:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="jczy:bcbd:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="jczy:bcbd:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/jczy/bcbd/addzzdy.js"></script>
	<script type="text/javascript" src="/js/appjs/common/rememberme.js"></script>
</body>
</html>