<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${device.id}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称：</label>
                            <div class="col-sm-8">
                                <input id="name" name="name" th:value="${device.name}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">类型：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="type" name="type" title="类型" required>
                                    <option value="">--请选择--</option>
                                    <option th:each="dictDO : ${dictDOList}" th:value="${dictDO.value}"
                                            th:text="${dictDO.name}" th:selected="${dictDO.value == device.type+''}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">中控器：</label>
                            <div class="col-sm-8">
                                <select id="controller" name="controller" class="form-control" onChange="changeControl()" required>
<!--                                    <option value="">请选择</option>-->
                                    <option th:each="controllerDO: ${controllerDOList}" th:value="${controllerDO.id}" th:text="${controllerDO.name}"
                                            th:selected="${controllerDO.id == device.controllerId}"></option>
                                </select>
                            </div>
                        </div>
                        <input id="controllerPortIdParams" name="controllerPortIdParams" th:value="${device.controllerPortId}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">中控器端口：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="controllerPort" name="controllerPortId" title="中控器端口" required>
                                </select>
                            </div>
                        </div>
                        <input id="xfjyjgTywysbm" name="xfjyjgTywysbm" th:value="${device.xfjyjgTywysbm}" type="hidden">
                        <input id="createTime" name="createTime" th:value="${device.createTime}" type="hidden">
                        <input id="updateTime" name="updateTime" th:value="${device.updateTime}" type="hidden">
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/iot/device/edit.js">
</script>
</body>
</html>
