<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="col-sm-12">
							<h4>发布文章</h4>
						</div>
						<form class="form-horizontal m-t" id="signupForm" enctype="multipart/form-data">
							<input id="cid" name="cid" type="hidden"
								th:value="${bContent.cid}">
							<input id="uuid" name="uuid" type="hidden"
								   th:value="${bContent.uuid}">
							<input id="status" name="status" type="hidden" th:value="${bContent.status}">
							<div class="form-group">
								<label class="col-sm-1 control-label">标题：</label>
								<div class="col-sm-4">
									<input id="title" name="title" class="form-control" type="text"
										th:value="${bContent.title}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">内容分类：</label>
								<div class="col-sm-4">
									<select data-placeholder="内容分类" name="categories" title="内容分类" id="categories"
											class="form-control chosen-select" tabindex="1" required>
										<option value="">--请选择--</option>
										<option value="1" th:selected="${bContent.categories == '1'}">精彩时刻</option>
										<option value="2" th:selected="${bContent.categories == '2'}">最新活动</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">活动是否过期：</label>
								<div class="col-sm-4">
									<select data-placeholder="活动是否过期" name="staleDated" title="活动是否过期" id=""
											class="form-control chosen-select" tabindex="1" required>
										<option value="">--请选择--</option>
										<option value="1" th:selected="${bContent.staleDated == '0'}">有效</option>
										<option value="2" th:selected="${bContent.staleDated == '1'}">过期</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">参加活动费用：</label>
								<div class="col-sm-4">
									<input  id="price" name="price" class="form-control" type="text"
											th:value="${bContent.price}"/>
								</div>
							</div>
							<div class="form-group">
								<input id="content" name="content" type="hidden"
									th:value="${bContent.content}"> <label
									class="col-sm-1 control-label">内容：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn" class="summernote"></div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">附件：</label>
								<div class="col-sm-4">
									<input id='input-id' multiple type="file" name="file" data-show-caption="true"  />
								</div>
								<div class="col-sm-4">
									<input id='input-id1' multiple type="file" name="file" data-show-caption="true"  />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">附件：</label>
								<div class="col-sm-4">
									<input id='input-id2' multiple type="file" name="file" data-show-caption="true"   />
								</div>
								<div class="col-sm-4">
									<input id='input-id3' multiple type="file" name="file" data-show-caption="true"   />
								</div>
							</div>
							<div class="text-right form-group">
								<button type="button"
									class="btn btn-primary waves-effect waves-light"
									onclick="save(1)">保存文章</button>
								<button type="button"
									class="btn btn-warning waves-effect waves-light"
									onclick="save(0)">存为草稿</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script th:inline="javascript">
		var fileList = [[${fileList}]];
	</script>
	<script type="text/javascript" src="/js/appjs/blog/bContent/edit.js">
	</script>
</body>
</html>
