<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">重点单位名称：</label>
                            <div class="col-sm-4">
                                <input id="dwmc" name="dwmc" class="form-control" type="text">
                            </div>
							<label class="col-sm-2 control-label">单位拼音简称：</label>
							<div class="col-sm-4">
								<input id="dwpyjc" name="dwpyjc" class="form-control" type="text">
							</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">经济所有制类型：</label>
                            <div class="col-sm-4">
                                <select data-placeholder="经济所有制类型" name="jjsyzlxdm" id="jjsyzlxdm" title="经济所有制类型"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="">--请选择经济所有制类型--</option>
                                </select>
                            </div>
							<label class="col-sm-2 control-label">成立日期：</label>
                                <div class="col-sm-3">
                                    <input type="text" class="laydate-icon layer-date form-control" id="clRq" name="clRq" placeholder="请选择成立日期"
                                           onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="background-color: #fff;" readonly="readonly" title="请选择成立日期" required/>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">单位火灾危害性分类：</label>
                            <div class="col-sm-4">
                                <select data-placeholder="单位火灾危害性分类" name="dwhzwhxflydm" id="dwhzwhxflydm" title="单位火灾危害性分类"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="">--请选择单位火灾危害性分类--</option>
                                </select>
                            </div>
							<label class="col-sm-2 control-label">单位自然性质：</label>
							<div class="col-sm-4">
                                <select data-placeholder="单位自然性质" name="dwzrxzdm" id="dwzrxzdm" title="单位自然性质"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="">--请选择单位自然性质--</option>
                                </select>
							</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">单位地址：</label>
                            <div class="col-sm-10">
                                <input id="dzmc" name="dzmc" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
							<label class="col-sm-2 control-label">联系电话：</label>
							<div class="col-sm-3">
								<input id="lxdh" name="lxdh" class="form-control" type="text">
							</div>
                            <label class="col-sm-2 control-label">电子信箱：</label>
                            <div class="col-sm-3">
                                <input id="dzxx" name="dzxx" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">行政区划：</label>
                            <div class="col-sm-3">
                                <select data-placeholder="省/直辖市" name="province" title="省/直辖市"
                                        class="form-control chosen-select" tabindex="2">
                                    <option value="">山东省</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select data-placeholder="市/直辖县" name="city" title="市/直辖县" id="city" onchange="getXzqhdm(this,'xzqhdm')"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="">--选择类别--</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select data-placeholder="区/县" name="xzqhdm" title="区/县" id="xzqhdm"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">邮政编码：</label>
                            <div class="col-sm-4">
                                <input id="yzbm" name="yzbm" class="form-control" type="text">
                            </div>
							<label class="col-sm-2 control-label">人数：</label>
							<div class="col-sm-4">
								<input id="rs" name="rs" class="form-control" type="number" min="0">
							</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">占地面积：</label>
                            <div class="col-sm-2">
                                <input id="zdMj" name="zdMj" class="form-control" type="number" min="0">
                            </div>
							<label class="col-sm-2 control-label">建筑面积：</label>
							<div class="col-sm-2">
								<input id="jzMj" name="jzMj" class="form-control" type="number" min="0">
							</div>
							<label class="col-sm-2 control-label">建筑数量：</label>
							<div class="col-sm-2">
								<input id="jzSl" name="jzSl" class="form-control" type="number" min="0">
							</div>
                        </div>
                        <div class="form-group">
							<label class="col-sm-2 control-label">消防救援机构：</label>
							<div class="col-sm-2">
								<input id="xfjyjgTywysbm" name="xfjyjgTywysbm" class="hidden"> <input
									id="deptName" name="deptName" class="form-control" type="text"
									style="cursor: pointer;" onclick="openDept()"
									readonly="readonly" placeholder="请选择消防救援机构" title="请选择消防救援机构" required>
							</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">地球经度：</label>
                            <div class="col-sm-4">
                                <input id="dqjd" name="dqjd" class="form-control" type="text" style="cursor: pointer;" onclick="openMap()"
                                       readonly="readonly" placeholder="请选择" title="请在地图上选择重点单位位置" required>
                            </div>
                            <label class="col-sm-2 control-label">地球纬度：</label>
                            <div class="col-sm-4">
                                <input id="dqwd" name="dqwd" class="form-control" type="text" style="cursor: pointer;" onclick="openMap()"
                                       readonly="readonly" placeholder="请选择" title="请在地图上选择重点单位位置" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">单位简要情况：</label>
                            <div class="col-sm-10">
								<textarea id="dwJyqk" name="dwJyqk" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">消防通道或疏散通道简要情况：</label>
							<div class="col-sm-10">
								<textarea id="sftdhsstdJyqk" name="sftdhsstdJyqk" class="form-control"></textarea>
							</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">内部消防设施简要情况：</label>
							<div class="col-sm-10">
								<textarea id="nbxfssJyqk" name="nbxfssJyqk" class="form-control"></textarea>
							</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">防火设施简要情况：</label>
							<div class="col-sm-10">
								<textarea id="fhssJyqk" name="fhssJyqk" class="form-control"></textarea>
							</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">法人代表姓名：</label>
                            <div class="col-sm-2">
                                <input id="frdbXm" name="frdbXm" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">法人代表身份证号：</label>
                            <div class="col-sm-2">
                                <input id="frdbGmsfzh" name="frdbGmsfzh" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">法人代表电话：</label>
                            <div class="col-sm-2">
                                <input id="frdbLxdh" name="frdbLxdh" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">消防安全责任人姓名：</label>
                            <div class="col-sm-2">
                                <input id="xfaqzrrXm" name="xfaqzrrXm" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">消防安全责任人身份证号：</label>
                            <div class="col-sm-2">
                                <input id="xfaqzrrGmsfhm" name="xfaqzrrGmsfhm" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">消防安全责任人电话：</label>
                            <div class="col-sm-2">
                                <input id="xfaqzrrLxdh" name="xfaqzrrLxdh" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">消防安全管理人姓名：</label>
                            <div class="col-sm-2">
                                <input id="xfaqglrXm" name="xfaqglrXm" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">消防安全管理人身份证号：</label>
                            <div class="col-sm-2">
                                <input id="xfaqglrGmsfhm" name="xfaqglrGmsfhm" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">消防安全管理人电话：</label>
                            <div class="col-sm-2">
                                <input id="xfaqglrLxdh" name="xfaqglrLxdh" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">专兼职消防管理人姓名：</label>
                            <div class="col-sm-2">
                                <input id="zjzxfglrXm" name="zjzxfglrXm" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">专兼职消防管理人身份证号码：</label>
                            <div class="col-sm-2">
                                <input id="zjzxfglrGmsfhm" name="zjzxfglrGmsfhm" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">专兼职消防管理人电话：</label>
                            <div class="col-sm-2">
                                <input id="zjzxfglrLxdh" name="zjzxfglrLxdh" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注：</label>
                            <div class="col-sm-4">
                                <input id="bz" name="bz" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/jczy/zddw/add.js">
</script>
</body>
</html>
