<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.iot.dao.ControllerPortDao">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.smart119.iot.domain.ControllerPortDO" id="controllerPortMap">
		<result property="id" column="id"/>
		<result property="channelNumber" column="channel_number"/>
		<result property="address" column="address"/>
		<result property="portAddress" column="port_address"/>
		<result property="status" column="status"/>
		<result property="controllerId" column="controller_id"/>
		<result property="restorationTime" column="restoration_time"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>
	<select id="selectPageVo" resultType="com.smart119.iot.domain.ControllerPortDO">
		select
		t.id as id,
		t.channel_number as channelNumber,
		t.address as address,
		t.port_address as portAddress,
		t.status as status,
		t.controller_id as controllerId,
		t.restoration_time as restorationTime,
		t.create_time as createTime,
		t.update_time as updateTime,
		d.DWMC as deptName,
		c.`name` as controllerName
		from
		iot_controller_port t
		left join iot_controller c on c.id = t.controller_id
		left join sys_dept d on d.XFJYJG_TYWYSBM = c.xfjyjg_tywysbm
		where 1=1
		<if test="params.xfjyjgTywysbm != null and params.xfjyjgTywysbm != ''"> and d.xfjyjg_tywysbm = #{params.xfjyjgTywysbm}</if>
	</select>


</mapper>