<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.iot.dao.ControllerDao">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.smart119.iot.domain.ControllerDO" id="controllerMap">
		<result property="id" column="id"/>
		<result property="ip" column="ip"/>
		<result property="port" column="port"/>
		<result property="name" column="name"/>
		<result property="status" column="status"/>
		<result property="xfjyjgTywysbm" column="xfjyjg_tywysbm"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>
	<select id="selectPageVo" resultType="com.smart119.iot.domain.ControllerDO">
		select
			t.id as id,
			t.ip as ip,
			t.port as port,
			t.name as name,
			t.status as status,
			t.xfjyjg_tywysbm as xfjyjgTywysbm,
			t.create_time as createTime,
			t.update_time as updateTime,
			d.DWMC as deptName,
			dict.name as statusName
		from
			iot_controller t
			left join sys_dept d on d.XFJYJG_TYWYSBM = t.xfjyjg_tywysbm
			left join sys_dict dict on dict.type = "wlzkqwlzt" and dict.value = t.status
		where 1=1
		<if test="params.name != null and params.name != ''"> and t.name like CONCAT('%',#{params.name},'%') </if>
		<if test="params.deptList != null and params.deptList.size() > 0"> and t.xfjyjg_tywysbm in
			<foreach collection="params.deptList" item="item" index="index" separator="," open="(" close=")">
				#{item.xfjyjgTywysbm}
			</foreach>
		</if>
	</select>

	<select id="list" resultType="com.smart119.iot.domain.ControllerDO">
		select
		t.id as id,
		t.ip as ip,
		t.port as port,
		t.name as name,
		t.status as status,
		t.xfjyjg_tywysbm as xfjyjgTywysbm,
		t.create_time as createTime,
		t.update_time as updateTime,
		d.DWMC as deptName
		from
		iot_controller t
		left join sys_dept d on d.XFJYJG_TYWYSBM = t.xfjyjg_tywysbm
		where 1=1
		<if test="params.xfjyjgTywysbm != null and params.xfjyjgTywysbm != ''"> and t.xfjyjg_tywysbm = #{params.xfjyjgTywysbm}</if>
	</select>

	<select id="selectById" resultType="com.smart119.iot.domain.ControllerDO">
		select
		t.id as id,
		t.ip as ip,
		t.port as port,
		t.name as name,
		t.status as status,
		t.xfjyjg_tywysbm as xfjyjgTywysbm,
		t.create_time as createTime,
		t.update_time as updateTime,
		d.DWMC as deptName
		from
		iot_controller t
		left join sys_dept d on d.XFJYJG_TYWYSBM = t.xfjyjg_tywysbm
		where t.id = #{id}
	</select>

</mapper>