<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-2 control-label">单位名称：</label>
								<div class="col-sm-4">
									<input id="dwmc" name="dwmc" class="form-control" type="text" required>
								</div>

								<label class="col-sm-2 control-label">联动单位类别：</label>
								<div class="col-sm-4">
									<!--<input id="lddwlbdm" name="lddwlbdm" class="form-control" type="text">-->
									<select data-placeholder="联动单位类别" name="lddwlbdm" title="联动单位类别" id="lddwlbdm"
											class="form-control chosen-select" tabindex="2" required>
										<option value="">--选择类别--</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">单位地址：</label>
								<div class="col-sm-4">
									<input id="dwdz" name="dwdz" class="form-control" type="text" required>
								</div>

								<label class="col-sm-2 control-label">消防救援机构：</label>
								<div class="col-sm-4">
									<!--<input id="xfjyjgTywysbm" name="xfjyjgTywysbm" class="form-control" type="text">-->
									<input id="xfjyjgTywysbm" name="xfjyjgTywysbm" class="hidden"> <input
										id="xfjyjgTywysbmName" name="xfjyjgTywysbmName" class="form-control" type="text"
										style="cursor: pointer;" onclick="openDept('xfjyjgTywysbm')"
										readonly="readonly" placeholder="消防救援机构" title="消防救援机构" required>
								</div>

							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">联系人：</label>
								<div class="col-sm-4">
									<input id="lxr" name="lxr" class="form-control" type="text" required>
								</div>

								<label class="col-sm-2 control-label">联系电话：</label>
								<div class="col-sm-4">
									<input id="lxdh" name="lxdh" class="form-control" type="text" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">地球经度：</label>
								<div class="col-sm-4">
									<input id="dqjd" name="dqjd" class="form-control" type="text" onclick="openMap()" style="cursor: pointer;" readonly="readonly"  placeholder="请选择" required value="118.359278">
								</div>

								<label class="col-sm-2 control-label">地球纬度：</label>
								<div class="col-sm-4">
									<input id="dqwd" name="dqwd" class="form-control" type="text" onclick="openMap()" style="cursor: pointer;" readonly="readonly"  placeholder="请选择" required value="35.107927">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">所在区划：</label>
								<!--<div class="col-sm-10">-->
								<!--<input id="jgdm" name="jgdm" class="form-control" type="text">-->
								<!--</div>-->
								<div class="col-sm-3">
									<select data-placeholder="省/直辖市" name="province" id="province" title="省/直辖市" onchange="getXzqhdm(this,'city')"
											class="form-control chosen-select" tabindex="2" required>
										<option value="">--选择类别--</option>
									</select>
								</div>
								<div class="col-sm-3">
									<select data-placeholder="市/直辖县" name="city" title="市/直辖县" id="city" onchange="getXzqhdm(this,'xzqhdm')"
											class="form-control chosen-select" tabindex="2" required>
										<option value="">--选择类别--</option>
									</select>
								</div>
								<div class="col-sm-3">
									<select data-placeholder="区/县" name="xzqhdm" title="区/县" id="xzqhdm"
											class="form-control chosen-select" tabindex="2" required>
										<option value="">--选择类别--</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">保障能力_简要情况：</label>
								<div class="col-sm-10">
									<textarea id="bznlJyqk" name="bznlJyqk" class="form-control" required></textarea>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">保障概述_简要情况：</label>
								<div class="col-sm-10">
									<textarea id="bzgsJyqk" name="bzgsJyqk" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">单位简要情况：</label>
								<div class="col-sm-10">
									<textarea id="dwjyqk" name="dwjyqk" class="form-control"></textarea>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">传真号码：</label>
								<div class="col-sm-4">
									<input id="czhm" name="czhm" class="form-control" type="text">
								</div>
							</div>






							<div class="form-group">
								<div class="col-sm-10 col-sm-offset-2">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/jczy/shlddw/add.js">
	</script>
</body>
</html>
