<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart119.zb.dao.ZbDao">

    <select id="get" resultType="com.smart119.zb.domain.ZbDO">
		select `ZB_ID`,`XFJYJG_TYWYSBM`,`XFJYRY_TYWYSBM`,`ZBRQ`,`ZBZW_ID`,`cdate`,`status`,`cperson` from jczy_zb where ZB_ID = #{value}
	</select>

    <select id="list" resultType="com.smart119.zb.domain.ZbDO">
        select t.`ZB_ID`,t.`XFJYJG_TYWYSBM`,t.`XFJYRY_TYWYSBM`,t.`ZBRQ`,t.`ZBZW_ID`,t.`cdate`,t.`status`,t.`cperson`,r.XM from jczy_zb t
        left join jczy_xfjyry r on t.XFJYRY_TYWYSBM = r.XFJYRY_TYWYSBM
        <where>
            <if test="zbId != null and zbId != ''">and t.ZB_ID = #{zbId}</if>
            <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and t.XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
            <if test="xfjyryTywysbm != null and xfjyryTywysbm != ''">and t.XFJYRY_TYWYSBM = #{xfjyryTywysbm}</if>
            <if test="zbrq != null and zbrq != ''">and t.ZBRQ = #{zbrq}</if>
            <if test="zbzwId != null and zbzwId != ''">and t.ZBZW_ID = #{zbzwId}</if>
            <if test="cdate != null and cdate != ''">and t.cdate = #{cdate}</if>
            <if test="status != null and status != ''">and t.status = #{status}</if>
            <if test="cperson != null and cperson != ''">and t.cperson = #{cperson}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by ZB_ID desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from jczy_zb
        <where>
            <if test="zbId != null and zbId != ''">and ZB_ID = #{zbId}</if>
            <if test="xfjyjgTywysbm != null and xfjyjgTywysbm != ''">and XFJYJG_TYWYSBM = #{xfjyjgTywysbm}</if>
            <if test="xfjyryTywysbm != null and xfjyryTywysbm != ''">and XFJYRY_TYWYSBM = #{xfjyryTywysbm}</if>
            <if test="zbrq != null and zbrq != ''">and ZBRQ = #{zbrq}</if>
            <if test="zbzwId != null and zbzwId != ''">and ZBZW_ID = #{zbzwId}</if>
            <if test="cdate != null and cdate != ''">and cdate = #{cdate}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="cperson != null and cperson != ''">and cperson = #{cperson}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.smart119.zb.domain.ZbDO">
		insert into jczy_zb
		(
			`ZB_ID`, 
			`XFJYJG_TYWYSBM`, 
			`XFJYRY_TYWYSBM`, 
			`ZBRQ`, 
			`ZBZW_ID`, 
			`cdate`, 
			`status`, 
			`cperson`
		)
		values
		(
			#{zbId}, 
			#{xfjyjgTywysbm}, 
			#{xfjyryTywysbm}, 
			#{zbrq}, 
			#{zbzwId}, 
			#{cdate}, 
			#{status}, 
			#{cperson}
		)
	</insert>

    <update id="update" parameterType="com.smart119.zb.domain.ZbDO">
        update jczy_zb
        <set>
            <if test="xfjyjgTywysbm != null">`XFJYJG_TYWYSBM` = #{xfjyjgTywysbm},</if>
            <if test="xfjyryTywysbm != null">`XFJYRY_TYWYSBM` = #{xfjyryTywysbm},</if>
            <if test="zbrq != null">`ZBRQ` = #{zbrq},</if>
            <if test="zbzwId != null">`ZBZW_ID` = #{zbzwId},</if>
            <if test="cdate != null">`cdate` = #{cdate},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="cperson != null">`cperson` = #{cperson}</if>
        </set>
        where ZB_ID = #{zbId}
    </update>

    <delete id="remove">
		delete from jczy_zb where ZB_ID = #{value}
	</delete>

    <delete id="batchRemove">
        delete from jczy_zb where ZBRQ=#{rq} and XFJYJG_TYWYSBM = #{xfjyjgTywysbm}
    </delete>

</mapper>