<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart119.blog.dao.WxActivityDao">
    <resultMap id="BaseResultMap" type="com.smart119.blog.domain.WxActivity">
        <!--@mbg.generated-->
        <!--@Table wx_activity-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="trade_no" jdbcType="VARCHAR" property="tradeNo"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="wx_number" jdbcType="VARCHAR" property="wxNumber"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="emergency_phone" jdbcType="VARCHAR" property="emergencyPhone"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="card" jdbcType="VARCHAR" property="card"/>
        <result column="activity_uuid" jdbcType="VARCHAR" property="activityUuid"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, open_id, trade_no, nickname, wx_number, phone, emergency_phone, sex, card, activity_uuid,address,
        create_time
    </sql>

    <select id="queryWxActivityListPage" resultMap="BaseResultMap">
        select distinct wx_activity.trade_no,
               wx_activity.id,
               wx_activity.open_id,
               wx_activity.nickname,
               wx_activity.wx_number,
               wx_activity.phone,
               wx_activity.emergency_phone,
               wx_activity.sex,
               wx_activity.card,
               wx_activity.activity_uuid,
               wx_activity.address,
               wx_activity.create_time
        from wx_activity,
             oder_pay
        where ((wx_activity.trade_no = oder_pay.trade_no
          and oder_pay.pay_success = '2') or (status = '0'))
        <if test="param != null">
            <if test="param.wxNumber != null and param.wxNumber != ''">
                 and wx_activity.wx_number = #{param.wxNumber}
            </if>
             <if test="param.activityUuid != null and param.activityUuid != ''">
                 and wx_activity.activity_uuid = #{param.activityUuid}
            </if>
        </if>
         <if test="param.offset != null and param.limit != null">
            limit ${param.offset}, ${param.limit}
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from wx_activity,
             oder_pay
          where wx_activity.trade_no = oder_pay.trade_no
          and oder_pay.pay_success = '2'
        <if test="param != null">
            <if test="param.wxNumber != null and param.wxNumber != ''">
                 and wx_activity.wx_number = #{param.wxNumber}
            </if>
             <if test="param.activityUuid != null and param.activityUuid != ''">
                 and wx_activity.activity_uuid = #{param.activityUuid}
            </if>
        </if>
    </select>


    <select id="queryWxActivityList" resultType="com.smart119.blog.vo.WxActivityVo">
        select wx_activity.trade_no,
               wx_activity.id,
               wx_activity.open_id,
               wx_activity.nickname,
               wx_activity.wx_number,
               wx_activity.phone,
               wx_activity.emergency_phone,
               wx_activity.sex,
               wx_activity.card,
               wx_activity.activity_uuid,
               wx_activity.address,
               wx_activity.create_time
        from wx_activity,
             oder_pay
        where wx_activity.trade_no = oder_pay.trade_no
          and activity_uuid = #{activityUuid}
          and oder_pay.pay_success = '2'
        order by create_time desc
    </select>

</mapper>
